﻿@model OAP.Domain.ViewModel.QuestionPaperSectionViewModel
@{
    ViewBag.Title = "Questions";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Repository</a>
            </li>

            <li>
                <a href="/QuestionPaper/QuestionPaperList">Question Paper</a>
            </li>
            <li>
                <a  href="/QuestionPaper/Edit/@Model.QuestionPaperID">Edit</a>
            </li>
            <li>
                <a  href="/QuestionPaperSection/EditQuestionPaperSections/@Model.QuestionPaperID">QuestionPaper Sections</a>
            </li>
            <li>
                <a class="current" href="#">Add Questions</a>
            </li>

        </ul>
    </div>
</div>

<div class="row mappedQuestionsContainer">
    <div class="col-lg-3">
        <section class="panel">
            <header class="panel-heading">
                Criteria
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    @* <table class="display table table-bordered table-striped" id="tblTags" aria-describedby="editable-sample_info">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="chkAllTagsMappedTable" />Select All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TagViewModelList)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="chkTags chkTagsMappedTable" id="@item.ID" />@item.Name</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                    <form class="form-horizontal">
                      
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-2 control-label">Tag</label>
                            <div class="col-lg-6">
                                <select multiple name="e8" id="e8" style="width: 100%" class="populate " onchange="BindSelectedQuestions()">
                                    <optgroup label="Tag" class="notassociatedtagMapped">
                                        @foreach (var tag in Model.TagViewModelList)
                                        {
                                            <option value="@tag.ID" >@tag.Name</option>
                                        }
                                    </optgroup>
                                </select>
                                @*<input type="text" class="txt form-control tags" />*@
                            </div>
                        </div>
                        
                    </form>

                </div>
                <div style="clear: both;"></div>
            </div>
        </section>
    </div>
    <section class="panel">
        <header class="panel-heading">
            Selected Questions
         <span class="tools pull-right">
             <a class="fa fa-chevron-down collapsible" href="javascript:;"></a>
         </span>
        </header>
        <div class="panel-body">
            <div class="adv-table">
                <table class="display table table-bordered table-striped" id="tblSelectedQuestions" aria-describedby="editable-sample_info">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>
                                <input type="checkbox" class="chkAllMapped" /></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div style="clear: both"></div>
            <div class="uploadHolder">
                <button type="button" class="btn btn-success" onclick="UnMapSelectedQuestions(@Model.ID)" id="@Model.ID"><i class="fa fa-minus"></i>UnMap Questions </button>
                @*<button type="button" class="btn btn-success" onclick="window.location.href = '/Passage/Edit/@Model.ID'"> Cancel </button>*@
            </div>
        </div>
    </section>
</div>

<div class="row unMappedQuestionsContainer">
    <div class="col-lg-3">
        <section class="panel">
            <header class="panel-heading">
                Criteria
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    @* <table class="display table table-bordered table-striped" id="tblTags" aria-describedby="editable-sample_info">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="chkAllTagsUnMappedTable" />
                                    Select All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TagViewModelList)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="chkTags chkTagsUnMappedTable" id="@item.ID" />@item.Name</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                    <form class="form-horizontal">
                       
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-2 control-label">Tag</label>
                            <div class="col-lg-6">
                                <select multiple name="e13" id="e13" style="width: 100%" class="populate " onchange="BindAvailableQuestions()">
                                    <optgroup label="Tag" class="notassociatedtagUnMapped">
                                        @foreach (var tag in Model.TagViewModelList)
                                        {
                                            <option value="@tag.ID" >@tag.Name</option>
                                        }
                                    </optgroup>
                                </select>
                                @*<input type="text" class="txt form-control tags" />*@
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div style="clear: both;"></div>
            </div>
        </section>
    </div>
    <section class="panel">
        <header class="panel-heading">
            Available Questions
          <span class="tools pull-right">
              <a class="fa fa-chevron-down collapsible" href="javascript:;"></a>
          </span>
        </header>
        <div class="panel-body">
            <div class="adv-table">
                <table class="display table table-bordered table-striped" id="tblAvailableQuestions" aria-describedby="editable-sample_info">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>
                                <input type="checkbox" class="chkAllUnMapped" /></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div style="clear: both;"></div>

            <div class="uploadHolder">
                <button type="button" class="btn btn-success" onclick="MapSelectedQuestions(@Model.ID)" id="@Model.ID"><i class="fa fa-plus"></i>Map Questions </button>

                <button type="button" class="btn btn-success" onclick="OpenRandomQuestionModal()">Get Random Questions </button>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="questionDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Question</h4>
            </div>*@
            <div class="questionContainer">
            </div>


            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body messageContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RandomQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Generate Random Questions</h4>
            </div>
            <div class="modal-body ">
                <div class="position-center">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Question Count</label>
                            <div class="col-lg-6">
                                <input type="text" class="randomQuestionCount form-control" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                  <button class="btn btn-success " type="button" onclick="GenerateRandomQuestions()">Generate</button>
                <button data-dismiss="modal" class="btn btn-default btnCloseRandomGeneration" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/OAP/QuestionPaperSection.js"></script>
    <script>
        var fileteredQuestionCount = 0;

        function BindSelectedQuestions() {
            //if ($.fn.dataTable.isDataTable('#tblSelectedQuestions')) {
            //}
            var tagIDString = "";
            var subjectIDString = "";
            $('.notAssociatedSubjectsMapped :selected').each(function (i, selected) {
                if (subjectIDString == "") {
                    subjectIDString = $(selected).val();
                }
                else {
                    subjectIDString += "," + $(selected).val();
                }
            });
            $('.notassociatedtagMapped :selected').each(function (i, selected) {
                if (tagIDString == "") {
                    tagIDString = $(selected).val();
                }
                else {
                    tagIDString += "," + $(selected).val();
                }
            });

            var complexity = $(".questionComplexityMapped").val();
            $('#tblSelectedQuestions').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                //'ajax': '/QuestionPaperSection/GetSelectedQuestions?id=@Model.ID&tags=' + selectedTags,
                //  'ajax': '/QuestionPaperSection/GetSelectedQuestions?id=@Model.ID&tags=' + selectedTagsForMappedQuestions.toString(),
                'ajax': '/QuestionPaperSection/GetSelectedQuestions?id=@Model.ID&tags=' + tagIDString + '&subjects=' + subjectIDString + '&complexity=' + complexity,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Description" },
                { "data": "" },
                ],
                "columnDefs": [
                     {
                         "targets": [0],
                         "data": "download_link",
                         "render": function (data, type, full) {
                             return '<a href="#questionDetailModal" data-toggle="modal" onclick="ViewAnswerDetail(' + full.ID + ')" class="modalOpen ' + full.ID + '" id=' + full.ID + ' >' + data + '</a>';
                         }
                     },
                    {
                        "targets": [1],
                        "data": "download_link",
                        "bSortable": false,
                        "render": function (data, type, full) {
                            return '<input type="checkbox"  class="chkSelected chkMappedQuestions chk' + full.ID + '" id=' + full.ID + ' />';
                        }
                    },
                ],

            });
        }
        function BindAvailableQuestions() {
            //if ($.fn.dataTable.isDataTable('#tblAvailableQuestions')) {
            //}
            var tagIDString = "";
            var subjectIDString = "";
            $('.notAssociatedSubjectsUnMapped :selected').each(function (i, selected) {
                if (subjectIDString == "") {
                    subjectIDString = $(selected).val();
                }
                else {
                    subjectIDString += "," + $(selected).val();
                }
            });
            $('.notassociatedtagUnMapped :selected').each(function (i, selected) {
                if (tagIDString == "") {
                    tagIDString = $(selected).val();
                }
                else {
                    tagIDString += "," + $(selected).val();
                }
            });

            var complexity = $(".questionComplexityUnMapped").val();

           var table= $('#tblAvailableQuestions').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                //'ajax': '/Question/List',
                //'ajax': '/QuestionPaperSection/GetOtherQuestions?id=@Model.ID&tags=' + selectedTagsForUnMappedQuestions.toString(),
                'ajax': '/QuestionPaperSection/GetOtherQuestions?id=@Model.ID&tags=' + tagIDString + '&subjects=' + subjectIDString + '&complexity=' + complexity,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Description" },
                { "data": "" },
                ],
                "columnDefs": [
                      {
                          "targets": [0],
                          "data": "download_link",
                          "render": function (data, type, full) {
                              return '<a href="#questionDetailModal" data-toggle="modal" onclick="ViewAnswerDetail(' + full.ID + ')" class="modalOpen ' + full.ID + '" id=' + full.ID + ' >' + data + '</a>';
                          }
                      },
                    {
                        "targets": [1],
                        "data": "download_link",
                        "bSortable": false,
                        "render": function (data, type, full) {
                            //return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                            return '<input type="checkbox" class="chkAvailable chkUnMappedQuestions chk' + full.ID + '" id=' + full.ID + ' />';
                        }
                    }]
           });
        }
        function OpenAlertModal(message) {
            $("#AlertModal").modal({
                show: true,
            });
            $(".messageContainer").html('');
            $(".messageContainer").html(message);
        }
        $(function () {
            $("#e8").select2();
            $("#e12").select2();
            $("#e13").select2();
        });

        function OpenRandomQuestionModal() {
            $(".randomQuestionCount").val('');
            $("#RandomQuestionModal").modal({
                show: true,
            });
        }

        function GenerateRandomQuestions() {
            var tagIDString = "";
            var subjectIDString = "";
            var questionCount = $(".randomQuestionCount").val();
            $('.notAssociatedSubjectsUnMapped :selected').each(function (i, selected) {
                if (subjectIDString == "") {
                    subjectIDString = $(selected).val();
                }
                else {
                    subjectIDString += "," + $(selected).val();
                }
            });
            $('.notassociatedtagUnMapped :selected').each(function (i, selected) {
                if (tagIDString == "") {
                    tagIDString = $(selected).val();
                }
                else {
                    tagIDString += "," + $(selected).val();
                }
            });
            var complexity = $(".questionComplexityUnMapped").val();
            if (questionCount != "" && questionCount != "0" && questionCount != undefined) {
                $.ajax({
                    type: 'POST',
                    url: '/QuestionPaperSection/GenerateRandomQuestions',
                    data: {
                        id: '@Model.ID',
                        tags: tagIDString,
                        subjects: subjectIDString,
                        complexity: complexity,
                        count:questionCount,
                    },
                    success: function (response) {
                        $(".btnCloseRandomGeneration").click();
                        if (response == "true") {
                            OpenAlertModal('Questions added to the section successfully');
                        }
                        else {
                            OpenAlertModal('Questions not added to the section as given count exceeded than'+response.split(',')[1]);
                        }
                        window.location.reload();
                    },

                });
            }
            else {
                $(".btnCloseRandomGeneration").click();
                OpenAlertModal('Please provide valid  question count');
            }

        }


    </script>
}
