﻿@model OAP.Domain.ViewModel.QuestionPaperSectionViewModel
@{
    ViewBag.Title = "Random question selection";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-12">

        @using (Html.BeginForm("RandomQuestionSelection", "QuestionPaperSection", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <section class="panel">
                @Html.TextBoxFor(m => m.AvailableQuestionsCount, new { @class = "txtAvailableQuestionsCount txtTotalQuestionsCount", @readonly = "readonly" })
                @Html.TextBoxFor(m => m.SelectedQuestionsCount, "0", new { @class = "txtSelectedQuestionsCount", @readonly = "readonly" })
            </section>
            <section class="panel">
                @Html.HiddenFor(m => m.ID)
                @for (int i = 0; i < Model.TagViewModelList.Count(); i++)
                {
                    @Html.HiddenFor(m=>m.TagViewModelList[i].ID)
                    string seperateClass = "txtTagSpinner" + Model.TagViewModelList[i].ID;
                    string spinnerSeperateClass = "spinner" + Model.TagViewModelList[i].ID;
                    string spinnerCountClassWithID = "txtSpinnerCount" + Model.TagViewModelList[i].ID;
                <input type="hidden" class="@spinnerCountClassWithID  txtSpinnerCount" value="@Model.TagViewModelList[i].AvailableQuestionsCount" />
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Model.TagViewModelList[i].Name</label>
                    <div class="col-lg-8">
                        <div class="spinnerContainer" id="@Model.TagViewModelList[i].AvailableQuestionsCount">
                            <div class="input-group" style="width: 150px;">
                                @Html.TextBoxFor(m => m.TagViewModelList[i].SelectedQuestionsCount, new { maxlength = "3", @class = "form-control spinner-input form-control txtQuestionsCount " + seperateClass, id = Model.TagViewModelList[i].ID, placeholder = "Name", @readonly = "readonly" })
                                <div class="spinner-buttons input-group-btn">
                                    <button type="button" class="btn btn-default spinner-up" id="@Model.TagViewModelList[i].ID">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-default spinner-down" id="@Model.TagViewModelList[i].ID">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-warning" onclick="window.location.href='/QuestionPaperSection/EditQuestionPaperSections/@Model.ID')">Cancel</button>
                    </div>
                </div>
            </section>
                
        }
    </div>
</div>
@*<div id="spinner3">
    <div class="input-group" style="width: 150px;">
        <input type="text" class="spinner-input form-control" maxlength="3" readonly>
        <div class="spinner-buttons input-group-btn">
            <button type="button" class="btn btn-default spinner-up">
                <i class="fa fa-angle-up"></i>
            </button>
            <button type="button" class="btn btn-default spinner-down">
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>*@

@section childScripts{
    <script>

        $(document).ready(function () {
            var totalSpinnerCount = $(".txtSpinnerCount").length;
            $(".spinnerContainer").each(function () {
                var maxCount = $(this).attr("id");
                $(this).spinner({
                    value: 0, min: 0, max: maxCount,
                });
            });

            $(".spinner-up").click(function () {
                SpinnerIncremented(this);
            });

            $(".spinner-down").click(function () {
                SpinnerDecremented(this);
            })
        });

        function SpinnerIncremented(obj) {
            var tagID = $(obj).attr("id");
            //$(".txtTotalQuestionsCount").removeAttr("disabled");
            //$(".txtSelectedQuestionsCount").removeAttr("disabled");

            var totalSelectedQuestions = parseInt(0);

            $(".txtQuestionsCount").each(function () {
                totalSelectedQuestions = totalSelectedQuestions + parseInt($(this).val());
            });

            $(".txtSelectedQuestionsCount").val(totalSelectedQuestions);
            //$(".txtTotalQuestionsCount").attr("disabled", "disabled");
            //$(".txtSelectedQuestionsCount").attr("disabled", "disabled");

            //alert("Incremented   =" + $(obj).attr("id"));
        }

        function SpinnerDecremented(obj) {
            var tagID = $(obj).attr("id");

            //$(".txtTotalQuestionsCount").removeAttr("disabled");
            //$(".txtSelectedQuestionsCount").removeAttr("disabled");

            //var totalQuestionsCount = parseInt($(".txtTotalQuestionsCount").val());
            //var selectedQuestionsCount = parseInt($(".txtSelectedQuestionsCount").val());

            //if (selectedQuestionsCount > 0) {
            //    selectedQuestionsCount = selectedQuestionsCount -1;
            //    $(".txtSelectedQuestionsCount").val(selectedQuestionsCount);
            //}
            //$(".txtTotalQuestionsCount").attr("disabled", "disabled");
            //$(".txtSelectedQuestionsCount").attr("disabled", "disabled");

            //alert("Decremented   =" + $(obj).attr("id"));

            var totalSelectedQuestions = parseInt(0);

            $(".txtQuestionsCount").each(function () {
                totalSelectedQuestions = totalSelectedQuestions + parseInt($(this).val());
            });

            $(".txtSelectedQuestionsCount").val(totalSelectedQuestions);
        }

    </script>
}