﻿@model OAP.Domain.ViewModel.QuestionWizardViewModel
@{
    ViewBag.Title = "Question Paper From Template";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Repository</a>
            </li>
         
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Question Paper</a>
            </li>
            <li>
                <a class="current" href='#'>Question Paper from Template</a>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Question Paper Creation</h4>
            </div>
            <div class="modal-body">
                <div class="position-center">
                    <form class="form-horizontal">
                        <h4>How do you want to create your Quesion Paper?</h4>
                        <button type="button" class="btn btn-info" onclick="window.location.href='/QuestionPaperWizard/Wizard'">Create Manually</button>
                        <button data-dismiss="modal" class="btn btn-default " type="button">Create From Template</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade" id="createQuestionPaper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create New Question Paper</h4>
                </div>
                <div class="modal-body">
                    <div class="position-center">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.QuestionPaperName, "Question Paper Name", new { @class = "col-lg-5 col-sm-5 control-label" })
                                    <div class="col-lg-5">
                                        @Html.TextBoxFor(m => m.QuestionPaperName, new { @class = "txt form-control questionpaperName" })
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" onclick="SaveQuestionPaper()">Save</button>
                    <button data-dismiss="modal" class="btn btn-default closeQuestionPaper" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="filterContainer form-horizontal position-center">
                <div class="form-group">
                    @Html.Label("Question Paper Template", new { @class = "col-lg-5 col-sm-5 control-label" })
                    <div class="col-lg-5" >
                        @Html.DropDownListFor(m => m.quesionPaperTemplateID, new SelectList(ViewBag.QuestionPaperTemplate, "ID", "Name"), "Select", new { @class = "ddlQuestion form-control m-bot15", @onchange = "QuestionChanged()" })
                    </div>
                </div>
            </div>
            <div class="questionDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue ">
                        <ul class="nav nav-tabs">
                            <li class="active SectionList">
                                <a data-toggle="tab" href="#home">Section</a>
                            </li>
                            <li class="QuestionList ">
                                <a data-toggle="tab" href="#about" onclick="BindAllQuestions()">Rule</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="home" class="tab-pane active SectionList">
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Section Name</th>
                                                <th>Time</th>
                                                <th>Count</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tblSection">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="about" class="tab-pane QuestionList">
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Complexity</th>
                                                <th>Tags</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tblQuestion">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>


    <div class="uploadHolder">
         <div class="col-lg-offset-4 col-lg-10">
        <button type="button" class="btn btn-success" onclick="createQuestionPaper()">Create Question Paper</button>
</div>
    </div>
</section>

@* Alert Popup*@
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" style="padding-left: 20px;" class="alertDetailContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btnCloseAlert" type="button">Close</button>
            </div>
        </div>
    </div>
</div>



@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    @*<script src="~/Scripts/OAPSmart/QuestionPaper.js"></script>*@
    <script>
        var selectedCollage = 0;
        var selectedBatch = 0;
        var selectedQuestion = 0;

        function OpenAlertModal(message) {
            $("#AlertModal").modal({
                show: true,
            });
            $(".alertDetailContainer").html('');
            $(".alertDetailContainer").html(message);
        }

        function createQuestionPaper() {
            var questionID = $(".ddlQuestion").val();
            if (questionID != "") {
                $(".modal").modal('hide');
                $("#createQuestionPaper").modal({
                    show: true,
                });
            }
        }
        function SaveQuestionPaper()
        {
            $(".closeQuestionPaper").click();
            var questionID = $(".ddlQuestion").val();
            if (questionID != "") {
                var questionName = $(".questionpaperName").val();
                if (questionName != "") {
                    $.ajax({
                        type: 'POST',
                        url: '/QuestionPaperWizard/CreateQuestionPaper',
                        async: true,
                        data: {
                            questionID: questionID,
                            questionName: questionName
                        },
                        success: function (response) {
                            if (response == 'True') {
                                OpenAlertModal('Created Successfully');
                            }
                            else if (response == 'count exceed') {
                                OpenAlertModal('Questions not available! Question count exceed, Please create Question');
                            }
                            else {
                                OpenAlertModal('Please try again');
                            }
                        }
                    });
                }
            }
        }
        function assignQuestionPaperDropDown(response) {
            $('.ddlQuestion').html('');
            var data = JSON.parse(response);
            var assessmentOptions = "<option  value=0>Select</option>";
            var Questionoptions = "<option  value=0>Select</option>";
            if (data.batchList != null) {
                $.each(data.batchList, function (i, item) {
                    if (item.IsSelected == true) {
                        Questionoptions += "<option selected value=" + item.ID + ">" + item.Name + "</option>";
                    }
                    else if (item.IsSelected == false) {
                        Questionoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    }
                    else {
                        Questionoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    }
                });
                $(".ddlQuestion").html(Questionoptions);
            }

        }
        function QuestionChanged() {
            $(".questionDetail").hide();

            $(".tblSection").html('');
            $(".tblQuestion").html('');
            var selectedQuestionPaperID = $(".ddlQuestion").val();
            if (selectedQuestionPaperID != "") {
                $.ajax({
                    type: 'POST',
                    url: '/QuestionPaperWizard/getQuestionPaperByID',
                    async: true,
                    data: {
                        selectedQuestionPaperID: selectedQuestionPaperID,
                    },
                    success: QuestionPaperDetails
                });
            }

        }
        var storedResponse;

        function QuestionPaperDetails(response) {
            if (response != null && response != "") {
                $(".tblSection").html('');
                $(".tblQuestion").html('');
                storedResponse = response
                var data = JSON.parse(response);
                // $(".courseTemplateDescription").html(data.Description);
                var bodyString = "";
                var bodyQuestionString = "";

                $.each(data, function (i, item) {
                    bodyString += "<tr><td>" + item.QuestionPaperSectionName + "</td><td>" + item.TimeLimit + "</td><td>" + item.SectionCount + "</td><td><a onclick='appendQuestionforSection(" + item.ID + ")' style='cursor: pointer;'><button type='button' class='btn btn-info'><i class='fa fa-eye'></i>View Rule </button></a></td></tr>";
                    $.each(item.questionPaperSectionRuleList, function (i, item) {

                        bodyQuestionString += "<tr><td>" + item.SubjectString + "</td><td>" + item.ComplexityString + "</td><td>" + item.TagString + "</td></tr>";
                    });

                });
                bodyString = bodyString.replace('null', '');
                $(".tblSection").html(bodyString);
                bodyQuestionString = bodyQuestionString.replace('null', '');
                $(".tblQuestion").html(bodyQuestionString);

                $(".questionDetail").show();

            }
        }
        function appendQuestionforSection(ID) {
            var data = JSON.parse(storedResponse);
            var bodyQuestionString = "";
            $(".tblQuestion").html('');
            $.each(data, function (i, item) {
                if (item.ID == ID) {
                    $.each(item.questionPaperSectionRuleList, function (i, item) {

                        bodyQuestionString += "<tr><td>" + item.SubjectString + "</td><td>" + item.ComplexityString + "</td><td>" + item.TagString + "</td></tr>";
                    });
                }
            });
            bodyQuestionString = bodyQuestionString.replace('null', '');
            $(".tblQuestion").html(bodyQuestionString);
            $('.SectionList').removeClass('active');
            $('.QuestionList').addClass('active');
        }

        function BindAllQuestion()
        {
            var data = JSON.parse(storedResponse);
            var bodyQuestionString = "";
            $(".tblQuestion").html('');
            $.each(data, function (i, item) {
                    $.each(item.questionPaperSectionRuleList, function (i, item) {

                        bodyQuestionString += "<tr><td>" + item.SubjectString + "</td><td>" + item.ComplexityString + "</td><td>" + item.TagString + "</td></tr>";
                    });
            });
            bodyQuestionString = bodyQuestionString.replace('null', '');
            $(".tblQuestion").html(bodyQuestionString);
            $('.SectionList').removeClass('active');
            $('.QuestionList').addClass('active');
        }

        $(document).ready(function () {

            $(".questionDetail").hide();
            $(".modal").modal('hide');
            $("#optionModal").modal({
                show: true,
            });
        });
        function BindAllQuestions() {
            var data = JSON.parse(storedResponse);
            var bodyQuestionString = "";
            $(".tblQuestion").html('');
            $.each(data, function (i, item) {
                $.each(item.questionPaperSectionRuleList, function (i, item) {

                    bodyQuestionString += "<tr><td>" + item.SubjectString + "</td><td>" + item.ComplexityString + "</td><td>" + item.TagString + "</td></tr>";
                });
            });
            bodyQuestionString = bodyQuestionString.replace('null', '');
            $(".tblQuestion").html(bodyQuestionString);
            $('.SectionList').removeClass('active');
            $('.QuestionList').addClass('active');
        }
    </script>
}
