﻿@model OAP.Domain.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Technical Test";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<div>

    Choose the task you are interesed in.
</div>
<br />
<table>
    <tr>
        <td>
            Experience the free trail session before taking the real test:
        </td>
        <td>
            <button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeSessionDetails'">Practice Session</button>
        </td>
    </tr>
    <tr>
        <td>
            Take up your active test, please read the instructions before attending:
        </td>
        <td>
            <button class="btn btn-success" onclick="OpenTechnicalTab(23)">Active Test</button>
        </td>
    </tr>
</table>



@section childScripts{
    <script src="~/Scripts/OAP/Report.js"></script>

    <script>
        function OpenTechnicalTab(assessmentID) {
            //open('/Assessment/Take/'+assessmentID, '_self').close();
            var id = assessmentID;

            var params = [
                'height=' + screen.height,
                'width=' + screen.width,
                'fullscreen=yes',// only works in IE, but here for completeness,
                'resizable=0'
            ].join(',');
            // and any other options from

            var popup = window.open("/TechnicalTest/OpenCodeEditor/" + id, 'popup_window', params);
            popup.moveTo(0, 0);

            // window.open("/QuestionPaper/Take/" + id, "_blank");
            window.close();
        }
    </script>
}
