﻿@{
    ViewBag.Title = "PracticeSessionDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@section childScripts{
    <script src="~/Scripts/OAP/technicalCompiler.js"></script>
}
<style>
    .blank_row {
        height: 20px !important; /* overwrites any other rules */
    }
</style>

<h2>Below are the available topics from where you can find multiple questions for practice. </h2>
<table>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Lines and Curves : </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow?testId=1'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Loops: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Write a function: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Algoithm: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Logical: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Lists: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Thread: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Find the string: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
    <tr>
        <td> Tuple: </td>
        <td><button class="btn btn-success" onclick="window.location.href='/TechnicalTest/PracticeWindow'">Go For Test</button></td>
    </tr>
</table>
