﻿@model OAP.Domain.ViewModel.BatchViewModel
@{
    ViewBag.Title = "Batch Students";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<div class="row mappedStudentsContainer col-lg-15">
    <div class="col-lg-2">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                   @* <div class="col-lg-1 form-group">
                        College
                    <select multiple name="e9" id="mappedCollegesList" style="width: 100px" class="populate " onchange="MappedCollegeSelectionChanged(this)">
                        <optgroup label="Colleges" class="mappedColleges">
                            @foreach (var college in Model.CollegeViewModelList)
                            {
                                <option class="optMappedCollege" value="@college.ID" >@college.Name</option>                                                    
                            }
                        </optgroup>
                    </select>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        Branch
                    <select multiple name="e9" id="mappedBranchList" style="width: 100px" class="populate" onchange="MappedBranchSelectionChanged(this)">
                        <optgroup label="Branches" class="mappedBranches">
                           
                        </optgroup>
                    </select>
                    </div>
                </div>
                <div class="row">
                 @*   <div class="col-lg-1">
                        Section
                    <select multiple name="e9" id="mappedSectionList" style="width: 100px" class="populate" onchange="MappedSectionSelectionChanged(this)">
                        <optgroup label="Tags" class="mappedSections">

                        </optgroup>
                    </select>
                    </div>*@
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-10">
        <section class="panel">
            <header class="panel-heading">
                Selected Students
         <span class="tools pull-right">
             <a class="fa fa-chevron-down collapsible" href="javascript:;"></a>
         </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="tblSelectedStudents" aria-describedby="editable-sample_info">
                        <thead>
                            <tr>
                                <th>Name</th>

                                <th>University Register No</th>

                                <th>
                                    <input type="checkbox" class="chkAllMapped" /></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="clear: both"></div>
                <div class="uploadHolder">
                    <button type="button" class="btn btn-success" onclick="UnMapSelectedStudents(@Model.ID)" id="@Model.ID"><i class="fa fa-minus"></i>UnMap Students </button>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row unMappedStudentsContainer col-lg-15">
    <div class="col-lg-2">
        <section class="panel">
             <div class="panel-body">
                <div class="row">
                   @* <div class="col-lg-1 form-group">
                        College
                    <select multiple name="e9" id="unMappedCollegeList" style="width: 100px" class="populate " onchange="UnMappedCollegeSelectionChanged(this)">
                        <optgroup label="Colleges" class="mappedColleges">
                            @foreach (var college in Model.CollegeViewModelList)
                            {
                                <option class="optUnMappedCollege" value="@college.ID" >@college.Name</option>                                                    
                            }
                        </optgroup>
                    </select>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        Branch
                    <select multiple name="e9" id="unMappedBranchList" style="width: 100px" class="populate" onchange="UnMappedBranchSelectionChanged(this)">
                        <optgroup label="Branches" class="unMappedBranches">
                           @* @foreach (var college in Model.CollegeViewModelList)
                            {
                                <option class="optCollege" value="@college.ID" >@college.Name</option>                                                    
                            }*@
                        </optgroup>
                    </select>
                    </div>
                </div>
                <div class="row">
                  @*  <div class="col-lg-1">
                        Section
                    <select multiple name="e9" id="unMappedSectionList" style="width: 100px" class="populate" onchange="UnMappedSectionSelectionChanged(this)">
                        <optgroup label="Tags" class="unMappedSections">
                        </optgroup>
                    </select>
                    </div>*@
                </div>
            </div>
            
        </section>
    </div>
    <div class="col-lg-10">
        <section class="panel">
            <header class="panel-heading">
                Available Students
          <span class="tools pull-right">
              <a class="fa fa-chevron-down collapsible" href="javascript:;"></a>
          </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="tblAvailableStudents" aria-describedby="editable-sample_info">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>University Register No</th>

                                <th>
                                    <input type="checkbox" class="chkAllUnMapped" /></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="clear: both;"></div>

                <div class="uploadHolder">
                    <button type="button" class="btn btn-success" onclick="MapSelectedStudents(@Model.ID)" id="@Model.ID"><i class="fa fa-plus"></i>Map Students </button>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="btnCancelHolder">
    <button type="button" class="btn btn-warning" onclick="window.location.href='/Batch/Edit/@Model.ID'">Cancel</button>
</div>

<div class="modal fade" id="studentDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Question</h4>
            </div>*@
            <div class="questionContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnCloseStudent" type="button">Close</button>
            </div>
        </div>
    </div>
</div>



@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/OAP/Batch.js"></script>
    <script>
        var collegeID = "";
        $(document).ready(function () {
            $(".collapsible").click();
            MappedCollegeSelectionChanged();
            UnMappedCollegeSelectionChanged();
            BindSelectedStudents();
            BindAvailableStudents();

            $("#mappedCollegesList").select2({
                placeholder: "Select College",
                allowClear: true
            });
            $("#mappedBranchList").select2({
                placeholder: "Select Branch",
                allowClear: true
            });
            $("#mappedSectionList").select2({
                placeholder: "Select Sections",
                allowClear: true
            });

            $("#unMappedCollegeList").select2({
                placeholder: "Select College",
                allowClear: true
            });
            $("#unMappedBranchList").select2({
                placeholder: "Select Branch",
                allowClear: true
            });
            $("#unMappedSectionList").select2({
                placeholder: "Select Sections",
                allowClear: true
            });


            $(".chkAllMapped").change(function () {
                if ($(this).prop("checked")) {
                    $(".chkMapped").prop("checked", true);
                }
                else {
                    $(".chkMapped").prop("checked", false);
                }
            });
            $(".chkAllUnMapped").change(function () {
                if ($(this).prop("checked")) {
                    $(".chkUnMapped").prop("checked", true);
                }
                else {
                    $(".chkUnMapped").prop("checked", false);
                }
            })
        });



        var selectedMappedColleges = "";
        var selectedMappedSections = "";
        var selectedMappedBranches = "";

        var selectedUnMappedColleges = "";
        var selectedUnMappedSections = "";
        var selectedUnMappedBranches = "";

        function BindSelectedStudents() {
            $('#tblSelectedStudents').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Batch/GetSelectedStudents?id=@Model.ID&selectedColleges=' + selectedMappedColleges + '&selectedBranches=' + selectedMappedBranches + '&selectedSections=' + selectedMappedSections,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "FullName" },
                 { "data": "UniversityRegistryNumber"}
                ],
                "columnDefs": [
                     //{
                     //    "targets": [0],
                     //    "data": "download_link",
                     //    "render": function (data, type, full) {
                     //        return '<a href="#studentDetailModal" data-toggle="modal" onclick="ViewStudentDetail(' + full.ID + ')" class="modalOpen ' + full.ID + '" id=' + full.ID + ' >' + data + '</a>';
                     //    }
                     //},
                    {
                        "targets": [2],
                        "data": "download_link",
                        "render": function (data, type, full) {
                            return '<input type="checkbox"  class="chkMapped chkMappedStudents chk' + full.ID + '" id=' + full.ID + ' />';
                        }
                    },
                ]
            });
        }
        function BindAvailableStudents() {

            $('#tblAvailableStudents').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Batch/GetOtherStudents?id=@Model.ID&selectedColleges=' + selectedUnMappedColleges + '&selectedBranches=' + selectedUnMappedBranches + '&selectedSections=' + selectedUnMappedSections,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "FullName"},
                 { "data": "UniversityRegistryNumber"}],
                "columnDefs": [
                      //{
                      //    "targets": [0],
                      //    "data": "download_link",
                      //    "render": function (data, type, full) {
                      //        return '<a href="#questionDetailModal" data-toggle="modal" onclick="ViewAnswerDetail(' + full.ID + ')" class="modalOpen ' + full.ID + '" id=' + full.ID + ' >' + data + '</a>';
                      //    }
                      //},
                    {
                        "targets": [2],
                        "data": "download_link",
                        "render": function (data, type, full) {
                            return '<input type="checkbox" class="chkUnMapped chkUnMappedStudents chk' + full.ID + '" id=' + full.ID + ' />';
                        }
                    }]
            });
        }
    </script>
}
