﻿@model OAP.Domain.ViewModel.BatchViewModel
@{
    ViewBag.Title = "Edit Batch";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Programs</a>
            </li>
         
            <li>
                <a   href="/Batch/Index">Batches</a>
            </li>
            <li>
                <a  class="current" href="#">Edit</a>
            </li>
            
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="position-center">
            @using (Html.BeginForm("Edit", "Batch", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Name,"Name *", new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Name, new { @class = "txt form-control" })
                    </div>
                </div>@*
                  <div class="form-group">
                    @Html.LabelFor(m => m.CollegeID,"Select College *", new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-5">
                        @Html.DropDownListFor(m => m.CollegeID,new SelectList(ViewBag.Colleges,"ID","Name"),"Select", new { @class = "txt form-control" })
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-warning" onclick="window.location='/Batch/Index'">Cancel</button>
                        <button type="button" class="btn btn-success" onclick="window.location='/Batch/BatchAssessments/@Model.ID'">Manage Question Papers</button>
                        <button type="button" class="btn btn-success" onclick="window.location='/Batch/BatchStudents/@Model.ID'">Manage Students</button>

                        @*<button type="button" class="btn btn-warning" onclick="window.location='/Batch/Delete/@Model.ID'">Delete</button>*@
                    </div>
                </div>

            }
        </div>
    </div>
</section>
@section childScripts{
}