﻿@model OAP.Domain.ViewModel.QuestionViewModel
@{
    ViewBag.Title = "Question";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
            </header>
            <div class="panel-body">
                <div class="form">
                   @Html.Raw(Model.Description)
                </div>
            </div>
        </section>
        <div class="answerContainer">
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Answer description</td>
                                <td>Correct answer</td>
                            </tr>
                        </thead>
                        <tbody class="tblBody">
                            @foreach (var item in Model.AnswerViewModelList)
                            {
                                string isCorrect = item.isCorrect ? "Yes" : "No";
                                <tr>
                                    <td>@Html.Raw(item.Description)</td>
                                    <td>@isCorrect</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
@section childScripts{
}