﻿@model OAP.Domain.ViewModel.QuestionViewModel
@{
    ViewBag.Title = "Create Question";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

@*<h2>@ViewBag.Title</h2>*@
@*<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                @Html.LabelFor(m => m.Solution, "Solution", new { @class = "col-sm-2 control-label col-sm-2" })
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                 
                </span>
            </header>
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Solution, new { @class = "form-control ckeditor", name = "editor1", rows = "6" })
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>*@



<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>

            @if (Model.PassageID <= 0)
            {
                <li>
                    <a href='/Question/Index'>Question Bank</a>
                </li>
            }
            else
            {
                <li>
                    <a href='/Passage/Index'>Passage</a>
                </li>
                <li>
                    <a   href='/Passage/Edit/@Model.PassageID' >Edit</a>
                </li>
            }
            <li>
                <a class="current" href='#'>Add</a>
            </li>
        </ul>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">@ViewBag.Title
            </header>
            <div class="panel-body">
                <div class="form">
                    @using (Html.BeginForm("Create", "Question", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => m.AnswerIDString, new { @class = "hdnAnswerIDs" })
                        @Html.Hidden("hdnCorrectAnswerSelected")
                        @Html.HiddenFor(m => m.TagIDString, new { @class = "tagIDString" })
                        @Html.HiddenFor(m => m.PassageID)
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, "Description *", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control ckeditor", name = "editor1", rows = "6" })
                            </div>
                        </div>@*
                        <div form-group col-md-11>                            
                            @using (Html.BeginForm("ImageUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {  
                            <div class="col-lg-5">                                
                                <label for="file">Upload Image </label> 
                                <input type="file" name="file" id="file" style="width: 50%;" /> 
                                <input type="submit" value="Upload" class="submit" onclick="ImageUpload()" /> 
                            </div>

                            }
                        </div>*@
                        <!-- Collapse Start-->
                        <div class="form-group">@Html.Label(" ", new { @class = "col-sm-2 control-label col-sm-2" })
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSolution">Solution
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSolution" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @Html.TextAreaFor(m => m.Solution, new { @class = "form-control ckeditor", name = "editor1", rows = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Collapse End-->@*@*
                        <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.QuestionCategoryID, "Category *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.QuestionCategoryID, new SelectList(ViewBag.QuestionCategory, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>

                        <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.QuestionTypeID, "Type *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.QuestionTypeID, new SelectList(ViewBag.QuestionType, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>
                         <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.SubjectID, "Subject *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.SubjectID, new SelectList(ViewBag.Subject, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>
                         <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.ComplexityID, "Complexity *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.ComplexityID, new SelectList(ViewBag.Complexity, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>*@
                          <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.QuestionTypeID, "Type *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.QuestionTypeID, new SelectList(ViewBag.QuestionType, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>
                        <div class="form-group col-md-11">
                            <label class=" col-lg-2 control-label">Tags</label>
                            <div class="col-lg-5 ">
                                <select multiple name="e9" id="e9" style="width: 100%" class="populate">
                                    <optgroup label="Tags" class="associatedTags">
                                        @foreach (var tag in Model.TagsNotAssociated)
                                        {
                                            <option value="@tag.ID " >@tag.Name</option>                                                    
                                        }
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" data-toggle="modal" href="#myModal1"><i class="fa fa-plus"></i> Add tag </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="modal fade" id="AnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Answer</h4>
                                        </div>
                                        <div id="column3">
                                            @Html.TextArea("txtAnswer", new { @class = "txtAnswer form-control ckeditor", name = "editor1", rows = "6" })
                                        </div>
                                        <div class="correctAnswerContainer">
                                            <div class="form-group">
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="chkIsCorrectAnswer" value="">
                                                        <p>Is the Correct Answer?</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btnSaveAnswer" type="button">
                                                <div class="saveChange" onclick="SaveAnswer()">Save changes</div>
                                            </button>
                                            <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Tag</h4>
                                        </div>
                                        <div id="column3">
                                            <div class="form-group">
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Name", new { @class = "col-sm-2 control-label col-sm-2" })
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.TagName, new { @class = "tagName form-control" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button">Close</button>
                                            <button class="btn btn-success btnSaveTag" type="button" onclick="SaveTag()">
                                                Save Tag
                                                @*<div class="saveChange" onclick="SaveTag()">Save Tag</div>*@
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                @*<a class="btn btn-success btnAddAnswer" data-toggle="modal" href="#AnswerModal">+Add Answer </a>   onclick="SaveAnswer()"*@
                                <button type="submit" class="btn btn-info" name="Save" id="submit" value="Save" >Save</button>                                
                                @if (Model.PassageID <= 0)
                                {
                                    <button type="button" class="btn btn-warning" onclick="window.location='/Question/Index'">Cancel</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-warning" onclick="window.location='/Passage/Edit/@Model.PassageID'">Cancel</button>
                                }
                            </div>
                        </div>                        
                    }
                </div>
            </div>
        </section>


        <section class="panel">
            <header class="panel-heading">
                Answers
            </header>
            <div class="panel-body">

                <div class="answerContainer">
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <td>Answer description</td>
                                        <td>Correct answer</td>
                                        <td>Edit</td>
                                        <td>Delete</td>
                                    </tr>
                                </thead>
                                <tbody class="tblBody">
                                </tbody>
                            </table>
                        </section>
                    </div>
                    @*<a class="btn btn-success" href="~/Question/Index">Back</a>*@
                    <a class="btn btn-success btnAddAnswer" data-toggle="modal" href="#AnswerModal"><i class="fa fa-plus"></i> Add Answer</a>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" class="modal-body">
                Are you sure you want to delete this record.
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
                <button class="btn btn-success btnSaveAnswer deleteAnswer" type="button" onclick="DeleteAnswer()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>


@section childScripts{

<script>
        $(function () {
            //CKEDITOR.plugins.add('.ckeditor', {
            //});
            CKEDITOR.replace('.ckeditor',
                {
                   // filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                    //filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?Type=Images',
                    //filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?Type=Flash',
                      filebrowserUploadUrl: '/Upload/UploadQuestionImageByEditor',
                    filebrowserImageUploadUrl: '/Upload/UploadQuestionImageByEditor',
                  //  filebrowserFlashUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
                });
            CKEDITOR.replace('.ckeditor', { toolbar: [['EqnEditor', 'Bold', 'Italic']] });
        })
        $(document).submit(function () {
            var tagValues = "";
            $('.associatedTags :selected').each(function (i, selected) {
                if (tagValues == "") {
                    tagValues = $(selected).val();
                }
                else {
                    tagValues += "," + $(selected).val();
                }
            });
            $(".tagIDString").val(tagValues);
            //CKEDITOR.replace('editor1', {
            //    filebrowserBrowseUrl: '/browser/browse.php',
            //    filebrowserUploadUrl: '/uploader/upload.php'
            //});
        });        
        @try
        {
            HttpFileCollection hfc = HttpContext.Current.Request.Files;
            string path = "/content/files/contact/";
            for (int i = 0; i < hfc.Count; i++)
            {
                HttpPostedFile hpf = hfc[i];
                if (hpf.ContentLength > 0)
            {
                    string fileName = "";
                    if (Request.Browser.Browser == "Chrome")
            {
                        fileName = Path.GetFileName(hpf.FileName);
            }
        else
        {
                    fileName = hpf.FileName;
        }
        string fullPathWithFileName = path + fileName;
        hpf.SaveAs(Server.MapPath(fullPathWithFileName));
        }
        }

        }
    catch (Exception ex)
        {
        throw ex;
        }

    //function SaveAnswer() {
    //    var selectedVal = $(".ddlBranch").val();
    //    $.ajax({
    //        type: 'POST',
    //        url: '/Question/SaveAnswer',
    //        data: {
    //            selectedVal: selectedVal,
    //            //selectedBatches: Batchvalue,
    //        },
    //        //success: BatchesLoadforQuestionPaper
    //    });
    //}
    </script>
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/image/plugin.js"></script>
    <script src="/Scripts/js/gritter.js" type="text/javascript"></script>
    <script src="~/Scripts/OAP/Question.js"></script>

}




