﻿@model OAP.Domain.ViewModel.QuestionViewModel
@{
    ViewBag.Title = "Edit Question";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>

            @if (Model.PassageID <= 0)
            {
                <li>
                    <a href='/Question/Index'>Question Bank</a>
                </li>
            }
            else
            {
                <li>
                    <a href='/Passage/Index'>Passage</a>
                </li>
                <li>
                    <a   href='/Passage/Edit/@Model.PassageID' >Edit</a>
                </li>
            }
            <li>
                <a class="current" href='#'>Edit</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">@ViewBag.Title
            </header>
            <div class="panel-body">
                <div class="form">
                    @using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.ID)
                        @Html.HiddenFor(m => m.AnswerIDString, new { @class = "hdnAnswerIDs" })
                        @Html.Hidden("hdnCorrectAnswerSelected")
                        @Html.HiddenFor(m => m.TagIDString, new { @class = "tagIDString" })
                        @Html.HiddenFor(m => m.PassageID)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, "Description *", new { @class = "col-lg-2  control-label col-sm-2" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control ckeditor", name = "editor1", rows = "6" })
                            </div>
                        </div>
                        <!-- Collapse Start-->
                        <div class="form-group">@Html.Label(" ", new { @class = "col-lg-2 control-label col-sm-2" })
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSolution">Solution
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSolution" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @Html.TextAreaFor(m => m.Solution, new { @class = "form-control ckeditor", name = "editor1", rows = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Collapse End-->@*
                              
                        <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.QuestionCategoryID, "Category *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.QuestionCategoryID, new SelectList(ViewBag.QuestionCategory, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>*@
                        
                        <div class="form-group col-md-11">
                            @Html.LabelFor(m => m.QuestionTypeID, "Type *", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.QuestionTypeID, new SelectList(ViewBag.QuestionType, "Value", "Text"), "Select", new { @class = "ddlBranch form-control m-bot15" })
                            </div>
                        </div>
                          
                        <div class="form-group col-md-11">
                            <label class=" col-md-2 control-label">Tags </label>
                            <div class="col-lg-5">
                                <select multiple name="e9" id="e9" style="width: 100%" class="populate ">
                                    <optgroup label="Tags" class="associatedTags">
                                        @foreach (var notAssociatedTag in Model.TagsNotAssociated)
                                        {
                                            <option value="@notAssociatedTag.ID">@notAssociatedTag.Name</option>                                                    
                                        }
                                        @foreach (var associatedTag in Model.TagsAssociated)
                                        {
                                            <option  selected value="@associatedTag.ID">@associatedTag.Name</option>                                                    
                                        }
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" data-toggle="modal" href="#myModal1"><i class="fa fa-plus"></i> Add tag 
                                </a>
                            </div>
                            @* </div>

                            </section>*@
                        </div>
                        <div class="panel-body">
                            <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Answer</h4>
                                        </div>
                                        <div id="column3">
                                            @Html.TextArea("txtAnswer", new { @class = "txtAnswer form-control ckeditor", name = "editor1", rows = "6" })
                                        </div>

                                        <div class="correctAnswerContainer">
                                            <div class="form-group">
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="chkIsCorrectAnswer" value="">
                                                        <p>Is Correct Answer?</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btnSaveAnswer saveChange" type="button" onclick="SaveAnswer(@Model.ID)">
                                            @*<button class="btn btn-success btnSaveAnswer saveChange" type="button" onclick="SaveAnswer(@Model.ID)">*@

                                                Save
                                             
                                            </button>
                                            <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Tag</h4>
                                        </div>
                                        <div id="column3" class="form-horizontal">
                                            <div class="form-group">
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Name *", new { @class = "col-sm-2 control-label col-sm-2" })
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.TagName, new { @class = "tagName form-control" })
                                                </div>
                                            </div>
                                            @*<label>Name</label>
                                            @Html.TextBoxFor(m => m.TagName, new { @class = "tagName form-control" })*@
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btnSaveTag" type="button" onclick="SaveTag()">
                                                Save Tag
                                            </button>
                                            <button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-info" name="Save" id="submit" value="Save">Save</button>
                                @if (Model.PassageID <= 0)
                                {
                                    <button type="button" class="btn btn-warning" onclick="window.location='/Question/Index'">Cancel</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-warning" onclick="window.location='/Passage/Edit/@Model.PassageID'">Cancel</button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="answerContainer">
                <div class="panel-body">
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <td>Answer description</td>
                                    <td>Correct answer</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            </thead>
                            <tbody class="tblBody">
                                @foreach (var item in Model.AnswerViewModelList)
                                {
                                    string answerDescription = item.Description.Count() > 50 ? item.Description.Substring(0, 50) : item.Description;
                                    string isCorrect = item.isCorrect ? "Yes" : "No";
                                    string seperateClass = "separate" + item.ID;
                                    <tr class="@seperateClass">
                                        <td>@Html.Raw(item.Description)</td>
                                        <td class="isCorrect">@isCorrect</td>
                                        <td onclick="EditAnswerForAnswerEditPage(@item.ID,this)" data-toggle="modal" href="#answerModal">Edit</td>
                                        @*<td  onclick="DeleteAnswer(@item.ID,this)">Delete</td>*@
                                        <td  onclick="OpenDeleteAnswerModal(@item.ID)" style="cursor:pointer;">Delete</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>

        @*<a class="btn btn-success" href="~/Question/Index">Back</a>*@
        <a class="btn btn-success btnAddAnswer" data-toggle="modal" href="#answerModal"><i class="fa fa-plus"></i> Add Answer
        </a>
    </div>
</div>

<div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" class="modal-body">
                Are you sure you want to delete this record.
            </div>

            <div class="modal-footer">
                <button class="btn btn-success btnSaveAnswer" type="button">
                    <div class="deleteAnswer" onclick="DeleteAnswer()">Delete</div>
                </button>
                <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" class="alertContent">
                Are you sure you want to delete this record.
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
                </button>
            </div>
        </div>
    </div>
</div>*@

@section childScripts{
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/js/gritter.js" type="text/javascript"></script>
    <script src="~/Scripts/OAP/Question.js"></script>
    <script>
        $(document).submit(function () {
            var tagValues = "";
            $('.associatedTags :selected').each(function (i, selected) {
                if (tagValues == "") {
                    tagValues = $(selected).val();
                }
                else {
                    tagValues += "," + $(selected).val();

                }
            });
            $(".tagIDString").val(tagValues);

        });
        CKEDITOR.replace('.ckeditor', { toolbar: [['EqnEditor', 'Bold', 'Italic']] });
    </script>

}