﻿@model OAP.Models.ViewModels.CommonQuestionViewModel
@{
    ViewBag.Title = "Question List";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    
}

                                
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">           
            <li>
                <a class="current" href='/Question/Index'>Question Bank</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel">
        <section class="panel">
            <div class="panel-body">
                <div class="adv-table">
                    @* <table class="display table table-bordered table-striped" id="tblTags" aria-describedby="editable-sample_info">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="chkAllTagsUnMappedTable" />
                                    Select All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TagViewModelList)
                            {
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="chkTags chkTagsUnMappedTable" id="@item.ID" />@item.Name</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-2 control-label">Tag</label>
                            <div class="col-lg-6">
                                <select multiple name="e13" id="e13" style="width: 100%" class="populate " onchange="BindDataTable()">
                                    <optgroup label="Tag" class="notassociatedtagUnMapped">
                                         @foreach (var tag in Model.TagViewModelList)
                                        {
                                            <option value="@tag.ID" >@tag.Name</option>
                                        }
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="clear: both;"></div>
            </div>
        </section>
    </div>
    <div class="panel-body">
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Last Updated </th>
                        <th>Link </th>
                        <th>Passage </th>
                        <th>
                            <input type="checkbox" class="chkAll" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>

            <div class="uploadHolder">
                <button type="button" class="btn btn-success" onclick="window.location.href = '/Upload/Index'">Manage Uploaded Questions </button>
                <button type="button" class="btn btn-info" onclick="window.location.href = '/Passage/Index'">Manage Passages</button>
                <button type="button" class="btn btn-success" onclick="window.location.href = '/Question/Create'"><i class="fa fa-plus"></i> Add New </button>
                <button type="button" class="btn btn-success" onclick="window.location.href = '/Question/CreateTechnical'"><i class="fa fa-plus"></i> Add New Technical Question </button>
                <button type="button" class="btn btn-danger" onclick="OpenDeleteModal()"><i class="fa fa-minus"></i> Delete</button>
            </div>
    </div>
</section>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these records.

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeleteQuestion()" type="button">Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PassageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   
    <div class="modal-dialog">
        <div class="modal-content">
             @*@Html.BeginForm("Edit", "Passage",FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal passageEdit", role = "form" })*@
            @*{*@
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Passage</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    @Html.BeginForm("Edit", "Passage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal passageEdit", role = "form" })
                    {
                    @*<form class="form-horizontal passageEdit">*@
                        <input type="hidden" class="PassageID" />                                              
                    @*</form>*@
                    }
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-info" name="Save" id="submit" value="Save">Save</button>*@
                <button type="submit" class="btn btn-success" name="Save" id="submit" value="SaveAddNewQuestion">Add New Question</button>
                <button type="submit" class="btn btn-success" name="Save" id="submit" value="SaveAddQuestion">Add Existing Question</button>
                <button type="button" class="btn btn-warning" onclick="window.location='/Question/Index'">Cancel</button>
            </div>
              @*}*@
        </div>
    </div>
  
</div>

<div class="modal fade" id="SaveQustionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Passage</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <form class="form-horizontal passageEdit">
                        <input type="hidden" class="PassageID" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                @*<button type="button" class="btn btn-info" name="Save" onclick="SaveQuestions()" value="Save">Save</button>*@
                <button type="button" class="btn btn-success" name="Save" onclick="SaveQuestions()" value="SaveAddNewQuestion">Add New Question</button>
                <button type="button" class="btn btn-success" name="Save" value="SaveAddQuestion">Add Existing Question</button>
                <button type="button" class="btn btn-warning" onclick="window.location='/Passage/Index'">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section childScripts{
   
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    @*<script src="/Scripts/js/ckeditor/ckeditor.js"></script>*@
        <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/OAP/Question.js"></script>

    <script>

        function BindAvailableQuestions() {
            //if ($.fn.dataTable.isDataTable('#tblAvailableQuestions')) {
            //}
            var tagIDString = "";
            var subjectIDString = "";
            $('.notAssociatedSubjectsUnMapped :selected').each(function (i, selected) {
                if (subjectIDString == "") {
                    subjectIDString = $(selected).val();
                }
                else {
                    subjectIDString += "," + $(selected).val();
                }
            });
            $('.notassociatedtagUnMapped :selected').each(function (i, selected) {
                if (tagIDString == "") {
                    tagIDString = $(selected).val();
                }
                else {
                    tagIDString += "," + $(selected).val();
                }
            });

            var complexity = $(".questionComplexityUnMapped").val();


            var table = $('#tblAvailableQuestions').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                //'ajax': '/Question/List',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Description" },
                { "data": "" },
                ],
                "columnDefs": [
                      {
                          "targets": [0],
                          "data": "download_link",
                          "render": function (data, type, full) {
                              return '<a href="#questionDetailModal" data-toggle="modal" onclick="ViewAnswerDetail(' + full.ID + ')" class="modalOpen ' + full.ID + '" id=' + full.ID + ' >' + data + '</a>';
                          }
                      },
                    {
                        "targets": [1],
                        "data": "download_link",
                        "bSortable": false,
                        "render": function (data, type, full) {
                            //return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                            return '<input type="checkbox" class="chkAvailable chkUnMappedQuestions chk' + full.ID + '" id=' + full.ID + ' />';
                        }
                    }]
            });
        }


        function BindDataTable() {

            var tagIDString = "";
            var subjectIDString = "";
            $('.notAssociatedSubjectsUnMapped :selected').each(function (i, selected) {
                if (subjectIDString == "") {
                    subjectIDString = $(selected).val();
                }
                else {
                    subjectIDString += "," + $(selected).val();
                }
            });
            $('.notassociatedtagUnMapped :selected').each(function (i, selected) {
                if (tagIDString == "") {
                    tagIDString = $(selected).val();
                }
                else {
                    tagIDString += "," + $(selected).val();
                }
            });

            var complexity = $(".questionComplexityUnMapped").val();

            $(".chkAll").prop("checked", false);
            $('#dynamic-table').dataTable({
            
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Question/List?tags=' + tagIDString + '&subjects=' + subjectIDString + '&complexity=' + complexity,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Description" },
                //{ "data": "College" },
                { "data": "LastUpdated" },
                { "data": "DownloadLink" },
                { "data": "PassageID" },
                { "data": "" },

                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                    }
                },
                
                {
                    "targets": [2],
                    "data": "download_link",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        if (data != null && data != "") {
                            return '<a href="' + data + '">Click to download</a>';
                        }
                        else {
                            return '';
                        }
                    }
                },
                {
                    "targets": [3],
                    "data": "download_link",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        if (full.Passage != null && full.Passage != "") {
                            return '<button type="button" class="btn btn-success" onclick="OpenPassageModal(' + full.PassageID + ')">View</a>';
                        }
                        else {
                            return '';
                        }
                    }
                },
                
                {
                    "targets": [4],
                    //"data": "download_link",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        return '<input type="checkbox" class="chkSeperate" value="' + full.ID + '">';
                    }
                }
                ]
            });

        }

        $(document).ready(function () {
            BindDataTable();
        });

        function SaveQuestions() {
            var PassageID = PassageID;
            var AnswerOrder = $(".AnswerOrder").val();
            var CanShuffle = $(".CanShuffle").val();
            var Description = $(".Description").val();
            $.ajax({
                type: 'POST',
                url: '/Passage/PassageEditPost',
                data: {
                    PassageID: PassageID,
                    AnswerOrder: AnswerOrder,
                    CanShuffle: CanShuffle,
                    Description: Description
                },
                success: SaveQuestionsSucess
            });
        }
        function SaveQuestionsSucess() {
            window.open('/ProgramWizard/Create?InstituteID=' + InstituteID, '_blank')
        }

        $(function () {
            $("#e8").select2();
            $("#e12").select2();
            $("#e13").select2();
        });

      
    </script>
}
