﻿@model OAP.Domain.ViewModel.TagViewModel
@{
    ViewBag.Title = "Add New Tag";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Master</a>
            </li>
         
            <li>
                <a   href='/Tag/Index' >Tags</a>
            </li>
             <li>
                <a  class="current" href='#' >Create</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="position-center">
            @using (Html.BeginForm("Create", "Tag", FormMethod.Post, new {  @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group col-md-15">
                    @Html.LabelFor(m => m.Name,"Name *", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Name, new { @class = "txt form-control TagName" })
                    </div>
                </div>
@*<div class="form-group">
                                        @Html.Label("Parent Tag", new { @class = "col-lg-2 col-sm-2 control-label" })
                                        <div class="col-lg-5">
                                            @Html.DropDownList("Parent Tag", new SelectList(ViewBag.ParentTag, "Value", "Text"), "Select", new { @class = "ddlParentTag form-control m-bot15", @onchange = "FilterChanged(); " })
                                        </div>
                                    </div>*@
                 <div class="form-group col-md-15">
                            @Html.LabelFor(m => m.ParentTagID, "Parent Tag", new { @class = "col-lg-3 col-sm-3 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(m => m.ParentTagID, new SelectList(ViewBag.ParentTag, "Value", "Text"), "Select", new { @class = "ddlParentTag form-control m-bot15" })
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-10">
                 @*       <button type="button" class="btn btn-info" onclick="saveTopic()">Save</button>
                        <button type="button" class="btn btn-info addTopic" onclick="appendSubTopic()">Add Sub Topic</button>
                        <button type="button" class="btn btn-warning" onclick="window.location='/Tag/Index'">Cancel</button>*@
                          <button type="submit" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-warning" onclick="window.location='/Tag/Index'">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div id="column" style="padding-left: 20px;" class="alertDetailContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btnCloseAlert" type="button">OK</button>
            </div>
        </div>
    </div>
</div>

@section childScripts{
    <script>
        $(document).ready()
        {
            $(".addTopic").hide();

        }
        function saveTopic() {
            var tagName = $(".TagName").val();
            $.ajax({
                type: 'POST',
                url: '/Tag/SaveTag',
                data: {
                    TagName:tagName
                },
                success: function (response) {
                    if (response == "True") {
                        OpenAlertModal("Saved Successfully");
                        $(".addTopic").show();
                    }
                    else {
                        OpenAlertModal(response);

                    }
                }
            });

        }
//function assignTagDropDown(response)
        //{
        //    $('.ddlParentTag').html('');
        //    var data = JSON.parse(response);
        //    var tagoptions = "<option  value=0>Select</option>";
        //    if (data.TagViewModelList != null) {
        //        $.each(data.TagInstituteViewModelList, function (i, item) {
        //            if (item.IsSelected == true) {
        //               tagoptions += "<option selected value=" + item.ID + ">" + item.Name + "</option>";
        //            }
        //            else if (item.IsSelected == false) {
        //                tagoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
        //            }
        //            else {
        //                tagoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
        //            }
        //        });
        //    }
        //}
        //$('.ddlParentTag').html(tagoptions);
        function appendSubTopic()
        { }
    </script>
}