﻿@model OAP.Domain.ViewModel.TagViewModel
@{
    ViewBag.Title = "Delete";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
@section childScripts{
}
<div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                      Delete
                    </header>
                    <div class="panel-body">
                        Are you sure you want to delete this record?
                        <p>@Model.Name</p>
                         @using (Html.BeginForm("Delete", "College", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                         {
                             @Html.HiddenFor(m=>m.ID)
                              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-danger">Delete</button>
                     <button type="button" class="btn btn-danger" onclick="window.location='/Tag/Index'">Cancel</button>
                </div>
            </div>
                         }
                    </div>
                </section>
            </div>
        </div>
