﻿@{
    ViewBag.Title = "Tag List";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            @*<li>
                <a href="#">Master</a>
            </li>*@
         
            <li>
                <a  class="current" href=" /Tag/Index">Tags</a>
            </li>
        </ul>
    </div>
</div>


<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 50px;">
                            <input type="checkbox" class="chkAll" style="margin-left: 33%;" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>
        <div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Tag/Create'"><i class="fa fa-plus"></i> Add New </button>
            <button type="button" class="btn btn-danger" onclick="OpenDeletePopup()" > <i class="fa fa-minus"></i> Delete</button>
            @*<button type="button" class="btn btn-primary" onclick="window.location.href = '/College/MassUpload'"><i class="fa fa-upload"></i> Upload </button>*@
        </div>
    </div>
</section>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" style="padding-left:5px;">
                Are you sure you want to delete these records? Deleting these tags will also delete questions associated with these tags.
            </div>
            <div class="correctAnswerContainer">
                <div class="form-group">
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btnSaveAnswer" type="button" onclick="DeleteTags()">Delete</button>
                <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" class="alertContent" style="padding-left:5px;">
               
            </div>
            <div class="correctAnswerContainer">
                <div class="form-group">
                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnCloseAnswer" type="button">Close</button>
            </div>
        </div>
    </div>
</div>*@


@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/OAP/Tags.js"></script>
    <script>
        $(document).ready(function () {
            BindDataTable();

            $(".chkAll").change(function () {
                if ($(this).prop("checked")) {
                    $(".chkSeperate").prop("checked", true);
                }
                else {
                    $(".chkSeperate").prop("checked", false);
                }
            })

        });
        function BindDataTable() {

            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Tag/List',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Name" },
                //{ "data": "Code" }
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                    }
                },
                {
                    "targets": [1],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<input type="checkbox" style="margin-left: 33%;" class="chkSeperate" id="' + full.ID + '" />';
                    }
                }]
            });
        }

    </script>
}
