﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "QuestionPaper Pass Percentage Report";
    if (!string.IsNullOrEmpty(ViewBag.Layout))
    {
        Layout = ViewBag.Layout;
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Report</a>
            </li>
            <li>
                <a class="current" href="/Report/AssessmentPassPercentageReportFilter">QuestionPaper Pass Percentage Report</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <section class="panel">
    <div class="col-lg-12">
            <header class="panel-heading">
                @ViewBag.Title
            </header>
            <div class="panel-body selectHolder">
                <div class="position-center">
                    @*<div class="form-horizontal bucket-form">*@
                    <div class="form-horizontal">
                        <div class="col-sm-9 icheck "style="margin-left: 110px;">
                            <div class="form-group">
                                <div class="minimal-green single-row">
                                    <div class="radio ">
                                        <label>
                                            <input tabindex="3" class="radSelectType radByBatch" type="radio" value="byBatch" name="demo-radio" checked>
                                            By Batch
                                        </label>
                                    </div>
                                    <div class="radio ">
                                        <label>
                                            <input tabindex="3" class="radSelectType radByBranch" type="radio" value="byBranch" name="demo-radio">
                                            By Department
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-12">
            <div class="panel-body batchWise">
                <div class="position-center">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Batch ", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownList("Batch", new SelectList(ViewBag.Batches, "ID", "Name"), "Select", new { @class = "ddlBatch txt form-control ddlBatch", onchange = "QuestionPaperFilterUnderBatch()" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("QuestionPaper", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                <select multiple name="e6" id="e6" style="width: 100%" class="populate ddlQuestionPapers">
                                    <optgroup label="Select QuestionPapers" class="AssociatedQuestionPaper">
                                    </optgroup>
                                </select>
                                @*@Html.DropDownList("QuestionPaper", new SelectList(ViewBag.QuestionPapers, "ID", "Name"), "All", new { @class = "txt form-control ddlBatchQuestionPaper  ddlQuestionPaper", @multiple = true })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-12">    
            <div class="panel-body branchWise" style="display: none;">
                <div class="position-center">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Department ", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownList("Branch", new SelectList(ViewBag.Branches, "ID", "Name"), "Select", new { @class = "ddlBranch txt form-control ddlBranch", onchange = "LoadQuestionPapersUnderBranch()" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("QuestionPaper", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                <select multiple name="e9" id="e9" style="width: 100%" class="populate ddlQuestionPaperBranches">
                                    <optgroup label="Select QuestionPapers" class="AssociatedQuestionPaper">
                                    </optgroup>
                                </select>
                                @*@Html.DropDownList("QuestionPaper", new SelectList(ViewBag.QuestionPapers, "ID", "Name"), "All", new { @class = "txt form-control ddlBranchQuestionPaper ddlQuestionPaper", @multiple = true })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
            <div class="form-group">
                <div class="col-lg-4"></div>
                <button type="button" onclick="GetQuestionPaperPassPercentageReport()" class="btn btn-success">Generate</button>
            </div>
    </section>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                @*<button class="btn btn-success" type="button">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="~/Scripts/OAP/Report.js"></script>
    <script>
        $(function () {
            $(".radSelectType").change(function () {
                var items = [];
                items.push("<option value=''>All</option>");
                $(".ddlAssessment").html(items.join(''));
                var selectedType = $(".radSelectType:checked").val();
                if (selectedType.toLowerCase() == "bybatch") {
                    $(".branchWise").hide();
                    $(".batchWise").show();
                }
                else if (selectedType.toLowerCase() == "bybranch") {
                    $(".batchWise").hide();
                    $(".branchWise").show();
                }
            });
        });
        // Commented by anu

        function QuestionPaperFilterUnderBatch() {
            selectedBatches = $(".ddlBatch").val();
            //$("#e9").select2();
            //selectedBatch = $(".ddlBranch").val();
            if (selectedBatches != "") {
            $.ajax({
                type: 'POST',
                url: '/QuestionPaper/GetQuestionPaperUnderBatch',
                //GetfilterQuestionPapersUnderBatches',
                data: {
                    //batchIDString: batchID.toString(),
                    batchIDString: selectedBatches,

                },
                success: QuestionPaperLoad
            });
        }}
        function QuestionPaperLoad(response) {
            var data = JSON.parse(response);
            var options = "";
            $.each(data, function (i, item) {
                options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            });
            $(".select2-search-choice").remove();
            $(".AssociatedQuestionPaper").html('');
            $(".AssociatedQuestionPaper").html(options);
        }


        //function QuestionPaperFilterUnderBranch() {
        //    //selectedBatch = $(".ddlBatch").val();
        //    selectedBranches = $(".ddlBranch").val();
        //    $.ajax({
        //        type: 'POST',
        //        url: '/Report/GetfilterQuestionPapersUnderBranches',
        //        data: {
        //            selectedBranches: selectedBranches,
        //        },
        //        success: QuestionPaperLoad
        //    });
        //}
        //function QuestionPaperLoad(response) {
        //    var data = JSON.parse(response);
        //    var options = "";
        //    $.each(data, function (i, item) {
        //        options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
        //    });
        //    $(".select2-search-choice").remove();
        //    $(".AssociatedQuestionPaper").html('');
        //    $(".AssociatedQuestionPaper").html(options);
        //}
    </script>
}