﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Assessment Time Report";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    int i = 0;
    int questionNumber = 1;
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Report</a>
            </li>
            <li>
                <a class="current" href="#">Assessment Time Report</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @ViewBag.Title
            </header>
            <div class="panel-body">
                <div class="AllQuestions">

                    @foreach (var question in Model.QuestionViewModelList)
                    {
                        string index = "Question" + i;
                        <div class="col-lg-12 ">
                            <div class="@index " style="display:none;">
                                <header class="panel-heading">
                                    Question - @questionNumber
                                </header>
                                <div class="col-lg-12">
                                    @Html.Raw(@question.QuestionPassage.Description)
                                </div>
                                <div class="col-lg-12">
                                    @Html.Raw(@question.Description)
                                </div>
                                @foreach (var answer in @question.AnswerViewModelList)
                                {
                                    <div class="col-lg-6">
                                        @if (answer.isCorrect)
                                        {
                                            <div class="alert alert-success fade in">
                                                <strong>
                                                    <i class="fa fa-thumbs-up"></i>
                                                    @Html.Raw(@answer.Description)
                                                </strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-block alert-danger fade in">
                                                <strong>
                                                    <i class="fa fa-thumbs-down"></i>
                                                    @Html.Raw(@answer.Description)
                                                </strong>

                                            </div>
                                
                                        }
                                    </div>
                                }
                                <div class="col-lg-12">
                                    Your Answer:
                                    @if (question.StudentAnsweredViewModelList != null && question.StudentAnsweredViewModelList.Count() > 0)
                                    {
                                        foreach (var studentAnswer in question.StudentAnsweredViewModelList)
                                        {
                                        <div class="alert alert-warning fade in">
                                            <strong>
                                                @if (studentAnswer.isCorrect)
                                                {
                                                    <i class="fa fa-thumbs-up"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-thumbs-down"></i>
                                                }
                                                @Html.Raw(studentAnswer.Description)
                                            </strong>
                                        </div>
                                        }
                                            
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning fade in">
                                            <strong>You have not answered for this question
                                            </strong>
                                        </div>
                                    }
                                    @*@if (Model.StudentAnswer != null)
                    {
                        <div class="alert alert-warning fade in">
                            <strong>
                                @if (Model.StudentAnswer.isCorrect)
                                {
                                    <i class="fa fa-thumbs-up"></i>
                                
                                }
                                else
                                {
                                    <i class="fa fa-thumbs-down"></i>
                                }
                                @Html.Raw(Model.StudentAnswer.Description)
                            </strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning fade in">
                            <strong>You have not answered for this question
                            </strong>
                        </div>
                    }*@
                                </div>
                                <div class="col-lg-12">
                                    @foreach (var timeReport in @question.TimeReports)
                                    {
                                        <div class="col-md-3">
                                            <div class="mini-stat clearfix">

                                                <div class="mini-stat-info">
                                                    <span><i class="fa fa-clock-o"></i>@timeReport.StudentTime    s  </span>
                                                    My Time 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mini-stat clearfix">


                                                <div class="mini-stat-info">
                                                    <span><i class="fa fa-clock-o"></i>@timeReport.BestTime     s          
                                        @if (timeReport.BestStatus == -1)
                                        {
                                            <i data-original-title="Performance" data-content="@timeReport.BestMessage" data-placement="top" data-trigger="hover" class="fa fa-arrow-down popovers text-right" ></i>
                                            
                                        }
                                        else if (timeReport.BestStatus == 1)
                                        {
                                            <i data-original-title="Performance" data-content="@timeReport.BestMessage" data-placement="top" data-trigger="hover" class="fa fa-trophy popovers text-right" ></i>
                                        }
                                        else
                                        {
                                            <i data-original-title="Performance" data-content="@timeReport.BestMessage" data-placement="top" data-trigger="hover" class="fa fa-exclamation-circle popovers text-right" ></i>
                                            
                                        }

                                                    </span>


                                                    Best Time  
                                                </div>

                                            </div>
                                        </div>
             
                                        <div class="col-md-3">
                                            <div class="mini-stat clearfix">
                                                <div class="mini-stat-info">
                                                    <span><i class="fa fa-clock-o"></i>@timeReport.AverageTime     s 
                                          @if (timeReport.AverageStatus == -1)
                                          {
                                              <i data-original-title="Performance" data-content="@timeReport.AverageMessage" data-placement="top" data-trigger="hover" class="fa fa-arrow-down popovers text-right" ></i>
                                            
                                          }
                                          else if (timeReport.AverageStatus == 1)
                                          {
                                              <i data-original-title="Performance" data-content="@timeReport.AverageMessage" data-placement="top" data-trigger="hover" class="fa fa-arrow-up popovers text-right" ></i>
                                          }
                                          else
                                          {
                                              <i data-original-title="Performance" data-content="@timeReport.AverageMessage" data-placement="top" data-trigger="hover" class="fa fa-arrows-h popovers text-right" ></i>

                                            
                                          }
                                                    </span>
                                                    Average Time   

                                                </div>
                                            </div>
                                        </div>
                                        <br />  
                                    }
                                </div>
                            </div>
                        </div>
                                    i++;
                                    questionNumber++;

                    }
                </div>
                <div class="col-lg-12">
                    <button type="button" id="btnPrev" class="btn btn-info" value="Prev" onclick="ShowQuestion(this)">Prev</button>
                    <button type="button" id="btnNext" class="btn btn-info" value="Next" onclick="ShowQuestion(this)">Next</button>

                    Jump to Question 
                    <select class="goToQuestion " onchange="GoToQuestion(this)">
                        @for (int x = 0; x < @Model.QuestionViewModelList.Count(); x++)
                        {
                            int y = x + 1;
                            <option value="@x">@y</option>
                        }
                    </select>
                </div>

            </div>
        </section>
    </div>
</div>


@section childScripts{
    <script>
        var totalCount = '@Model.QuestionViewModelList.Count()';
        var selectedIndex = 0;

    </script>
    <script>
        $(document).ready(function () {
            $(".Question" + selectedIndex).show();
            ShowButtons();
        });
    </script>
    <script>
        function ShowButtons() {
            if (selectedIndex == 0) {
                $("#btnPrev").attr("disabled", "disabled");
                $("#btnNext").removeAttr("disabled");
            }
            else if (selectedIndex == totalCount - 1) {
                $("#btnNext").attr("disabled", "disabled");
                $("#btnPrev").removeAttr("disabled");
            }
            else {
                $("#btnPrev").removeAttr("disabled");
                $("#btnNext").removeAttr("disabled");
            }
        }

        function ShowQuestion(obj) {
            var option = $(obj).val();
            $(".Question" + selectedIndex).hide();
            if (option == "Next") {
                selectedIndex++;
            }
            else if (option == "Prev") {
                selectedIndex--;
            }
            $(".Question" + selectedIndex).show();
            ShowButtons();
        }

        function GoToQuestion(obj) {
            var chosenIndex = $(obj).val();
            $(".Question" + selectedIndex).hide();
            selectedIndex = chosenIndex;
            $(".Question" + selectedIndex).show();
            ShowButtons();
        }

    </script>

}