﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Batch Assessment Report";
    Layout = null;
            //if (!string.IsNullOrEmpty(ViewBag.Layout))
            //{
            //    Layout = ViewBag.Layout;
            //}
}
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">

<style>
    @@page /* Used to remove header and footer*/ {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }

    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }

    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }

    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }

    th {
        font-weight: bold;
    }
</style>

<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float: right;">
        <input type="button" id="PrintButton" value="Print" />
    </div>
</div>

<div style="clear: both;"></div>

<div class="studentAssessmentReport" style="margin: auto; width: 90%;">
    <div class="row">
        @foreach (var batchViewModel in Model.BatchViewModelList)
        { 
            <section class="panel">
                <header class="panel-heading">
                    @batchViewModel.Name
                </header>
                <div class="panel-body">
                    <table class="table">

                        @foreach (var studentViewModel in batchViewModel.StudentViewModelList)
                        {
                            <tr>
                                <td colspan="2" style="text-align:center;">@studentViewModel.UniversityRegistryNumber</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>@studentViewModel.FullName</td>
                            </tr>
                            
                            <tr>
                                <th>Taken Test Count</th>
                                <td>@studentViewModel.TakenTestCount</td>
                            </tr>
                            <tr>
                                <th>Remaining Test Count</th>
                                <td>@studentViewModel.RemainingTestCount</td>
                            </tr>
                       
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>

                        }
                    </table>
                </div>
            </section>
        }

    </div>
</div>

<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>

<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>

<script src="~/Scripts/js/chart-js/Chart.js"></script>

<script src="~/Scripts/js/scripts.js"></script>

<script>

    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });

</script>
