﻿@{
    ViewBag.Title = "Batch Pass Percentage Report";
    if (!string.IsNullOrEmpty(ViewBag.Layout))
    {
        Layout = ViewBag.Layout;
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Report</a>
            </li>
            <li>
                <a class="current" href="/Report/BatchPassPercentageReportFilter">Batch Pass Percentage Report</a>
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @ViewBag.Title
            </header>
            <div class="panel-body">
                <div class="position-center">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("QuestionPaper *", new { @class = "col-lg-3 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownList("QuestionPaper", new SelectList(ViewBag.QuestionPapers, "ID", "Name"), "Select", new { @class = "txt form-control ddlQuestionPaper", onchange = "LoadBatchesUnderQuestionPapers(this)" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Batch *", new { @class = "col-lg-3 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @Html.DropDownList("Batch", new SelectList(ViewBag.Batches, "ID", "Name"), "All", new { @class = "txt form-control ddlBatch" , @multiple = true})
                            </div>
                        </div>
                         <div class="form-group">
                             <div class="col-lg-4 "></div>
            <button type="button" onclick="GetBatchPassPercentageReport()" class="btn btn-success">Generate</button>
                             </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                @*<button class="btn btn-success" type="button">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section childScripts{
    <script src="~/Scripts/OAP/Report.js"></script>
}