﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Batch wise percentage report";
    Layout = null;

    string batches = string.Join(",", Model.BatchViewModelList.OrderBy(x => x.Name).Select(x => x.Name).ToArray());
    string passPercentages = string.Join(",", Model.BatchViewModelList.OrderBy(x => x.Name).Select(x => x.PassPercentage).ToArray());
    string totalStudentsCount = Model.AttentedStudentsCount.ToString();
    bool isCutOffMarkSpecified = Model.BatchViewModelList.Where(avm => avm.IsCutOffMarkSpecified).Count() > 0 ? true : false;
    
}
<title>@ViewBag.Title</title>
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">


<style>
    @@page /* Used to remove header and footer*/ {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }

    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }

    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }

    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }

    th {
        font-weight: bold;
    }
</style>

<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float: right;">
        <input type="button" id="PrintButton" value="Print" />
        @*<input type="button" id="ExcelButton" value="Export Excel" onclick="Test()" />*@
    </div>
</div>
<div style="clear: both;"></div>
@*<input type="hidden" class="hdnTags" value="@Model.Tags" />*@
<input type="hidden" class="hdnBatches" value="@batches " />
<input type="hidden" class="hdnPassPercentage" value="@passPercentages" />
<input type="hidden" class="hdnIsCutOffMarkSpecified" value="@isCutOffMarkSpecified" />

<div class="studentAssessmentReport" style="margin: auto; width: 90%;">
    <div class="row">
        <div class="detailsContainer">
            <section class="panel" style="">
                <table class="tblDetails table">
                    <tr>
                        <th>Assessment</th>
                        <td>@Model.questionPaperViewModel.Name</td>
                    </tr>
                    <tr>
                        <th>Batches</th>
                        <td>@batches</td>
                    </tr>
                    <tr>
                        <th>Total students</th>
                        <td>@totalStudentsCount</td>
                    </tr>
                </table>
            </section>
            <div class="panel-body">
                <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                    @if (isCutOffMarkSpecified)
                    {
                        <table class="batchWiseDetailsContainer table   ">
                            <thead>
                                <tr>
                                    <th>Batch</th>
                                    <th>Total Students</th>
                                    <th>Pass count</th>
                                    <th>Failed count</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var batchViewModel in Model.BatchViewModelList)
                                {
                                    <tr>
                                        @if (batchViewModel.IsCutOffMarkSpecified)
                                        {
                                            <td>@batchViewModel.Name</td>
                                            <td>@batchViewModel.AttentedStudentsCount</td>
                                            <td>@batchViewModel.PassCount</td>
                                            <td>@batchViewModel.FailedCount</td>
                                        }
                                        else
                                        {
                                            <td colspan="4">Cutoff mark not specified</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>Cutoff mark not specified</div>
                    }
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                <header class="panel-heading">
                    Pass percentage Report
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="passPercentageChart" height="250" width="800"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
        @*<div class="row">
            <div class="col-sm-12">
                <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                    <header class="panel-heading">
                        Pass percentage Pie Chart Report
                       <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-chevron-down"></a>
                       </span>
                    </header>
                    <div class="panel-body">
                        <@*div id="pie-chart" class="pie-chart">
                                <div id="pie-chartContainer" style="width: 100%;height:400px; text-align: left;">
                                </div>
                        <div class="chartJS">
                            <canvas id="pie-chart-js" style="width: 100%; height: 400px; text-align: left;" height="250" width="800"></canvas>
</div>
                    </div>

                </section>
            </div>
        </div>*@
    </div>
}

<div id="editor"></div>
<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
<script src="~/Scripts/js/chart-js/Chart.js"></script>
<script src="~/Scripts/js/scripts.js"></script>
@*<!-- jQuery Flot Chart-->
<script src="~/Scripts/js/flot-chart/jquery.flot.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.resize.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.selection.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.stack.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.time.js"></script>
<script src="js/flot.chart.init.js"></script>*@

<script>
    //*Function Declaration
    var passPercentageString = $(".hdnPassPercentage").val().split(',');
    function GetPassPercentage() {
        var passPercentage = new Array();
        var passPercentageString = $(".hdnPassPercentage").val().split(',');
        passPercentage.push(parseFloat(100));
        for (var i = 0; i < passPercentageString.length; i++) {
            if (passPercentageString[i] != "") {
                passPercentage.push(parseFloat(passPercentageString[i]));
            }
        }
        return passPercentage;
    }
    function GetPassPercentageForPieChart() {
        jsonObj = [];
        var passPercentageString = $(".hdnPassPercentage").val().split(',');
        for (var i = 0; i < passPercentageString.length; i++) {
            if (passPercentageString[i] != " ") {
                item = {}
                item["value"] = parseFloat(passPercentageString[i]);
                jsonObj.push(item);
            }
        }
        return jsonObj;
    }

    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });

    function GetChartLabels() {
        var batchesArray = new Array();
        batchesArray.push("Max");
        if ($(".hdnBatches").val() != "") {
            var batches = $(".hdnBatches").val().split(',');
            for (var i = 0; i < batches.length; i++) {
                batchesArray.push(batches[i]);
            }
        }
        return batchesArray;
    }

    function GetPassPercentage() {
        var passPercentage = new Array();
        var passPercentageString = $(".hdnPassPercentage").val().split(',');
        passPercentage.push(parseFloat(100));
        for (var i = 0; i < passPercentageString.length; i++) {
            if (passPercentageString[i] != "") {
                passPercentage.push(parseFloat(passPercentageString[i]));
            }
        }
        return passPercentage;
    }

    $(function () {
        var isCutOffMarkSpecified = "@isCutOffMarkSpecified";
        if (isCutOffMarkSpecified.toLowerCase() == "true") {
            var barChartData = {
                scaleShowGridLines: true,
                labels: GetChartLabels(),

                datasets: [
                    {
                        fillColor: "#79D1CF",
                        strokeColor: "#79D1CE",
                        data: GetPassPercentage()
                    }
                ],
            }
            var options = {
                scaleSteps: 10,
                scaleStartValue: 0,
                barValueSpacing: 10,
                scaleBeginAtZero: true,
                barDatasetSpacing: 10,
            };
            var barChart = new Chart(document.getElementById("passPercentageChart").getContext("2d")).Bar(barChartData, {
                scaleOverlay: false,
                scaleOverride: true,
                scaleSteps: 10,
                scaleStepWidth: 10,
                scaleStartValue: null,
                scaleLineColor: "rgba(0,0,0,.1)",
                scaleLineWidth: 1,
                scaleShowLabels: true,
                scaleLabel: "<%=value%>",
                scaleFontFamily: "'Arial'",
                scaleFontSize: 12,
                scaleFontStyle: "normal",
                scaleFontColor: "#666",
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                barShowStroke: true,
                barStrokeWidth: 2,
                animation: true,
                animationSteps: 60,
                animationEasing: "easeOutQuart",
                onAnimationComplete: null,
                //  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

            });
        }
        //        var ValueToBind = GetPassPercentageForPieChart();
        //        var pieData = [];
        //        //   var k = 0;
        //        //  var batchesLabelArray = new Array();
        //        batchesLabelArray = GetChartLabels();

        //        $.each(ValueToBind, function (i, v) {
        //            // v.value += 10;
        //            r = Math.floor(Math.random() * 200);
        //            g = Math.floor(Math.random() * 200);
        //            b = Math.floor(Math.random() * 200);
        //            var color = 'rgb(' + r + ', ' + g + ', ' + b + ')';
        //            var append = {
        //                value: v.value,
        //                color: color,
        //                // label: batchesLabelArray[k]
        //            }
        //            pieData.push(append);
        //            // k++;
        //        });
        //        var myPie = new Chart(document.getElementById("pie-chart-js").getContext("2d")).Pie(pieData,
        //            {
        //                animation: true,
        //    })
        //});

    });

   
    function Test() {
        var html = "<html>" + $("html").html() + "</html>";
       
        $.ajax({
            type: 'POST',
            url: '/Report/SaveData',
            data: {
                html:html,
            },
            success: window.open("/Report/GenerateBatchPercentageReportExcel"),
            
        });
       

    }
    //...... chart end.....//

    //var pieChartData = {
    //    scaleShowGridLines: true,
    //    labels: GetChartLabels(),

    //    datasets: [
    //        {
    //            fillColor: "#79D1CF",
    //            strokeColor: "#79D1CF",
    //            data: GetPassPercentage()
    //        },
    //    ],

    //}
    //var myPieChart = new Chart(document.getElementById("passPercentageChart").getContext("2d")).Pie(pieChartData,

    //    {

    //        segmentShowStroke: true,


    //        segmentStrokeColor: "#fff",

    //        //Number - The width of each segment stroke
    //        segmentStrokeWidth: 2,

    //        //Number - The percentage of the chart that we cut out of the middle
    //        percentageInnerCutout: 50, // This is 0 for Pie charts

    //        //Number - Amount of animation steps
    //        animationSteps: 100,

    //        //String - Animation easing effect
    //        animationEasing: "easeOutBounce",

    //        //Boolean - Whether we animate the rotation of the Doughnut
    //        animateRotate: true,

    //        //Boolean - Whether we animate scaling the Doughnut from the centre
    //        animateScale: false,

    //        //String - A legend template
    //        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

    //    });


</script>
