﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Batch Pass Percentage Radar Report Filter";
    if (!string.IsNullOrEmpty(ViewBag.Layout))
    {
        Layout = ViewBag.Layout;
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Report</a>
            </li>
            <li>
                <a class="current" href="/Report/BatchPassPercentageRadarReportFilter">Batch Pass Percentage Radar Report Filter</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @ViewBag.Title
            </header>
            <div class="panel-body">
                <div class="position-center">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Institute *", new { @class = "col-lg-3 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                @*@Html.DropDownList("College", new SelectList(ViewBag.Assessments, "ID", "Name"), "Select", new { @class = "txt form-control ddlAssessment", onchange = "LoadBatchesUnderAssessments(this)" })*@
                                @Html.DropDownList("College", new SelectList(ViewBag.College, "ID", "Name"), "Select", new { @class = "ddlCollage form-control m-bot15", @onchange = "FilterChanged() " })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Batch *", new { @class = "col-lg-3 col-sm-2 control-label" })
                            <div class="col-lg-5">
                                <select multiple name="e9" id="e9" style="width: 100%" class="populate ddlBatches">
                                    <optgroup label="Batches" class="AssociatedBatch">
                                    </optgroup>
                                </select>

                                @* </div>
                            <div class="col-lg-5">
                                @Html.DropDownList("Batch", new SelectList(ViewBag.Batches, "ID", "Name"), "All", new { @class = "txt form-control ddlBatch", @multiple = true })
                            </div>*@
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-lg-4 "></div>
                            <button type="button" onclick="GetBatchRadarReport()" class="btn btn-success">Generate</button>
                        </div>*@
                        <div class="form-group">
                            <div class="col-lg-4 "></div>
                            <button type="button" onclick="GetBatchRadarReport()" class="btn btn-success" >Generate</button>
                            @*<button type="button" onclick="ExportBatchRadarReport()" class="btn btn-success">Export</button>*@
                        </div>

                    </div>
                </div>
                </div>
        </section>
    </div>
</div>
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Export Type</h4>
            </div>
            <div class="modal-body">
                <div class="filterContainer form-horizontal position-center">
                    <input type="hidden" class="reportDownloadID" />
                    <label for="format">Format: </label>
                    <input type="radio" name="Format" value="Word" checked="checked" />Word
                    <input type="radio" name="Format" value="Excel" />Excel
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="OpenDownloadModal()" type="button">Download</button>
                <button data-dismiss="modal" class="btn btn-default btn-Series" type="button">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content position-center">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center">Please wait...</h4>
                <div class="modal-body " style="text-align:center">
                    <img src="/images/Loading.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                @*<button class="btn btn-success" type="button">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


@section childScripts{
    <script src="~/Scripts/OAPSmart/Report.js"></script>
    @*<script src="~/Scripts/jquery.spidergraph.js"></script>*@

    <script>
        //function GetBatchRadarReport() {

        //        var assessmentID = $(".ddlAssessment").val();
        //        var batchID = $(".ddlBatch").val();
        //        var selectedBatchString = $(".ddlBatch option:selected").text();
        //        var selMulti = $.map($(".ddlBatch option:selected"), function (el, i) {
        //            if ($(el).text().toLowerCase() == "all") {
        //                selectedBatchString = "all";
        //                batchID = "all";
        //            }
        //            return $(el).text();
        //        });
        //        if (assessmentID != "" && assessmentID != undefined && batchID != null) {
        //            window.open("/Report/GenerateBatchPassPercentageRadarReport?assessmentID=" + assessmentID + "&selectedBatchesString=" + batchID.toString());
        //        }
        //        else {                                              //Assessment or batch not selected 
        //            if (assessmentID == "") { ShowAlert("Please select the assessment"); }
        //            else { ShowAlert("Please select the batch"); }
        //        }            
        //}

        function FilterChanged() {
            //alert("Before filter    selectedBranch   =" + selectedBranch + "  selectedSection=   " + selectedSection);
            OpenModal("loadingModal");
            selectedCollage = $(".ddlCollage").val();
            //BindAssessmentDataTable();
            //selectedBatch = $(".ddlBatch").val();
            //selectedQuestion = $(".ddlQuestion").val();
            $.ajax({
                type: 'POST',
                url: '/Assessment/GetfilterBatch',
                data: {
                    selectedCollage: selectedCollage,
                    //selectedBatch: selectedBatch,
                    //selectedQuestion: selectedQuestion,
                    //InstituteID: InstituteID,
                },
                success: BatchesLoadforAssessment
            });
            //alert("After filter   selectedBranch   =" + selectedBranch + "  selectedSection=   " + selectedSection);

        }
        function BatchesLoadforAssessment(response) {
            if (response != "") {
                ShowAlert("Batch Loaded Successfully");
                var data = JSON.parse(response);
                var options = "";
                $.each(data.batchList, function (i, item) {
                    //if (item.IsSelected == true) {
                    //    options += "<option selected value=" + item.ID + ">" + item.Name + "</option>";
                    //    //$("#e9").val(item.iD);
                    //}
                    //else if (item.IsSelected == false) {
                    //    options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    //}
                    options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    //if (item.IsSelected == true) {
                    //    $('#e9').append($("<option selected></option>").attr("value", item.ID).text(item.Name));
                    //}
                    //else {
                    //    $('#e9').append($("<option></option>").attr("value", item.ID).text(item.Name));
                    //}
                });
                $(".select2-search-choice").remove();
                $(".AssociatedBatch").html('');
                $(".AssociatedBatch").html(options);
                // $(".closeSectionRule").click();

            }
        }
        function OpenDownloadModal() {
            var Format = $('input[name="Format"]:checked').val();
            window.location.href = "//OpenDownloadModal?ID=" + "&Format=" + Format;
        }

        function ExportBatchRadarReport() {
            //$(".questionDetail").hide();
            // $(".modal").modal('hide');
            $("#popupModal").modal({
                show: true,
            });
        }
    </script>
}