﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    i
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/Program/Index">Reports</a>
            </li>
            <li>
                <a class="current" href="#">CanReview Report</a>
            </li>
        </ul>
    </div>
</div>


<section class="panel">
    <header class="panel-heading">
        <title>CanReview Report</title>
    </header>
    <div class="panel-body">
        <input type="hidden" class="QuestionIDForReport" value="@ViewBag.QuestionID" />
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue">
                <ul class="nav nav-tabs">
                   @* <li class="active">
                        <a data-toggle="tab" style="cursor: pointer;" href="#AssessmentTimeReport" onclick="LoadAssessmentTimeReport()">
                            <img src="~/images/Images/TimeReport.png" /> Assessment Time Report
                        </a>
                    </li> *@
                     <li class="">
                        <a data-toggle="tab" style="cursor: pointer;" href="#QuestionPaperReview" onclick="LoadQuestionPaperReview()">
                            <img src="~/images/Images/questionWiseAnalysis.png" /> Question Paper Review
                        </a>
                    </li>            
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">                    
                    <div id="AssessmentTimeReport" class="tab-pane  AssessmentTimeReport">                      
                     </div>
                    <div id="QuestionPaperReview" class="tab-pane active  QuestionPaperReview">  
                        <div class="panel-body">
            <div class="adv-table">
                <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Time Taken (Sec)</th>
                            <th>Status</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div style="clear: both;"></div>
        </div>
                        @*For pop-up by clicking View in QUestionPaperReview*@ 
<div class="modal fade" id="AnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> @*Header of the pop-up*@
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Answer View</h4>
            </div>
            <div class="AnswerDiv"> @*For the table in popup*@
                <table class="display table table-bordered table-striped">
                    <thead>
                        <th>Description</th>
                        <th>Status</th>
                    </thead>
                    <tbody class="answers"></tbody>
                </table>
            </div>
         
            <div class="modal-footer"> @*Footer of the pop-up*@                
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
</div>        
</section>
                 @*@Html.Partial("~/Views/Report/SummaryQuestionWiseAnalysis.cshtml",Model)*@                      

@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/OAP/Question.js"></script>
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script>
        function ClearTabContent() {
         // $(".tab-pane").html('');
        }
        var Qid = $(".QuestionIDForReport").val();

        function LoadAssessmentTimeReport() {
            OpenModal("loadingModal");
            //ClearTabContent();

            $.ajax({
                type: 'POST',
                url: '/Report/AssessmentTimeReportSummary',
                async: true,
                data: {
                    id: Qid
                },
                success: function (response) {
                    $('.AssessmentTimeReport').html(response);
                    $(".closeLoadingModal").click();
                    $(".Question" + selectedIndex).show();
                    ShowButtons();
                },
            });

        }
       
        function LoadQuestionPaperReview() {
            OpenModal("loadingModal");
                $(".chkAll").prop("checked", false);
                var id = $(".QuestionIDForReport").val();
                $('#dynamic-table').dataTable({
                    "destroy": true,
                    "processing": true,
                    "serverSide": true,
                    'ajax': '/Report/GetQuestionPaperReview?id=' + id,
                    "pagingType": "full_numbers",
                    "columns": [
                    { "data": "Description" },
                    { "data": "TimeTaken" },
                    { "data": "Status" },
                    { "data": "AnswerDescription" },
                    ],
                    "columnDefs": [{
                        "targets": [2],
                        "data": "Status",
                        "bSortable": false,
                        "render": function (data, type, full) {
                            var status = full.StudentAnsweredViewModelList;

                            if (full.Status == true) {
                                return '<i class="fa fa-thumbs-up"></i>';
                            }

                            else if (full.Status == false) {
                                return '<i class="fa fa-thumbs-down"></i>';
                            }

                            else {
                                return '<i class="fa fa-arrows-h"></i> ';
                            }

                        }
                    },
                    {
                        "targets": [3],
                        "data": "AnswerDescription",
                        "render": function (data, type, full) {
                            return '<button type="button" class="btn btn-success" onclick="OpenAnswer(' + full.QuestionID + ')">View</a>';
                        }
                    }
                    ]
                });
            $(".closeLoadingModal").click();
        }

        $(document).ready(function () {
            LoadQuestionPaperReview();
        });

        // open Binding Datatable for QuestionPaperReview
        var Qno = 1;
        
        function OpenAnswer(id) // id is passed from Ln: 149; onClick button 
        {
            $(".answers").html(""); // clears the pop up screen when a new answer is selected
            OpenModal("AnswerModal");
            $.ajax({
                type: "POST",
                url: "/Report/GetAnswers",
                data: {
                    id: id,
                },
                success: function (response) {
                    var data = JSON.parse(response);
                    var result = "";

                    $.each(data, function (i, item) { //For the thumbs-up thumbs-down icon
                        if (item.isCorrect == true) {
                            result = result + "<tr><td>" + item.Description + "</td><td><i class='fa fa-thumbs-up'></i></td></tr>";
                        }
                        else if (item.isCorrect == false) {
                            result = result + "<tr><td>" + item.Description + "</td><td><i class='fa fa-thumbs-down'></i></td></tr>";
                        }
                        else {
                            result = result + "<tr><td>" + item.Description + "</td><td><i class='fa fa-arrows-h'></i></td></tr>";
                        }
                    });
                    $(".answers").append(result);
                }
            });

        }

        // End Binding Datatable for QuestionPaperReview 

        var totalCount = '@Model.QuestionViewModelList.Count()';
        // Open AssessmentTimeReport
        var selectedIndex = 0;
        function ShowButtons() {
            if (selectedIndex == 0) {
                $("#btnPrev").attr("disabled", "disabled");
                $("#btnNext").removeAttr("disabled");
            }
            else if (selectedIndex == totalCount - 1) {
                $("#btnNext").attr("disabled", "disabled");
                $("#btnPrev").removeAttr("disabled");
            }
            else {
                $("#btnPrev").removeAttr("disabled");
                $("#btnNext").removeAttr("disabled");
            }
        }

        function ShowQuestion(obj) {
            var option = $(obj).val();
            $(".Question" + selectedIndex).hide();
            if (option == "Next") {
                selectedIndex++;
            }
            else if (option == "Prev") {
                selectedIndex--;
            }
            $(".Question" + selectedIndex).show();
            ShowButtons();
        }

        function GoToQuestion(obj) {
            var chosenIndex = $(obj).val();
            $(".Question" + selectedIndex).hide();
            selectedIndex = chosenIndex;
            $(".Question" + selectedIndex).show();
            ShowButtons();
        }
        // End AssessmentTimeReport
    </script> 
}