﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Console Report";
}
@*<section class="panel">
    <header class="panel-heading">
        Console Report
    </header>
</section>*@

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li> <a href="#">Reports</a> </li>            
            <li> <a class="current" href="#">Consolidated Report Filter</a> </li>            
        </ul>
    </div>
</div>

<div class="panel-body">
    <section class="panel">
        <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="adv-table">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Institute", new { @class = "col-lg-3 col-sm-2 control-label" })
                @*<select multiple name="e9" id="e9" style="width: 100%" class="populate ddlCollage" onchange="BatchFilter()">
                <optgroup label="Select Batches" class="AssociatedCollege">
                </optgroup>
                </select>*@
                <div class="col-lg-5">
                        @Html.DropDownList("College", new SelectList(ViewBag.College, "Value", "Text"), "Select", new { @class = "ddlCollage form-control m-bot15", @onchange = "BatchFilter(); " })
                </div>
            </div>
            <div class="form-group">
                    @Html.Label("Batch", new { @class = "col-lg-3 col-sm-2 control-label" })
                <div class="col-lg-5">
                        @*  <select multiple name="e5" id="e5" style="width: 100%" class="populate ddlBatches" onchange="AssessmentFilter()">
                            <optgroup label="Select Batches" class="AssociatedBatch">
                            </optgroup>
                        </select>*@
                        @Html.DropDownList("Batch", new SelectList(ViewBag.Batch, "Value", "Text"), "Select", new { @class = "ddlBatches form-control m-bot15", @onchange = "AssessmentFilter(); " })

                </div>
            </div>
            <div class="form-group">
                    @Html.Label("Assessment", new { @class = "col-lg-3 col-sm-2 control-label" })
                <div class="col-lg-5">
                        @* <select multiple name="e6" id="e6" style="width: 100%" class="populate ddlAssessments">
                            <optgroup label="Select Assessments" class="AssociatedAssessment">
                            </optgroup>
                        </select>*@
                        @Html.DropDownList("Assessment", new SelectList(ViewBag.Assessment, "Value", "Text"), "Select", new { @class = "ddlAssessments form-control m-bot15" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5"></div>
                    <div class="col-lg-5">
                        <button type="button" onclick="GenerateConsoleReport()" class="btn btn-success">Generate</button>
                    </div>
                </div>
            </div>
    </div>
    <div style="clear: both;"></div>
    </section>
</div>

@section childScripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                url: '/College/GetAllColleges',
                data: {
                },
                success: CollegeLoaded
            });
        });

        function CollegeLoaded(response) {
            var data = JSON.parse(response);
            var options = "";
            var options = "<option  value=0>Select</option>";

            $.each(data, function (i, item) {
                options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            });
            $(".ddlCollage").html('');
            $(".ddlCollage").html(options);
        }
        function BatchFilter() {
            var selectedCollege = $(".ddlCollage").val();
            //$('.ddlCollage :selected').each(function (i, selected) {
            //    if (selectedCollege == "") {
            //        selectedCollege = $(selected).val();
            //    } else {
            //        selectedCollege += "," + $(selected).val();
            //    }
            //});
            //$("#e5").select2();
            var Batchvalue = $(".ddlBatches").val();
            //$('.ddlBatches :selected').each(function (i, selected) {
            //    if (Batchvalue == "") {
            //        Batchvalue = $(selected).val();
            //    } else {
            //        Batchvalue += "," + $(selected).val();
            //    }
            //});
            $.ajax({
                type: 'POST',
                url: '/College/GetfilterBatchforColleges',
                data: {
                    selectedCollege: selectedCollege,
                    //selectedBatches: Batchvalue,
                },
                success: BatchesLoadforAssessment
            });
        }
        function BatchesLoadforAssessment(response) {
            var data = JSON.parse(response);
            var options = "";
            var options = "<option  value=0>Select</option>";

            $.each(data, function (i, item) {
                options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            });
            $(".ddlBatches").html('');
            $(".ddlBatches").html(options);
        }


        function AssessmentFilter() {
            var selectedBatch = $(".ddlBatches").val();
            //$('.ddlBatches :selected').each(function (i, selected) {
            //    if (selectedBatch == "") {
            //        selectedBatch = $(selected).val();
            //    } else {
            //        selectedBatch += "," + $(selected).val();
            //    }
            //});

            $.ajax({
                type: 'POST',
                url: '/College/GetfilterAssments',
                data: {
                    selectedBatches: selectedBatch,
                },
                success: AssessmentLoad
            });
        }

        function AssessmentLoad(response) {
            var data = JSON.parse(response);
            var options = "";
            var options = "<option  value=0>Select</option>";

            $.each(data, function (i, item) {
                options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            });
            $(".ddlAssessments").html('');
            $(".ddlAssessments").html(options);
        }

        function GenerateConsoleReport() {
            var CollegeValue = $(".ddlCollage").val();
            //$('.ddlCollage :selected').each(function (i, selected) {
            //    if (CollegeValue == "") {
            //        CollegeValue = $(selected).val();
            //    } else {
            //        CollegeValue += "," + $(selected).val();
            //    }
            //});
            var Batchvalue = $(".ddlBatches").val();
            //$('.ddlBatches :selected').each(function (i, selected) {
            //    if (Batchvalue == "") {
            //        Batchvalue = $(selected).val();
            //    } else {
            //        Batchvalue += "," + $(selected).val();
            //    }
            //});
            var AssessmentValue = $(".ddlAssessments").val();
            //$('.ddlAssessments :selected').each(function (i, selected) {
            //    if (AssessmentValue == "") {
            //        AssessmentValue = $(selected).val();
            //    } else {
            //        AssessmentValue += "," + $(selected).val();
            //    }
            //});

            var college = CollegeValue;
            var batch = Batchvalue;
            var assessment = AssessmentValue;


            if (college != "" && college != undefined && batch != 0 && batch != "" && assessment != "" && assessment !=0) {
                window.open("/Report/ConsolidatedReportFile?collegeIDs=" + CollegeValue + "&batchIDs=" + Batchvalue + "&assessmentIDs=" + AssessmentValue);
            }
            else {                                              //Assessment or batch not selected 
                if (college == 0) {
                    ShowAlert("Please select the Institute");
               } else if (batch == 0) {
                    ShowAlert("Please select the batch");
               }
               else if (assessment == 0) {
                   ShowAlert("Please select the assessment");
               }
            }
            //new Chart(ctx).Radar(data, { pointDot: false });

        }
    </script>
}