﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    //ViewBag.Title = "3.2. Stream-Wise Performance";
    //Layout = null;
    
}
@*<title>@ViewBag.Title</title>*@
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
<style>
    @@page /* Used to remove header and footer*/ {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }
    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 5px;
        margin: 30px;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }
    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: auto;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }
    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }
    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }
    th {
        font-weight: bold;
    }
</style>
@*<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float: right;">
        <input type="button" id="PrintButton" value="Print" />
    </div>
</div>*@
<div style="clear: both;"></div>
<input type="hidden" class="hdnTags" value="@string.Join(",", Model.BranchViewModelList.Select(x => x.Name).ToArray())" />
@*<input type="hidden" class="hdnTotalQuestions" value="@string.Join(",", Model.TagReportModelList.Select(x => x.TotalQuestions).ToArray())" />
<input type="hidden" class="hdnCorrectAnswers" value="@string.Join(",", Model.TagReportModelList.Select(x => x.CorrectAnswers).ToArray())" />
*@
<input type="hidden" class="hdnCorrectAnswerPercentage" value="@string.Join(",", Model.BranchViewModelList.Select(x => x.PassPercentageAverage).ToArray())" />

<div class="ConsoleStreamWiserBarGraph" style="margin: auto; width: 90%;">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                <header class="panel-heading">
                   <h4> #. Stream-Wise Performance Report </h4>
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="assessmentChart" height="250" width="800"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@*<div id="editor"></div>*@

<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
<script src="~/Scripts/js/chart-js/Chart.js"></script>
<script src="~/Scripts/js/scripts.js"></script>
<script>
    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });

    function GetStreamWiseChartLabels() {
        var tagsArray = new Array();
        tagsArray = $(".hdnTags").val().split(',');
        //alert("Stream wise bar graph");
        //alert(tagsArray);
        return tagsArray;
    }
   
    function GetStreamWiseCorrectAnswerPercentage() {
        var correctAnswerPercentage = new Array();
        var correctAnswerPercentageString = $(".hdnCorrectAnswerPercentage").val().split(',');
        //correctAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < correctAnswerPercentageString.length; i++) {
            correctAnswerPercentage.push(parseInt(correctAnswerPercentageString[i]));
        }
        //alert(correctAnswerPercentage);
        return correctAnswerPercentage;
    }

    $(function () {
        var barChartData = {
            scaleShowGridLines: true,
            labels: GetStreamWiseChartLabels(),
            
            datasets: [
                {
                    fillColor: "#79D1CF",
                    strokeColor: "#79D1CF",
                    data: GetStreamWiseCorrectAnswerPercentage()
                },
            ],
        }
        var options = {
            scaleSteps:10,
            scaleStartValue: 0,
            barValueSpacing: 10,
            scaleBeginAtZero: true,
            barDatasetSpacing: 10,
        };
        //var barChart = new Chart(document.getElementById("assessmentChart").getContext("2d")).Bar(barChartData, options);
        var barChart = new Chart(document.getElementById("assessmentChart").getContext("2d")).Bar(barChartData, {
            scaleOverlay: false,
            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            scaleStartValue: null,
            scaleLineColor: "rgba(0,0,0,.1)",
            scaleLineWidth: 1,
            scaleShowLabels: true,
            scaleLabel: "<%=value%>",
            scaleFontFamily: "'Arial'",
            scaleFontSize: 12,
            scaleFontStyle: "normal",
            scaleFontColor: "#666",
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            animation: true,
            animationSteps: 60,
            animationEasing: "easeOutQuart",
            onAnimationComplete: null
        });
        //barChart.datasets[0].bars[0].value = 50;
        //barChart.update();
    });
    //$(document).ready(function () {
    //    var college = $(".collegeIDs").val();
    //    var batch = $(".batchIDs").val();
    //    var assessment = $(".assessmentIDs").val();
    //    var result = "";
    //    $.ajax({
    //        url: "/Report/ConsoleStreamWiseBarGraph",
    //        type: "POST",
    //        data: {
    //            batch: batch,
    //            college: college,
    //            assessment: assessment,
    //        },
    //        success: ConsoleReportLoaded
    //    });
    //});
    //var result;
    ////var qpName = "";
    //function ConsoleReportLoaded(response) {
    //    // result = response;
    //    //alert(response);
    //    ShowAlert("Console Report Loaded Successfully");
    //    var batchIDstring = $(".batchIDs").val().split(',');
    //    var BatchIDS = new Array();
    //}

</script>
