﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    Layout = null;
    ViewBag.Title = "Consolidated Report File";
    int index = 1;
    int secIndex = 1;
    int secSubIndex = 1;
}
<div style="float: right;"> <input type="button" id="PrintButton" value="Print" /> </div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.CollegeID, new { @class = "collegeIDs" })
    @Html.HiddenFor(m => m.BatchIDString, new { @class = "batchIDs" })
    @Html.HiddenFor(m => m.AssessmentID, new { @class = "assessmentIDs" })
}
@if (Model != null)
{
<div id="printable">
    <section class="panel">

        <div style="text-align:center ; border:solid 5px; margin:15px;">
        <font style="text-transform: uppercase;font-weight:700"><u> @Model.collegeName </u> <br/>                           
                <p style="color:red;text-transform: uppercase;margin-top: 10px;margin-bottom: -8px;font-weight:700"> @Model.AssessmentName DIAGNOSTIC TEST REPORT</p>
                <br />
                FOR @Model.batchName STUDENTS
                <br />
                <h3>INDEX</h3> 
                <br />
        </font>
        </div>
    
        <div style="text-align:left; border:solid; width:auto; margin:15px">
            <font style="text-transform: uppercase;">
            <p> 1. INTRODUCTION
            <br/>
            <p> 2. SUMMARY IN A NUTSHELL
            <br/> <br/>
            3. @Model.AssessmentName DIAGNOSTIC TEST REPORT            
            </font>
            <ul>
                <li>3.1. Overall Performance</li>            
                <li>3.2. Stream-Wise Performance</li>            
                <li>3.3. Section-Wise Performance</li>            
                <li>3.4. Subsection Wise Performance</li>
                @foreach (var item in Model.QuestionPaperSectionViewModellList)
                    {
                        var name = "3.4." + index + ". " + item.Name;                 
                        <ul><li> @name </li></ul>
                        index++;
                    }
            </ul>
            <p> 4. DEPARTMENT-WISE PERFORMANCE
            <ul>
            @foreach (var item in Model.BranchViewModelList)
            {
                var name = "4." + secIndex + ". " + item.Name;
                <li> @name </li>
                var secname1 = "4." + secIndex + ".1. Department-Wise Average Percentage Score";
                <ul><li> @secname1 </li></ul>
                var secname2 = "4." + secIndex + ".2. Section-Wise Performance";
                <ul><li> @secname2 </li></ul>
                var secname3 = "4." + secIndex + ".3. Subsection Wise Performance"; 
                <ul><li> @secname3 </li></ul>
                {
                    secSubIndex = 1;
                    foreach (var items in Model.QuestionPaperSectionViewModellList)
                    {
                        var subname = "4." + secIndex + ".3." + secSubIndex + ". " + items.Name;
                        <ul><ul><li>@subname </li></ul></ul>
                        secSubIndex++;
                    }
                }
                secIndex++;
            }
            </ul>
            <p> 5. CONCLUSION 
            <br />
            <p> 6. RECOMMENDATIONS
            <br />
            <p> 7. ANNEXURES
        </div>
    
        <div class="ContentPart" style="text-align:left ; width:auto ; border:solid; margin:15px">
            <br>
            1. INTRODUCTION
            <br />
            The @Model.AssessmentName Diagnostic Test was conducted on @Model.DateConductedString .
            <br />
            <p>The test constituted @Model.TotalQuestionCount and covered the following areas:</p>
            @foreach (var item in Model.QuestionPaperSectionViewModellList)
            {
                <ul> <li> @item.Name </li> </ul>
            }
            <p>
            The object of the @Model.AssessmentName Diagnostic Test was to assess the knowledge level of the students in terms of the above mentioned aspects. 
            A total of @Model.StudentCount Student of various departments took up the @Model.AssessmentName Test.
            </p>
            <p>This report gives the summary of the results and the analysis of the Student's Performance in the test in terms of</p>
            <ul>
                <li> Overall average </li>
                <li> Stream-wise Performance </li>
                <li> Section-wise Performance </li>
                <li> Subsection-wise Performance </li>
                <li> Department-wise Performance </li>
            </ul>
            <b>2. SUMMARY IN A NUTSHELL</b>
            <table style="border-collapse: collapse; width: auto;" class="center">              
                <tr>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Summary Elements</td>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">@Model.AssessmentName Test Result</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Overall % score</td>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Standard Deviation</td>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Median</td>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Mode</td>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Highest Scoring Department</td>
                    <td style="border: 1px solid black; text-align: center; vertical-align: middle"></td>
                </tr>
            </table>
        <b>3. @Model.AssessmentName DIAGNOSTIC TEST REPORT</b>
        <p><b>3.1. Overall Performance</b></p>
        <p>The frequency distribution of the scores is given in Annexure 1. For better visualization, the same is graphically presented below through a histogram.</p>
        <div style="border:solid">
            <p style="text-align:center"><h4>HISTOGRAM OF SCORES</h4></p>
            @Html.Partial("~/Views/Report/PretrainingDiagnosticReport.cshtml", Model.BarChartViewModel);
            <p style="text-align:center">Score percentage</p>
        </div>
        
        <b>3.2. Stream-Wise Performance</b>
        <p>Tabular representation is given in Annexure 2. The bar diagram of stream-wise performance is shown below.</p>
        <div style="border:solid">@*<div style="fit-position">*@
            @Html.Partial("~/Views/Report/ConsoleStreamWiseBarGraph.cshtml", Model.StreamWiseBarChartViewModel);
            <p style="text-align:center">Stream</p>
        </div>
        <div class="adv-table" style="border:solid">
            <table style="border-collapse: collapse; width: 50%;" class="center">
                <thead>
                    <tr>
                        <th rowspan="2" style="border: 1px solid black; text-align: center; vertical-align: middle">S.No</th>
                        <th rowspan="2" style="border: 1px solid black; text-align: center; vertical-align: middle">Department</th>
                    </tr>
                </thead>
                <tbody>
                    @{int SNo = 1;
                      foreach (var branch in Model.BranchViewModelList)
                      {
                        <tr>
                            <td style="border: 1px solid black">@SNo</td>
                            <td style="border: 1px solid black; text-align:center">@branch.Name</td>
                        </tr>
                          SNo++;
                      }
                    }
                </tbody>
            </table>
        </div>
        <b>3.3. Section-Wise Performance</b>          
        <p>The pie chart illustrating section-wise performance of the students in Pre-training Diagnostic is given below:</p>
        <div style="border:solid">@*<div style="align-self">*@
            <p style="text-align:center"> <h4>#. Section-Wise Performance Pie Chart</h4> </p>
            @Html.Partial("~/Views/Report/ConsoleSectionWiseReport.cshtml", Model.SectionWisePieChartViewModel);           
            @*<p style="text-align:center">Section-Wise Performance Pie Chart</p>*@
        </div>
        <p>The section-wise performance chart shows that students have performed better in xxxx than other sections.</p>        
        <b>3.4. Subsection-wise Performance</b>
        @{int j = 0;}
        @foreach (var item in Model.QuestionPaperSectionViewModellList)
        {
            var name = "3.4." + index + ". " + item.Name;
            <br />
            <div>
                @name
                <div style="border:solid">@*<div style="text-align: center">*@
                    @*<<<<< BARCHART >>>>>*@
                    @Html.Partial("~/Views/Report/SubSectionPerformance.cshtml", Model.TagWiseBarChartViewModelList[j]);           
                    <p style="text-align:center"><b>Subsections of @item.Name </b></p>
                </div>                
                @*<p>It is surprising to find that students have performed well in Reading Comprehension with a good average. However, the performance in other subsections such as ********, ******* and ******** is low and needs improvement.</p>*@
            </div>
            index++;
            j++;
        }
        <b>4. DEPARTMENT - WISE PERFORMANCE</b>
        <div style="border:solid"> @Html.Partial("~/Views/Report/DeptWiseAvgHorzBarChart.cshtml", Model.GetDeptWiseAvgHorzBarChartModel); </div>           
        <div style="border:solid"> @Html.Partial("~/Views/Report/DeptWisePieChart.cshtml", Model.DeptWisePieChartViewModel); </div>
        <div style="border:solid"> @Html.Partial("~/Views/Report/DeptWiseBarChart.cshtml", Model.BranchViewModel); </div>                 
        <br />
        <b>5. CONCLUSION</b>
        <ul>
            <li>The overall average of @Model.YourScore% though low is acceptable considering that students have not received any formal Aptitude Test Training so far.</li>
            <li>The majority of students from all the departments have secured scores between @*@Model.BranchViewModel*@%.</li>
            <li>It is highly appreciable that the highest scoring department is @*@Model.BranchViewModel.Name *@with an average of @*@Model.BranchViewModel.PassPercentage*@%.</li>
            <li>The stream-wise performance chart shows that the performance across groups is fairly uniform. Out of @*@Model.BranchViewModelList.Count *@streams, @*@Model.BranchViewModel.PassPercentageAverage *@ have an average greater than the overall average.</li>
            <li>On the whole, students performed slightly better in Quantitative Aptitude. Next comes Verbal Ability and Domain-Specific Technical Skills where scores were equal, followed by, Reasoning Ability which is the weakest area. Details on subsection performance have been outlined clearly in the previous pages under the respective streams.</li>
        </ul>
        <br />
        <b>6. RECOMMENDATIONS</b>
        <br />
        <p>
            Based on the results of the test, it is advisable to go in for a holistic training approach − preferably long-term. Equal emphasis could be laid on all three aspects Verbal Ability, Reasoning Ability and Quantitative Ability with specific inputs on topics where students are weakest such as Verbal Logic, Vocabulary, Grammar, Non Verbal Reasoning, Basic and Applied Quants. Since the students are in the pre-final year it would be wise to maximise the time on hand to plan for a two phase training programme:<br />
            Phase 1 (4-6 days) for concept inputs and application strengthening.<br />
            Phase 2 (2-4 days) for Pre- Placement revision, test strategy and company paper orientation<br />
            Please note that the observations in this report are merely based on Mock Test Performance and may not be completely reflective of the true potential of the students.
        </p>
        <br />   
    </div> @*content part div closes*@
    </section>
</div>
//<button id="pdf" onclick="javascript:void(0)">Download Consolidated-Report.pdf</button> 
    
}
@section childScripts{
    <script src="~/Scripts/OAPSmart/FileSaver.js"></script>
    <script src="~/Scripts/OAPSmart/FileSaver2D.js"></script>
    <script src="~/Scripts/OAPSmart/jquery.wordexport.js"></script>
    <script src="~/Scripts/OAPSmart/JsPDF.js"></script>
    <script src="~/Scripts/OAPSmart/highcharts-more.js"></script>
    <script src="~/Scripts/OAPSmart/exporting.js"></script>


    <script>
        //function print() {
        //    $(".PrintButton").addClass(".hide");
        //    window.print();
        //    $(".PrintButton").removeClass(".hide");
        //}
        //function printContent(el) {
        //    var restorepage = document.body.innerHTML;
        //    var printcontent = document.getElementById(el).innerHTML;
        //    document.body.innerHTML = printcontent;
        //    window.print();
        //    document.body.innerHTML = restorepage;
        //}
        $("#PrintButton").click("click", function () {
            $("#PrintButton").hide();
            window.print();
            $("#PrintButton").show();
        });
        var college = $(".collegeIDs").val();
        var batch = $(".batchIDs").val();
        var assessment = $(".assessmentIDs").val();
        var result = "";
    
        $(document).ready(function () {
            //OpenModal("loadingModal");

            //var specialElementHandlers = {
            //    '#editor': function (element, renderer) {
            //        return true;
            //    }
            //};

            //$("#pdf").click(function () {
            //    var doc = new jsPDF();
            //    doc.fromHTML($("#printable").html(), 15, 15, {
            //        'width': 170, 'elementHandlers': specialElementHandlers
            //    });
            //    doc.save('Consolidated-Report.pdf');
            //});

            $.ajax({
                url: "/Report/ConsolidatedReport",
                type: "POST",
                data: {
                    batch: batch,
                    college: college,
                    assessment: assessment,
                },
                success: ConsoleReportLoaded
            });
        });
        var result;
        //var qpName = "";
        function ConsoleReportLoaded(response) {
            // result = response;
            //alert(response);
            //ShowAlert("Console Report Loaded Successfully");
            var batchIDstring = $(".batchIDs").val().split(',');
            var BatchIDS = new Array();
        }
    </script>
}