﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    //ViewBag.Title = "3.2. Department Wise Bar Chart";
    //Layout = null;
    
}
@*<title>@ViewBag.Title</title>*@
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
<div style="clear: both;"></div>
<input type="hidden" class="hdnTags" value="@string.Join(",", Model.BranchViewModelList.Select(x => x.Name).ToArray())" />
@*<input type="hidden" class="hdnTotalQuestions" value="@string.Join(",", Model.BranchViewModelList.Select(x => x.TotalQuestions).ToArray())" />
<input type="hidden" class="hdnCorrectAnswers" value="@string.Join(",", Model.BranchViewModelList.Select(x => x.CorrectAnswers).ToArray())" />*@
<input type="hidden" class="hdnCorrectAnswerPercentage" value="@string.Join(",", Model.BranchViewModelList.Select(x => x.PassPercentageAverage).ToArray())" />
<div class="DeptWiseBarChart" style="margin: auto; width: 90%;">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                <header class="panel-heading">
                   Department Wise Performance Report
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="assessmentChart" height="250" width="800"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@*<div id="editor"></div>*@

<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
<script src="~/Scripts/js/chart-js/Chart.js"></script>
<script src="~/Scripts/js/scripts.js"></script>
<script>
    //$("#PrintButton").click("click", function () {
    //    $("#PrintButton").hide();
    //    window.print();
    //    $("#PrintButton").show();
    //});

    function GetDeptWiseChartLabels() {
        var tagsArray = new Array();
        tagsArray = $(".hdnTags").val().split(',');
        //alert(tagsArray);
        return tagsArray;
    }

    function GetDeptWiseCorrectAnswerPercentage() {
        var correctAnswerPercentage = new Array();
        var correctAnswerPercentageString = $(".hdnCorrectAnswerPercentage.").val().split(',');
        //correctAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < correctAnswerPercentageString.length; i++) {
            correctAnswerPercentage.push(parseInt(correctAnswerPercentageString[i]));
        }
        //alert(correctAnswerPercentage);
        return correctAnswerPercentage;
    }

    $(function () {
        if (datasets.length > 0) {
            var barChartData = {
                scaleShowGridLines: true,
                labels: GetDeptWiseChartLabels(),

                datasets: [
                    {
                        fillColor: "#79D1CF",
                        strokeColor: "#79D1CF",
                        data: GetDeptWiseCorrectAnswerPercentage()
                    },
                ],
            }

            var options = {
                scaleSteps: 10,
                scaleStartValue: 0,
                barValueSpacing: 10,
                scaleBeginAtZero: true,
                barDatasetSpacing: 10,
            };
            var barChart = new Chart(document.getElementById("assessmentChart").getContext("2d")).Bar(barChartData, {
                scaleOverlay: false,
                scaleOverride: true,
                scaleSteps: 10,
                scaleStepWidth: 10,
                scaleStartValue: null,
                scaleLineColor: "rgba(0,0,0,.1)",
                scaleLineWidth: 1,
                scaleShowLabels: true,
                scaleLabel: "<%=value%>",
                scaleFontFamily: "'Arial'",
                scaleFontSize: 12,
                scaleFontStyle: "normal",
                scaleFontColor: "#666",
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                barShowStroke: true,
                barStrokeWidth: 2,
                barValueSpacing: 5,
                barDatasetSpacing: 1,
                animation: true,
                animationSteps: 60,
                animationEasing: "easeOutQuart",
                onAnimationComplete: null
            });
        }
        else {
            var tempbody = "<p>Data Not Found</p>"
            $('.DeptWiseBarChart').html("");
            $('.DeptWiseBarChart').append(tempbody);
        }
        });
      

</script>
