﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    Layout = null;
    ViewBag.Title = "Department Wise Average Horizontal Bar Chart";
}

@*<input type="hidden" class="hdnBranchName" value="@string.Join(",", Model.subDeptWiseBarChartViewModelList.Select(x => x.branchName).ToArray())" />*@
<input type="hidden" class="hdnBranchName" value="@string.Join(",", Model.GetDeptWiseAvgHorzBarChartModelList.Select(x => x.branchName).ToArray())" />

@foreach (var item in Model.GetDeptWiseAvgHorzBarChartModelList)
{
    string childName = "hdnchildBranchName" + item.branchName;
    string PassPercentageName = "hdnPassPercentageAverage" + item.branchName;

    string id = "RotatedChart" + item.branchName;
    <input type="hidden" class="@childName" value="@string.Join(",", item.BranchViewModelList.Select(y => y.Name).ToArray())" />
    <input type="hidden" class="@PassPercentageName" value="@string.Join(",", item.BranchViewModelList.Select(y => y.PassPercentageAverage.ToString()).ToArray())" />
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Department-Wise Average Percentage @item.branchName
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                </header>
                <div class="panel-body">

                    <div class="chart">
                        <div id=@id></div>
                    </div>
                </div>
            </section>
        </div>
    </div> 
}

@*@section childScripts{*@
@*Normal JS files*@
@*<script src="/Scripts/js/select2/select2.js"></script>
    <script src="/Scripts/js/select-init.js"></script>
     <script src="/Scripts/js/advanced-form.js"></script>
    <script src="/Scripts/OAPSmart/Validate.js"></script>

        <script type="text/javascript" src="/Scripts/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-daterangepicker/moment.min.js"></script>*@

<!--Core js-->
<script src="/Scripts/js/scripts.js"></script>
<script src="/Scripts/js/jquery.js"></script>
@*<script src="/Content/bs3/js/bootstrap.min.js"></script>*@
<script src="/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="/Scripts/js/jquery.nicescroll.js"></script>
<!--C3 Chart-->

<script src="/Scripts/js/flot-chart/jquery.flot.tooltip.min.js"></script>
@*<script src="http://d3js.org/d3.v3.min.js"></script>*@
<script src="~/Scripts/js/c3-chart/d3.v3.min.js"></script>
<script src="/Scripts/js/c3-chart/c3.js"></script>
<script src="/Scripts/js/c3-chart.init.js"></script>


<script>

    var BranchArray = new Array();
    function GetparentBranchChartLabels() {
        BranchArray = $(".hdnBranchName").val().split(',');
        return BranchArray;
    }

    var correctAnswerPercentage = new Array();
    var childBranchArray = new Array();
    function GetCorrectAnswerPercentage(PassPercentageName) {
        var correctAnswerPercentageString = $(PassPercentageName).val()!=undefined? $(PassPercentageName).val()!=undefinedfined.split(','):0;

        //correctAnswerPercentage.push("data1");
        for (var i = 0; i < correctAnswerPercentageString.length; i++) {
            correctAnswerPercentage.push(parseInt(correctAnswerPercentageString[i]));
        }

        //alert(correctAnswerPercentage);
        return correctAnswerPercentage;
    }
    function GetChildBranch(childName) {
        var childBranchstring = $(childName).val()!=undefined?$(childName).val().split(','):"";

        //correctAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < childBranchstring.length; i++) {
            childBranchArray.push(parseInt(childBranchstring[i]));
        }
        //alert("Department Wise Average Horizontal Bar Chart");
        //alert(childBranchArray);

        return childBranchArray;
    }

    $(function () {
        GetparentBranchChartLabels();
        for (var i = 0; i < BranchArray.length; i++) {
            correctAnswerPercentage = new Array();
            childBranchArray = new Array();
            GetCorrectAnswerPercentage(PassPercentageName);
            GetChildBranch(PassPercentageName);
            var childName = "hdnchildBranchName" + BranchArray[i];
            var PassPercentageName = "hdnPassPercentageAverage" + BranchArray[i];
            var chart = c3.generate({
                bindto: '#RotatedChart' + BranchArray[i],
                data: {
                    names: {
                        data1: BranchArray[i],
                    },
                    columns: [['data1', correctAnswerPercentage]],
                    types: {
                        data1: 'bar'
                    }
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'categorized'
                    }
                }
            });
        }

    });
</script>
