﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    //ViewBag.Title = "Diagnostic Report";
    //Layout = null;
    
}
@*<title>@ViewBag.Title</title>*@
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">

@*<h2>Diagnostic Report</h2>*@
<style>
    @@page /* Used to remove header and footer*/ {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }
    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 5px;
        margin: 30px;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }
    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: auto;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }
    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }
    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }
    th {
        font-weight: bold;
    }
</style>

<input type="hidden" class="hdnTotalStudents" value="@string.Join(",", Model.MarkViewModelList.Select(x => x.studentCount).ToArray())" />
<input type="hidden" class="hdnLabelName" value="@string.Join(",", Model.MarkViewModelList.Select(x => x.LabelName).ToArray())" />

<div class="row">
    <div class="col-sm-12">
        <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
            <header class="panel-heading">
               <h4> #. Performance Report </h4>
            </header>
            <div class="panel-body">
                <div class="chartJS">
                    <canvas id="overallPerformanceChart" height="400" width="800"></canvas>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
<script src="~/Scripts/js/chart-js/Chart.js"></script>
<script src="~/Scripts/js/scripts.js"></script>
<script>
    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });
    function GetPretrainingChartLabels() {
        var tagsArray = new Array();
        tagsArray = $(".hdnLabelName").val().split(',');
        //alert("Pre training diagnostic")
        //alert(tagsArray);
        return tagsArray;
    }
    function GetOverallStudents() {
        var overallStudents = new Array();
        var overallStudentsString = $(".hdnTotalStudents").val().split(',');

        //overallStudents.push(parseInt(100));
        for (var i = 0; i < overallStudentsString.length; i++) {
            overallStudents.push(parseInt(overallStudentsString[i]));
        }
        //alert(overallStudents);

        return overallStudents;
    }
    $(function () {       
        var barChartData = {
            scaleShowGridLines: true,
            labels: GetPretrainingChartLabels(),            //labels: "Less than 15, 15-30, 31-45, 46-60, 61-75",
            //labels: ["<15", "15-30", "31-45", "46-60", "61-75"],
            datasets: [
                {
                    fillColor: "#79D1CF",
                    strokeColor: "#79D1CF",
                    data: GetOverallStudents()
                },
            ],
        }
        var options = {
            scaleSteps: 100,
            scaleStartValue: 0,
            barValueSpacing: 10,
            scaleBeginAtZero: true,
            barDatasetSpacing: 10,
        };        
        var barChart = new Chart(document.getElementById("overallPerformanceChart").getContext("2d")).Bar(barChartData, {
            scaleOverlay: false,
            scaleOverride: true,
            scaleSteps: 5,
            scaleStepWidth: 10,
            scaleStartValue: null,
            scaleLineColor: "rgba(0,0,0,.1)",
            scaleLineWidth: 0,
            scaleShowLabels: true,
            //scaleShowLabels: ".hdnLabelName",            
            scaleLabel: "<%=value%>", // Interpolated JS string - can access value
            //scaleLabel: ".hdnLabelName",
            scaleFontFamily: "'Arial'",
            scaleFontSize: 12,
            scaleFontStyle: "normal",
            scaleFontColor: "#666",
            scaleShowGridLines: false,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            animation: true,
            animationSteps: 60,
            animationEasing: "easeOutQuart",
            onAnimationComplete: null,
           
            //animation: true,  // Boolean - Whether to animate the chart            
            //animationSteps: 60, // Number - Number of animation steps
            //// String - Animation easing effect
            //// Possible effects are:
            //// [easeInOutQuart, linear, easeOutBounce, easeInBack, easeInOutQuad,
            ////  easeOutQuart, easeOutQuad, easeInOutBounce, easeOutSine, easeInOutCubic,
            ////  easeInExpo, easeInOutBack, easeInCirc, easeInOutElastic, easeOutBack,
            ////  easeInQuad, easeInOutExpo, easeInQuart, easeOutQuint, easeInOutCirc,
            ////  easeInSine, easeOutExpo, easeOutCirc, easeOutCubic, easeInQuint,
            ////  easeInElastic, easeInOutSine, easeInOutQuint, easeInBounce,
            ////  easeOutElastic, easeInCubic]
            //animationEasing: "easeOutQuart",            
            //showScale: true, // Boolean - If we should show the scale at all            
            //scaleOverride: false, // Boolean - If we want to override with a hard coded scale
            //scaleShowLabels: true, // Boolean - Whether to show labels on the scale            
            //scaleLabel: "$(.overallStudents)" // Interpolated JS string - can access value            
            //scaleIntegersOnly: true, // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there            
            //scaleBeginAtZero: false, // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value            
            //scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif", // String - Scale label font declaration for the scale label            
            //scaleFontSize: 12, // Number - Scale label font size in pixels            
            //scaleFontStyle: "normal", // String - Scale label font weight style            
            //scaleFontColor: "#666", // String - Scale label font colour            
            //responsive: true, // Boolean - whether or not the chart should be responsive and resize when the browser does.            
            //maintainAspectRatio: true, // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container            
            //showTooltips: true, // Boolean - Determines whether to draw tooltips on the canvas or not            
            //customTooltips: false, // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
            //tooltipEvents: ["mousemove", "touchstart", "touchmove"], // Array - Array of string names to attach tooltip events            
            //tooltipFillColor: "rgba(0,0,0,0.8)", // String - Tooltip background colour            
            //tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif", // String - Tooltip label font declaration for the scale label            
            //tooltipFontSize: 14, // Number - Tooltip label font size in pixels            
            //tooltipFontStyle: "normal", // String - Tooltip font weight style            
            //tooltipFontColor: "#fff", // String - Tooltip label font colour            
            //tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif", // String - Tooltip title font declaration for the scale label            
            //tooltipTitleFontSize: 14, // Number - Tooltip title font size in pixels            
            //tooltipTitleFontStyle: "bold", // String - Tooltip title font weight style            
            //tooltipTitleFontColor: "#fff", // String - Tooltip title font colour            
            //tooltipYPadding: 6, // Number - pixel width of padding around tooltip text            
            //tooltipXPadding: 6, // Number - pixel width of padding around tooltip text            
            //tooltipCaretSize: 8, // Number - Size of the caret on the tooltip            
            //tooltipCornerRadius: 6, // Number - Pixel radius of the tooltip border            
            //tooltipXOffset: 10, // Number - Pixel offset from point x to tooltip edge            
            //tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>", // String - Template string for single tooltips            
            //multiTooltipTemplate: "<%= value %>", // String - Template string for multiple tooltips            
            //onAnimationProgress: function () { }, // Function - Will fire on animation progression.            
            //onAnimationComplete: function () { } // Function - Will fire on animation completion.
        });
    });
</script>
