﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Question Wise Analysis";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    int QNo = 1;
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Report</a>
            </li>
            <li>
                <a class="current" href="#">Question Wise Analysis</a>
            </li>
        </ul>
    </div>
</div>
<section class="panel">
    <div class="testListTable">
        <header class="panel-heading">
            @ViewBag.Title
        </header>
<div class="panel-body">
    <form class="form-horizontal passageEdit">
        <input type="hidden" class="AssessmentID" value="@ViewBag.AssessmentID"/>
    </form>
    </div>
    @*<section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">*@
       <div class="panel-body">
            <div class="adv-table">
         <table class="tagWiseDetailsContainer table   ">
            <thead>
                <tr>
                    <th><i class="fa fa-thumbs-up"></i> Correct</th>
                    <th><i class="fa fa-thumbs-down"></i> Wrong</th>
                    <th><i class="fa fa-arrows-h"></i> Unattempted</th>
                </tr>
            </thead>
        </table>
                </div>
           </div>
        </div>
    </section>
    <section class="panel">
<div class="panel-body">
    <div class="adv-table">
    
        <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
            <thead>
                <tr>
                    <th>Q.No</th>
                    <th>Section Name</th>
                    <th>Tags</th>
                    <th>Time Taken(Sec)</th>
                    <th>Status</th>
                </tr>
            </thead>
            @*<tbody>
                            @foreach (var item in Model.QuestionViewModelList)
                            {
                                <tr>
                                    <td>@QNo</td>
                                    <td>@item.SectionName</td>
                                    <td>@item.TagNames</td>
                                    <td>@item.TimeTaken</td>
                                    <td>                                      
                                       <div>  
                                        @*class="col-lg-12">                                   
                                    @if (@item.StudentAnsweredViewModelList != null && @item.StudentAnsweredViewModelList.Count() > 0)
                                    {
                                        foreach (var studentAnswer in @item.StudentAnsweredViewModelList)
                                        {
                                        <div class="alert alert-warning fade in">
                                            <strong>
                                                @if (studentAnswer.isCorrect)
                                                {
                                                    <i class="fa fa-thumbs-up"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-thumbs-down"></i>
                                                }
                                               
                                            </strong>
                                        </div>
                                        }
                                            
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning fade in">
                                            <strong>                                               
                                                    <i class="fa fa-arrows-h"></i>                                               
                                            </strong>
                                        </div>
                                    }
     </div></td>
                                </tr>
                                QNo++;
                            }
                        </tbody>*@
        </table>
   </div>
</div>
 </section>
@section childScripts{
    @*<script>
        var totalCount = '@Model.QuestionViewModelList.Count()';
        var selectedIndex = 0;
    </script>*@
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    @*<script src="/Scripts/js/ckeditor/ckeditor.js"></script>*@
    <script src="~/Scripts/OAPSmart/Question.js"></script>
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>

    <script>
        
        function BindDataTable() {
            var Qno = 1;
            $(".chkAll").prop("checked", false);
            var id = $(".AssessmentID").val();
            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Report/QuestionWiseAnalysisList?id=' + id,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Q.No" },
                { "data": "SectionName" },
                { "data": "TagNames" },
                { "data": "TimeTaken" },
                { "data": "Status" },
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "Q.No",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + full.Sno + '</a>';
                    }
                },
                {
                    "targets": [4],
                    "data": "Status",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        var status = full.StudentAnsweredViewModelList;
                        
                        if (full.Status == true) {
                            return '<i class="fa fa-thumbs-up"></i>';
                        }

                        else if (full.Status == false) {
                            return '<i class="fa fa-thumbs-down"></i>';
                        }

                        else {
                            return '<i class="fa fa-arrows-h"></i> ';
                        }

                    }
                }]

            });

        }

        $(document).ready(function () {
            BindDataTable();
        });      
    </script>
}