﻿@model OAP.Domain.ViewModel.ScoreCardViewModel
@{
    //ViewBag.Title = "Create";
    if (!string.IsNullOrEmpty(ViewBag.Layout))
    {
        Layout = ViewBag.Layout;
    }
    int colMergeCount = 0;
}

<section class="panel">
    <header class="panel-heading">
         @ViewBag.Title
    </header>
</section>
<div id="export-content" class="panel-body">
    <div class="adv-table">
        <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
            
             @foreach (var b in Model.batchList)
                    {
                        foreach (var q in b.QuestionPaperViewModelList)
                        {
                        int temp = (q.questionPaperSectionViewModelList.Count() * 7) + 9;
                            // temp += 7;
                            if (colMergeCount < temp)
                            {
                            colMergeCount = (q.questionPaperSectionViewModelList.Count() * 7) + 9;
                            }

                        }
                    }
             
                @foreach (var b in Model.batchList)
                {
                <tr>
                    <td style="border:1px solid black; text-align:center;vertical-align:middle">Name of the Batch :@b.Name</td>
                </tr>
                    foreach (var q in b.QuestionPaperViewModelList)
                    {
                <tr>
                    <td>
                        <table style="border: 1px solid black; width: 100%;" class="center">
                            <tr>
                                <td colspan="@colMergeCount" style="border:1px solid black; text-align:center;vertical-align:middle">Name of the QuestionPaper :@q.Name</td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="border:1px solid black;text-align:center;vertical-align:middle">Student Name</td>
                               
                               <td rowspan="2" style="border:1px solid black;text-align:center;vertical-align:middle">Register Number</td>

                                @foreach (var qpSection in q.questionPaperSectionViewModelList)
                                {
                                   
                                    <td colspan="7" style="border: 1px solid black; text-align: center; vertical-align: middle">@qpSection.Name
                                        </td>
                                    
                                    @*<td rowspan="2" style="border:1px solid black">@qpSection.Name</td>*@
                                }
                                <td colspan="7" style="border: 1px solid black; text-align: center; vertical-align: middle">Total
                                </td>
                            </tr>
                            <tr>
                             @foreach (var qpSection in q.questionPaperSectionViewModelList)
                             {
                                    <td style="border: 1px solid black">Total</td>
                                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Answer</td>
                                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Unanswered</td>
                                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Correct</td>
                                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Incorrect</td>
                                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Score</td>
                                    <td style="border: 1px solid black; text-align: center; vertical-align: middle">Percentage</td>
                             }
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">Total</td>
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">Answer</td>
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">UnAnswer</td>
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">Correct</td>
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">Incorrect</td>
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">Score</td>
                                <td style="border: 1px solid black; text-align: center; vertical-align: middle">Percentage</td>


                            </tr>
                                 @if (q.studentViewModelList != null)
                                 {
                                     foreach (var stud in q.studentViewModelList)
                                     {
                                         <tr>
                                    <td style="border: 1px solid black">@stud.FullName</td>

                                    <td style="border: 1px solid black">@stud.UniversityRegistryNumber</td>

                                             
                                             @*<td style="border:1px solid black">@stud.UniversityRegistryNumber</td>*@

                                             
                                               @foreach (var item in stud.QuestionPaperSectionViewModel.questionPaperSections)
                                               { 
                                        <td style="border: 1px solid black">@item.TotalQuestionCount</td>
                                        <td style="border: 1px solid black">@item.UserAnsweredCount</td>
                                        <td style="border: 1px solid black">@item.UnAnswerQuestions</td>
                                        <td style="border: 1px solid black">@item.CorrectAnswerCount</td>
                                        <td style="border: 1px solid black">@item.InCorrectAnswer</td>
                                        <td style="border: 1px solid black">@item.TotalMarksScored</td>
                                        <td style="border: 1px solid black">@item.Percentage%</td>
                                                                                                      
                                               }
                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.Total</td>

                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.Answered</td>
                                             
                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.UnAnswer</td>
                                             
                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.CorrectAnswer</td>

                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.InCorrectAnswers</td>

                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.Mark</td>

                                    <td style="border: 1px solid black">@stud.QuestionPaperSectionViewModel.MarksPercentage%</td>

                                         </tr>
                                     }
                                 }
                            
                        </table>
                    </td>
                </tr>
                        
                               @* if (q.studentViewModelList != null)
                                {
                                    foreach (var stud in q.studentViewModelList)
                                    {
                <tr>
                    <td>@stud.Name</td>
                </tr>
                                    }
                                }*@
                    }
                }
            
        </table>
       
    </div>
   
</div>
 
<a class="word-export" href="javascript:void(0)"> Get Scorecard.doc </a>
    @*<button type="button" class="word-export" onclick="javascript:void(0)">Get Scorecard.doc</button>*@

 
@section childScripts{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/OAP/FileSaver.js"></script>
    <script src="~/Scripts/OAP/jquery.wordexport.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $("a.word-export").click(function (event) {
                $("#export-content").wordExport("Score-Card");
                //$("#export-content").wordExport();
            });
        });
    </script>

}