﻿@model OAP.Domain.ViewModel.ScoreCardViewModel
@{
    ViewBag.Title = "SCORE CARD";
    if (!string.IsNullOrEmpty(ViewBag.Layout))
    {
        Layout = ViewBag.Layout;
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li> <a href="#">Report</a> </li>
            <li> <a class="current" href="/Report/ScoreCardIndex">Score Card</a> </li>
        </ul>
    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="position-center">
            @using (Html.BeginForm("ReportCreate", "Report", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                
                <div class="form-group col-md-11">
                    @Html.Label("Batch: ", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        <select multiple name="e9" id="e9" style="width: 100%" class="populate" onclick="getBatchQuestions()">
                            <optgroup label="Batches" class="AssociatedBatch">
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-11">
                    @Html.Label("Question Paper: ", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        <select multiple name="e91" id="e91" style="width: 100%" class="populate">
                            <optgroup label="QuestionPaper" class="AssociatedQuestion">
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-11">
                    @Html.Label("Report as: ", new { @class = "col-lg-3 col-sm-3 control-label" })
                      <div class="col-lg-5">
                    <input type="radio" name="Format" value="Excel"  style="margin-top: 12px;" /> Excel
                    <input type="radio" name="Format" value="HTML" checked="checked"/> HTML
                            </div>
                    @*<input type="radio" name="Format" value="Word" /> Word*@ 
                </div>
                
                //<div class="form-group" id="page-content">
                    //<a class="word-export" href="javascript:void(0)">Export as .doc </a>
                  //  <a class="word-export" href="javascript:exportDoc()">Export as .doc </a>
                //</div>

                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" class="btn btn-success" onclick="ScoreCardReportShow()">Generate</button>
                </div>
            }
        </div>
    </div>

    @* <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Export Type</h4>
                </div>
                <div class="modal-body">
                    <div class="filterContainer form-horizontal position-center">
                        <input type="hidden" class="reportDownloadID" />
                        <label for="format">Format: </label>
                        <input type="radio" name="Format" value="Word" checked="checked" />Word
                    <input type="radio" name="Format" value="Excel" />Excel
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" onclick="OpenDownloadModal()" type="button">Download</button>
                    <button data-dismiss="modal" class="btn btn-default btn-Series" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>*@

</section>

@*<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content position-center">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Please wait...</h4>
                <div class="modal-body " style="text-align: center">
                    <img src="/images/Loading.gif" />
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>                
            </div>
        </div>
    </div>
</div>*@
@section childScripts{
   @* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/OAPSmart/FileSaver.js"></script>
    <script src="~/Scripts/OAPSmart/jquery.wordexport.js"></script>
    
    <script type="text/javascript">
        //function exportDoc() {
        //    OpenAlertModal('Error in doc download!');
        //}
        jQuery(document).ready(function () {
            $("a.word-export").click(function (event) {
                $("#page-content").wordExport();
            });
        });
    </script>*@

    <script>
        var selectedCollage = 0;
        var selectedBatch = 0;
        var batchlist = false;
        var questionList = false;
        $("#e91").select2();
        FilterChanged();
        $(document).submit(function () {

            //var Batchvalue = "";
            //$('.AssociatedBatch :selected').each(function (i, selected) {
            //    if (Batchvalue == "") {
            //        Batchvalue = $(selected).val();
            //    }
            //    else {
            //        Batchvalue += "," + $(selected).val();
            //    }
            //});
            //$(".batchIDString").val(Batchvalue);
        });

       
        function Checkbatchlist() {
            if (!batchlist) {
                OpenAlertModal('There are no Batches in this College');
            }
        }
        var selectedCollegeName = 0;
        var selectedCollage = 0;
        function FilterChanged() {
            selectedCollage = $(".ddlCollegeName").val();
            $.ajax({
                type: 'POST',
                url: '/Report/GetfilterBatch',
                data: {
                    selectedCollegeName: selectedCollage,
                },
                success: BatchesLoadforAssessment
            });
        }

        function BatchesLoadforAssessment(response) {
            var data = JSON.parse(response);
            var options = "";
            $.each(data.batchList, function (i, item) {
                options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            });
            // $(".select2-search-choice").remove();
            $(".AssociatedBatch").html('');
            $(".AssociatedBatch").html(options);
        }
        function Checkbatchlist() {
            if (!questionList) {
                OpenAlertModal('There are no Batches in this College');
            }
        }
        function getBatchQuestions() {

            var Batchvalue = "";
            $('.AssociatedBatch :selected').each(function (i, selected) {
                if (Batchvalue == "") {
                    Batchvalue = $(selected).val();
                }
                else {
                    Batchvalue += "," + $(selected).val();
                }
            });

            selectedBatch = $(".ddlBatch").val();
            $.ajax({
                type: 'POST',
                url: '/Report/GetfilterQuestion',
                data: {
                    selectedBatch: Batchvalue,
                },
                success: QuestionLoadforAssessment
            });
        }

        function QuestionLoadforAssessment(response) {
            var data = JSON.parse(response);
            var options = "";
            $.each(data.questionList, function (i, item) {
                options += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            });
            //$(".select2-search-choice").remove();
            $(".AssociatedQuestion").html('');
            $(".AssociatedQuestion").html(options);
        }
        function ScoreCardReportShow() {
            var selectedCollageID = $(".ddlCollegeName").val();
            var selectedQuestionID = $(".ddlCollegeName").val();
            var BatchIdString = "";
            var Format = $('input[name="Format"]:checked').val();
            $('.AssociatedBatch :selected').each(function (i, selected) {
                if (BatchIdString == "") {
                    BatchIdString = $(selected).val();
                }
                else {
                    BatchIdString += "," + $(selected).val();
                }
            });

            var QuestionIdString = "";
            $('.AssociatedQuestion :selected').each(function (i, selected) {
                if (QuestionIdString == "") {
                    QuestionIdString = $(selected).val();
                }
                else {
                    QuestionIdString += "," + $(selected).val();
                }
            });
            if (Format == "HTML") {
                window.location.href = "/Report/ScoreCard?BatchIDs=" + BatchIdString + "&CollegeID=" + selectedCollageID + "&QuestionIDs=" + QuestionIdString;
            }
            else {
                window.location.href = "/Report/generateExcelReport?BatchIDs=" + BatchIdString + "&CollegeID=" + selectedCollageID + "&QuestionIDs=" + QuestionIdString;
            }

            //switch (Format) {
            //    case "HTML":
            //        window.location.href = "/Report/ScoreCard?BatchIDs=" + BatchIdString + "&CollegeID=" + selectedCollageID + "&QuestionIDs=" + QuestionIdString;

            //    case "Excel":
            //        window.location.href = "/Report/generateExcelReport?BatchIDs=" + BatchIdString + "&CollegeID=" + selectedCollageID + "&QuestionIDs=" + QuestionIdString;

            //    case "Word":
            //        window.location.href = "/Report/ExportWord?BatchIDs=" + BatchIdString + "&CollegeID=" + selectedCollageID + "&QuestionIDs=" + QuestionIdString;
            //}

            //$.ajax({
            //    type: 'POST',
            //    url: '/Report/ScoreCard',
            //    data: {
            //        BatchIdString: BatchIdString,
            //        selectedCollageID: selectedCollageID
            //    },
            //    success: QuestionLoadforAssessment
            //});
        }

    </script>
}