﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    //ViewBag.Title = "Student SectionWise Performance Report";
    Layout = null;
    // int count = 1;
    int i = 1;
}
<title>@ViewBag.Title</title>
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">

<style>
    @@page /* Used to remove header and footer*/ {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }

    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }

    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }

    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }

    th {
        font-weight: bold;
    }
</style>

@*<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float: right;">
        <input type="button" id="PrintButton" value="Print" />
    </div>
</div>*@
<div style="clear: both;"></div>
<input type="hidden" class="hdnSection" value="@Model.Sections" />
@if (Model.QuestionPaperSectionViewModellList != null)
{
    <input type="hidden" class="hdnTotalQuestions" value="@string.Join(",", Model.QuestionPaperSectionViewModellList.Select(x => x.TotalQuestions).ToArray())" />
    <input type="hidden" class="hdnCorrectAnswers" value="@string.Join(",", Model.QuestionPaperSectionViewModellList.Select(x => x.CorrectAnswerCount).ToArray())" />
    <input type="hidden" class="hdnWrongAnswers" value="@string.Join(",", Model.QuestionPaperSectionViewModellList.Select(x => x.WrongAnswerCount).ToArray())" />
    <input type="hidden" class="hdnAttendedQuestions" value="@string.Join(",", Model.QuestionPaperSectionViewModellList.Select(x => x.AnsweredCount).ToArray())" />
    <input type="hidden" class="hdnUnAttendedQuestions" value="@string.Join(",", Model.QuestionPaperSectionViewModellList.Select(x => x.UnAttemptedQuestions).ToArray())" />
    <input type="hidden" class="hdnCorrectAnswerPercentage" value="@string.Join(",", Model.QuestionPaperSectionViewModellList.Select(x => x.ScorePercentage).ToArray())" />


    @*<table style="position: absolute; top: 5px; right: 5px; font-size: smaller; color: #545454">
        <tbody>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid #ccc; padding: 1px">
                        <div style="width: 4px; height: 0; border: 5px solid rgb(121,209,207); overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel">Attempted</td>
            </tr>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid #ccc; padding: 1px">
                        <div style="width: 4px; height: 0; border: 5px solid rgb(217,221,129); overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel">Correct </td>
            </tr>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid #ccc; padding: 1px">
                        <div style="width: 4px; height: 0; border: 5px solid rgb(230,122,119); overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel">Wrong</td>
            </tr>
        </tbody>
    </table>*@
    foreach (var item in @Model.QuestionPaperSectionViewModellList)
    {
        var firstName = "pie-chart" + i;
        var secondName = "pie-chartContainer" + i;
    <div class="col-sm-8">
        <div class="panel-body">
            <section class="panel">
                <header class="panel-heading">
                    @item.Name
                    @* <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>*@
                </header>
                <div class="panel-body">

                    <div id="@firstName" class="pie-chart">
                        <div id="@secondName" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                            <canvas class="flot-base" width="495" height="400" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 495px; height: 400px;"></canvas>
                            <canvas class="flot-overlay" width="495" height="400" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 495px; height: 400px;"></canvas>
                            <div class="legend">
                                <div style="position: absolute; width: 80px; height: 54px; top: 5px; right: 5px; opacity: 0.85; background-color: rgb(255, 255, 255);"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
        i++;
    }
}
<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
<!-- jQuery Flot Chart-->
<script src="~/Scripts/js/flot-chart/jquery.flot.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.resize.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.selection.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.stack.js"></script>
<script src="~/Scripts/js/flot-chart/jquery.flot.time.js"></script>

<script>

    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });
    var Section = new Array();
    var sectionArray = new Array();
    var correctAnswerPercentage = new Array();
    var WrongAnswerPercentage = new Array();
    var UnAttendedAnswerPercentage = new Array();
    var label = new Array();
    function GetChartLabels() {
        label.push("Attempted");
        label.push("Correct");
        label.push("Wrong");
        return label;
    }

    function GetUnAttendedAnswerPercentage() {
        var UnAttendedAnswerPercentageString = $(".hdnUnAttendedQuestions").val().split(',');

        UnAttendedAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < UnAttendedAnswerPercentageString.length; i++) {
            UnAttendedAnswerPercentage.push(parseInt(UnAttendedAnswerPercentageString[i]));
        }
        return UnAttendedAnswerPercentage;
    }
    function GetCorrectAnswerPercentage() {
        //alert(1);
       // alert($(".hdnCorrectAnswers").val());
        var correctAnswerPercentageString = $(".hdnCorrectAnswers").val().split(',');
        correctAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < correctAnswerPercentageString.length; i++) {
            correctAnswerPercentage.push(parseInt(correctAnswerPercentageString[i]));
        }
        return correctAnswerPercentage;
    }
    function GetWrongAnswerPercentage() {
        var WrongAnswerPercentageString = $(".hdnWrongAnswers").val().split(',');

        WrongAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < WrongAnswerPercentageString.length; i++) {
            WrongAnswerPercentage.push(parseInt(WrongAnswerPercentageString[i]));
        }
        return WrongAnswerPercentage;
    }
    function GetSection() {
        var SectionString = $(".hdnSection").val().split(',');

        for (var i = 1; i < SectionString.length; i++) {
            Section.push(SectionString[i]);
        }
        return Section;
    }
    var Value = new Array();
    function BindingUnAttendedValues(i) {
        //GetSection();
        //GetWrongAnswerPercentage();
        //GetCorrectAnswerPercentage();
        GetUnAttendedAnswerPercentage();
        //for (var i = 0; i < Section.length ; i++) {
        //Value.push({ label: "Attempted", data: AttendedAnswerPercentage[0]});
        //Value.push({ label: "Correct", data: correctAnswerPercentage[0]});
        //Value.push({ label: "Wrong", data: WrongAnswerPercentage[0]});
        //}
        //alert(UnAttendedAnswerPercentage[i]);
        return UnAttendedAnswerPercentage[i];
    }
    function BindingcorrectValues(i) {
        //GetSection();
        //GetWrongAnswerPercentage();
        GetCorrectAnswerPercentage();
        //GetAttendedAnswerPercentage();
        //for (var i = 0; i < Section.length ; i++) {
        //Value.push({ label: "Attempted", data: AttendedAnswerPercentage[0]});
        //Value.push({ label: "Correct", data: correctAnswerPercentage[0]});
        //Value.push({ label: "Wrong", data: WrongAnswerPercentage[0]});
        //}
        //alert(correctAnswerPercentage[i]);
        return correctAnswerPercentage[i];
    }
    function BindingwrongValues(i) {
        //GetSection();
        GetWrongAnswerPercentage();
        //GetCorrectAnswerPercentage();
        //GetAttendedAnswerPercentage();
        ////for (var i = 0; i < Section.length ; i++) {
        //Value.push({ label: "Attempted", data: AttendedAnswerPercentage[0]});
        //Value.push({ label: "Correct", data: correctAnswerPercentage[0]});
        //Value.push({ label: "Wrong", data: WrongAnswerPercentage[0]});
        //}
        //alert(WrongAnswerPercentage[i]);
        return WrongAnswerPercentage[i];
    }

    $(function () {
        var sections = GetSection();
        for (var i = 1; i <= sections.length; i++) {
            var toolTipContent = "UnAttended=" + BindingUnAttendedValues(i) + ",Correct=" + BindingcorrectValues(i) + ",Wrong=" + BindingwrongValues(i);
            var data = [{
                label: "Unattempted",
                data: BindingUnAttendedValues(i)
            }, {
                label: "Correct",
                data: BindingcorrectValues(i)
            }, {
                label: "Wrong",
                data: BindingwrongValues(i)
            }];
            var options = {
                series: {
                    pie: {
                        show: true
                    }
                },
                legend: {
                    show: false
                },
                grid: {
                    hoverable: false,
                    clickable: false
                },
                //colors: ["#6CBBAD", "#D9DD81", "#E67A77"],
                colors: ["#4CDBDB", "#009966", "#E26561"],

                tooltip: true,
                tooltipOpts: {
                    content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                    defaultTheme: false
                }
            };
            var firstName = "#pie-chart" + i;
            var secondName = "#pie-chartContainer" + i;
            var Combined = firstName + " " + secondName;
            $.plot($(Combined), data, options);
            //$.plot($("#pie-chart #pie-chartContainer"), data, options); 
        }
    });
</script>
