﻿@model OAP.Domain.ViewModel.ReportViewModel.QuestionPaperReportModel
@{
    ViewBag.Title = "Student Assessment Report";
    Layout = null;
    TimeSpan timespanValueForTimeTakenForCorrectAnswer;
    TimeSpan timespanValueForAverageTimeTakenForCorrectAnswer;
}
<title>@ViewBag.Title</title>
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">

<style>
    @@page /* Used to remove header and footer*/ {
        size: auto; /* auto is the initial value */
        margin: 0mm; /* this affects the margin in the printer settings */
    }

    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }

    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }

    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }

    th {
        font-weight: bold;
    }
</style>

<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float: right;">
        <input type="button" id="PrintButton" value="Print" />
    </div>
</div>
<div style="clear: both;"></div>
<input type="hidden" class="hdnTags" value="@Model.Tags" />
<input type="hidden" class="hdnTotalQuestions" value="@string.Join(",", Model.TagReportModelList.Select(x => x.TotalQuestions).ToArray())" />
<input type="hidden" class="hdnCorrectAnswers" value="@string.Join(",", Model.TagReportModelList.Select(x => x.CorrectAnswers).ToArray())" />
<input type="hidden" class="hdnCorrectAnswerPercentage" value="@string.Join(",", Model.TagReportModelList.Select(x => x.CorrectAnswerPercentage).ToArray())" />

<div class="studentAssessmentReport" style="margin: auto; width: 90%;">
    <div class="row">
        <div class="detailsContainer">
            <section class="panel" style="">
                <table class="tblDetails table">
                    <tr> @{
                                
                        timespanValueForTimeTakenForCorrectAnswer = TimeSpan.FromSeconds(Model.TimeTakenForCorrectAnswer);
                        timespanValueForAverageTimeTakenForCorrectAnswer = TimeSpan.FromSeconds(Model.AverageTimeTakenForCorrectAnswer);                                                                
                            }
                        <th>Name</th>
                        <td>@Model.StudentName</td>
                    </tr>
                    <tr>
                        <th>Register Number</th>
                        <td>@Model.RegisterNumber</td>
                    </tr>
                    <tr>
                        <th>Assessment Name</th>
                        <td>@Model.AssessmentName</td>
                    </tr>
                    <tr>
                        <th>Total Questions</th>
                        <td>@Model.TotalQuestions</td>
                    </tr>
                    <tr>
                        <th>Attented Questions</th>
                        <td>@Model.AttentedQuestions</td>
                    </tr>
                    <tr>
                        <th>Correct Answers</th>
                        <td>@Model.CorrectAnswers</td>
                    </tr>
                    <tr>
                        <th>Marks Percentage</th>
                        <td>@Model.MarksPercentage%</td>
                    </tr>
                    <tr>
                        <th>Hit Percentage</th>
                        <td>@Model.HitPercentage%</td>
                    </tr>
                    <tr>
                       <th>Time taken for correct answers (HH:MM:SS)</th>
                        <td>@timespanValueForTimeTakenForCorrectAnswer.ToString("hh':'mm':'ss")</td>
                    </tr>
                    <tr>
                        <th>Average time taken for correct answers (HH:MM:SS)</th>
                        <td>@timespanValueForAverageTimeTakenForCorrectAnswer.ToString("hh':'mm':'ss")</td>
                    </tr>
                </table>
            </section>
            <div class="panel-body">
                <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                    <table class="tagWiseDetailsContainer table   ">
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Total Questions</th>
                                <th>Attended Questions</th>
                                <th>Correct Answers</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TagReportModelList)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.TotalQuestions</td>
                                    <td>@item.AttendedQuestions</td>
                                    <td>@item.CorrectAnswers</td>
                                    <td>@item.CorrectAnswerPercentage%</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                <header class="panel-heading">
                    Performance Report
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="assessmentChart" height="300" width="800"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="editor"></div>

<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>

<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>

<script src="~/Scripts/js/chart-js/Chart.js"></script>

<script src="~/Scripts/js/scripts.js"></script>

<script>

    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });

    function GetChartLabels() {
        var tagsArray = new Array();
        tagsArray = $(".hdnTags").val().split(',');
        return tagsArray;
    }

    function GetCorrectAnswerPercentage() {
        var correctAnswerPercentage = new Array();
        var correctAnswerPercentageString = $(".hdnCorrectAnswerPercentage").val().split(',');

        correctAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < correctAnswerPercentageString.length; i++) {
            correctAnswerPercentage.push(parseInt(correctAnswerPercentageString[i]));
        }
        return correctAnswerPercentage;
    }

    $(function () {

        //var doc = new jsPDF();
        ////var doc = new jsPDF('p', 'in', 'letter');
        //var specialElementHandlers = {
        //    '#editor': function (element, renderer) {
        //        return true;
        //    }
        //};

        //$('#PrintButton').click(function () {
        //    $("#PrintButton").hide();
        //    //doc.text(20, 20, ($('.studentAssessmentReport').html()));
        //    //doc.save('Test.pdf');
        //    doc.fromHTML($('.studentAssessmentReport').html(), 15, 15, {
        //        'width': 170,
        //        //'elementHandlers': specialElementHandlers
        //    });
        //    doc.save('Test.pdf');

        //    $("#PrintButton").show();
        //});

        //$("#PrintButton").click("click", function () {

        //});


        var barChartData = {
            scaleShowGridLines: true,
            labels: GetChartLabels(),

            datasets: [
                {
                    fillColor: "#79D1CF",
                    strokeColor: "#79D1CF",
                    data: GetCorrectAnswerPercentage()
                },

                 //{
                 //    fillColor: "#79D1CF",
                 //    strokeColor: "#79D1CF",
                 //    data: GetCorrectAnswerPercentage()
                 //},
            ],


        }
        var options = {
            scaleSteps: 10,
            scaleStartValue: 0,
            barValueSpacing: 10,
            scaleBeginAtZero: true,
            barDatasetSpacing: 10,
        };
        //var barChart = new Chart(document.getElementById("assessmentChart").getContext("2d")).Bar(barChartData, options);
        var barChart = new Chart(document.getElementById("assessmentChart").getContext("2d")).Bar(barChartData, {
            scaleOverlay: false,
            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            scaleStartValue: null,
            scaleLineColor: "rgba(0,0,0,.1)",
            scaleLineWidth: 1,
            scaleShowLabels: true,
            scaleLabel: "<%=value%>",
            scaleFontFamily: "'Arial'",
            scaleFontSize: 12,
            scaleFontStyle: "normal",
            scaleFontColor: "#666",
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            animation: true,
            animationSteps: 60,
            animationEasing: "easeOutQuart",
            onAnimationComplete: null
        });
        //barChart.datasets[0].bars[0].value = 50;
        //barChart.update();
    });

</script>
