﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title ="Question Paper Review";
   // Layout = "~/Views/Shared/_StudentLayout.cshtml";
    //int i = 0;
    //int questionNumber = 1;
}
<title>@ViewBag.Title</title>
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
@*<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    </div>*@
<section class="panel">
    <div class="testListTable">
        <header class="panel-heading">
            Question Paper Review
        </header>
        <div class="panel-body">
            <form class="form-horizontal passageEdit">
              <input type="hidden" class="AssessmentID" value="@ViewBag.AssessmentID"/> @*AssessmentID is Question paped id*@ 
            </form>
        </div>
        <div class="panel-body">
            <div class="adv-table">
                <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Time Taken (Sec)</th>
                            <th>Status</th>
                            <th>Answer</th>
                            @*<div class="fa-hover col-md-3 col-sm-4"><a href="#"><i class="fa fa-clock-o"></i> fa-clock-o</a></div>*@
                        </tr>
                    </thead>
                    <tbody>
                        @* @foreach (var question in Model.QuestionViewModelList)
                        {
                            <tr>
                                <td>@Html.Raw(@question.QuestionPassage.Description)</td>
                                 
                                @foreach (var timeReport in @question.TimeReports)
                                <td>    
                                    <span> <i class="fa fa-clock-o"></i>@timeReport.StudentTime    s  </span>
                                </td>
                                 @foreach (var answer in @question.AnswerViewModelList)
                                     <td>
                                        @if (answer.isCorrect){
                                            <i class="fa fa-thumbs-up"></i>
                                            @Html.Raw(@answer.Description)
                                        }
                                         else{
                                            <i class="fa fa-thumbs-down"></i>
                                            @Html.Raw(@answer.Description)
                                        }
                                     </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</section>

@*For pop-up by clicking View in QUestionPaperReview*@ 
<div class="modal fade" id="AnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> @*Header of the pop-up*@
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Answer View</h4>
            </div>
            <div class="AnswerDiv"> @*For the table in popup*@
                <table class="display table table-bordered table-striped">
                    <thead>
                        <th>Description</th>
                        <th>Status</th>
                    </thead>
                    <tbody class="answers"></tbody>
                </table>
            </div>
         
            <div class="modal-footer"> @*Footer of the pop-up*@                
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    @*<script src="/Scripts/js/ckeditor/ckeditor.js"></script>*@
    <script src="~/Scripts/OAPSmart/Question.js"></script>
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>

    <script>
        var Qno = 1;
        function BindDataTable() {
            $(".chkAll").prop("checked", false);
            var id = $(".AssessmentID").val();
            alert();    
            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Report/GetQuestionPaperReview?id=' + id,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Description" },
                { "data": "TimeTaken" },
                { "data": "Status" },
                { "data": "AnswerDescription" },
                ],
                "columnDefs": [{
                    //    "targets": [0],
                    //    "data": "CurrentQuestion",
                    //    "render": function (data, type, full) {
                    //        return '<a href="Edit/' + full.Description + '">' + Description + '</a>';
                    //    }
                    //},
                    //{
                    //    "targets": [1],
                    //    "data": "TotalTimeTaken",
                    //    "render": function (data, type, full) {
                    //        return '<a href="Edit/' + full.TimeTaken + '">' + TimeTaken + '</a>';
                    //    }
                    //},


                    "targets": [2],
                    "data": "Status",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        var status = full.StudentAnsweredViewModelList;

                        if (full.Status == true) {
                            return '<i class="fa fa-thumbs-up"></i>';
                        }

                        else if (full.Status == false) {
                            return '<i class="fa fa-thumbs-down"></i>';
                        }

                        else {
                            return '<i class="fa fa-arrows-h"></i> ';
                        }

                    }
                },
                {
                    "targets": [3],
                    "data": "AnswerDescription",
                    "render": function (data, type, full) {
                        return '<button type="button" class="btn btn-success" onclick="OpenAnswer(' + full.QuestionID + ')">View</a>';
                    }
                }
                ]
            });
        }
        $(document).ready(function () { BindDataTable(); });

        //function OpenAnswer(id) {
        //    var Ans = id;
        //    $.ajax({
        //        type: 'POST',
        //        url: '/Question/_QuestionDetail',
        //        data: {
        //            id: Ans
        //        },
        //        //success: SaveQuestionsSucess
        //    });
        //}

        function OpenAnswer(id) // id is passed from Ln: 149; onClick button 
        {
            $(".answers").html(""); // clears the pop up screen when a new answer is selected
            OpenModal("AnswerModal");
            $.ajax({
                type: "POST",
                url: "/Report/GetAnswers", 
                data: {
                    id: id,
                },
                success: function (response) {
                    var data = JSON.parse(response);
                    var result = "";

                    $.each(data, function (i, item) { //For the thumbs-up thumbs-down icon
                        if (item.isCorrect == true) {
                            result = result + "<tr><td>" + item.Description + "</td><td><i class='fa fa-thumbs-up'></i></td></tr>";
                        }
                        else if (item.isCorrect == false) {
                            result = result + "<tr><td>" + item.Description + "</td><td><i class='fa fa-thumbs-down'></i></td></tr>";
                        }
                        else {
                            result = result + "<tr><td>" + item.Description + "</td><td><i class='fa fa-arrows-h'></i></td></tr>";
                        }                        
                    });
                    $(".answers").append(result);
                }
            });

        }

        //$(document).ready(function () {
            //BindDataTable();
        //});
    </script>
}
