﻿@model OAP.Domain.ViewModel.ReportViewModel.SectionReportModel
@{
    ViewBag.Title = "Section Wise BarGraph";
    Layout = null;
}
<title>@ViewBag.Title</title>
<link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Scripts/js/morris-chart/morris.css">
<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    </div>
<style>
    @@page {
        size: auto;
        margin: 0mm;
    }

    body {
        color: #767676;
        background: #f1f2f7;
        font-family: 'Open Sans',sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 13px;
        text-rendering: optimizeLegibility;
    }

    .panel {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight: normal;
        background: white;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    .progressPercentage {
        background-color: #5cb85c;
        height: 10px;
    }

    .progressHolder {
        background-color: lightgray;
        height: 10px;
    }

    th {
        font-weight: bold;
    }
</style>

@*legends*@

@*<div style="margin: auto; width: 90%">
    <div style="float: left;">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="float: right;">
        <input type="button" id="PrintButton" value="Print" />
    </div>
</div>*@

 @*<div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Tools <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#">Print</a></li>
                                        <li><a href="#">Export to Word</a></li>
                                        <li><a href="#" >Export to Excel</a></li>
                                    </ul>
                                </div>*@


<div style="clear: both;"></div>
<input type="hidden" class="hdnSection" value="@Model.Sections" />
@if (Model.SectionReportModelList != null)
{
<input type="hidden" class="hdnTotalQuestions" value="@string.Join(",", Model.SectionReportModelList.Select(x => x.TotalQuestions).ToArray())" />
<input type="hidden" class="hdnCorrectAnswersBar" value="@string.Join(",", Model.SectionReportModelList.Select(x => x.CorrectAnswers).ToArray())" />
<input type="hidden" class="hdnWrongAnswers" value="@string.Join(",", Model.SectionReportModelList.Select(x => x.WrongAnswers).ToArray())" />
<input type="hidden" class="hdnAttendedQuestions" value="@string.Join(",", Model.SectionReportModelList.Select(x => x.AttendedQuestions).ToArray())" />
<input type="hidden" class="hdnCorrectAnswerPercentage" value="@string.Join(",", Model.SectionReportModelList.Select(x => x.CorrectAnswerPercentage).ToArray())" />
<input type="hidden" class="hdnUnattendedAnswers" value="@string.Join(",", Model.SectionReportModelList.Select(x => x.UnattendedQuestions).ToArray())" />
    
}

<div class="SectionWiseBarGraph" style="margin: auto; width: 90%;">
    <div class="row">
        <div class="detailsContainer">
            <section class="panel" style="">
                <table class="tblDetails table">
                    <tr>
                        <th>Name</th>
                        <td>@Model.StudentName</td>
                    </tr>
                    <tr>
                        <th>Register Number</th>
                        <td>@Model.RegisterNumber</td>
                    </tr>
                    <tr>
                        <th>Question Paper Name</th>
                        <td>@Model.QuestionPaperName</td>
                    </tr>
                    <tr>
                        <th>Total Questions</th>
                        <td>@Model.TotalQuestions</td>
                    </tr>
                             
                    <tr>
                        <th>Total Sections</th>
                        <td>@Model.TotalSections</td>
                    </tr>
                </table>
            </section>
            @*<div class="panel-body">*@
                <secion class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                    <table class="tagWiseDetailsContainer table   ">
                        <thead>
                            <tr>
                                <th>Section Name</th>
                                <th>Total Questions</th>
                                <th>Attended Questions</th>
                                <th>Unattended Questions</th>
                                <th>Correct Answers</th>
                                <th>Wrong Answers</th>
                                <th>Score Percentage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SectionReportModelList != null)
                            {
                                foreach (var item in Model.SectionReportModelList)
                                {
                                <tr>
                                    <td>@item.SectionName</td>
                                    <td>@item.TotalQuestions</td>
                                    <td>@item.AttendedQuestions</td>
                                    <td>@item.UnattendedQuestions</td>
                                    <td>@item.CorrectAnswers</td>
                                    <td>@item.WrongAnswers</td>
                                    <td>@item.CorrectAnswerPercentage%</td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </secion>
            @*</div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
                <header class="panel-heading">
                    Performance Report
                </header>
                <div class="panel-body">
                    <div class="legend">
    <div style="position: absolute; width: 70px; height: 54px; top: 5px; right: 5px; opacity: 0.85; ">
    </div>
    <table style="position:absolute;top:5px;right:25px;font-size:smaller;color:#545454" >
        <tbody>
            <tr>
                <td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
                    <div style="width:4px;height:0;border:5px solid #79D1CF;overflow:hidden"></div>
                </div>
                </td>
                <td class="legendLabel">Attended</td>
            </tr>            
            <tr>
                <td class="legendColorBox">
                    <div style="border:1px solid #ccc;padding:1px">
                        <div style="width:4px;height:0;border:5px solid #009966;overflow:hidden">
                        </div>
                    </div>
                </td>
                <td class="legendLabel">Correct</td>
            </tr>
            <tr>
                <td class="legendColorBox">
                    <div style="border:1px solid #ccc;padding:1px">
                        <div style="width:4px;height:0;border:5px solid #E26561;overflow:hidden">
                        </div>
                    </div>
                </td>
                <td class="legendLabel">Unattended</td>
            </tr>
            
        </tbody>
    </table>
</div>
                        <div id="graph-bar"></div>
                        
                </div>
            </section>
        </div>
    </div>
</div>
@*<div id="editor"></div>*@
<script src="~/Scripts/js/jquery.js"></script>
<script src="~/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="~/Scripts/js/jquery.nicescroll.js"></script>
<script src="~/Scripts/OAPSmart/JsPDF.js"></script>
<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
<script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
<script src="~/Scripts/js/chart-js/Chart.js"></script>
<script src="~/Scripts/js/scripts.js"></script>
<script src="~/Scripts/js/morris-chart/morris.js"></script>
<script src="~/Scripts/js/morris-chart/raphael-min.js"></script>
@*<script src="~/Scripts/js/morris.init.js"></script>*@ 
<script>


    $("#PrintButton").click("click", function () {
        $("#PrintButton").hide();
        window.print();
        $("#PrintButton").show();
    });
    var Section = new Array();
    var sectionArray = new Array();
    var correctAnswerPercentage = new Array();
    var AttendedAnswerPercentage = new Array();
    var UnattendedAnswerPercentage = new Array();

    var label = new Array();
    function GetChartLabels() {
        label.push("Attempted");
        label.push("Correct");
        label.push("Unattempted");
        return label;
    }

    function GetAttendedAnswerPercentage() {
        var AttendedAnswerPercentageString = $(".hdnAttendedQuestions").val().split(',');

        //AttendedAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < AttendedAnswerPercentageString.length; i++) {
            AttendedAnswerPercentage.push(parseInt(AttendedAnswerPercentageString[i]));
        }
        return AttendedAnswerPercentage;
    }
    function GetCorrectAnswerPercentage() {
        var correctAnswerPercentageString = $(".hdnCorrectAnswersBar").val().split(',');

        //correctAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < correctAnswerPercentageString.length; i++) {
            correctAnswerPercentage.push(parseInt(correctAnswerPercentageString[i]));
        }
        return correctAnswerPercentage;
    }
    function GetUnattendedAnswerPercentage() {
        var UnattendedAnswerPercentageString = $(".hdnUnattendedAnswers").val().split(',');

        //UnattendedAnswerPercentage.push(parseInt(100));
        for (var i = 0; i < UnattendedAnswerPercentageString.length; i++) {
            UnattendedAnswerPercentage.push(parseInt(UnattendedAnswerPercentageString[i]));
        }
        return UnattendedAnswerPercentage;
    }
    function GetSection() {
        var SectionString = $(".hdnSection").val().split(',');

        for (var i = 1; i < SectionString.length; i++) {
            Section.push(SectionString[i]);
        }
        return Section;
    }
    var Value = new Array();
    function BindingValues() {
        GetSection();
        GetUnattendedAnswerPercentage();
        GetCorrectAnswerPercentage();
        GetAttendedAnswerPercentage();
        for (var i = 0; i < Section.length ; i++) {
            Value.push({ x: Section[i], y: AttendedAnswerPercentage[i], z: correctAnswerPercentage[i], a: UnattendedAnswerPercentage[i] });
        }

        return Value;
    }


    //legend: {
    //        show: true
    //},

    Morris.Bar({
        //graph-line
        element: 'graph-bar',
        data: BindingValues(),
        xkey: 'x',
        ykeys: ['y', 'z', 'a'],
        labels: GetChartLabels(),
        //barColors: ['#E67A77', '#D9DD81', '#79D1CF']
        barColors: ['#79D1CF', '#009966', '#E26561']
    });

</script>