﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Test Report";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";   
}
@section childScripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ":submit", function (e) {
                if ($(this).val() == "Next") {
                    $("#IsNext").val(true);
                }
                else {
                    $("#IsNext").val(false);
                }
            });
        });
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @using (Html.BeginForm("TestReport", "Report", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                if (@Model.CurrentQuestion != null)
                {
                @Html.HiddenFor(m => m.AssessmentID)
                @Html.HiddenFor(m => m.IsFirst)
                @Html.HiddenFor(m => m.IsLast)
                @Html.HiddenFor(m => m.IsPrev)
                @Html.HiddenFor(m => m.IsNext)
                @Html.HiddenFor(m => m.CurrentQuestion.ID)

                    if (@Model.CurrentQuestion.QuestionPassage != null)
                    {
                <div class="col-lg-12">
                    <div class="clearfix">
                        @Html.Raw(@Model.CurrentQuestion.QuestionPassage.Description)
                    </div>
                </div>

                    }
                <div class="col-lg-12">

                    @Html.Raw(@Model.CurrentQuestion.Description)
                </div>

                    foreach (var answer in @Model.CurrentQuestion.AnswerViewModelList)
                    {
                <div class="col-lg-6">
                    @if (answer.isCorrect)
                    {
                        <div class="alert alert-success fade in">
                            <strong>
                                <i class="fa fa-thumbs-up"></i>
                                @Html.Raw(@answer.Description)
                            </strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-block alert-danger fade in">
                            <strong>
                                <i class="fa fa-thumbs-down"></i>
                                @Html.Raw(@answer.Description)
                            </strong>

                        </div>
                                
                    }
                </div>
                    }
                <div class="col-lg-12">
                    Your Answer:
                    @if (Model.StudentAnswer != null)
                    {
               
                        <div class="alert alert-warning fade in">
                            <strong>
                                @if (Model.StudentAnswer.isCorrect)
                                {
                                    <i class="fa fa-thumbs-up"></i>
                                
                                }
                                else
                                {
                                    <i class="fa fa-thumbs-down"></i>
                                }
                                @Html.Raw(Model.StudentAnswer.Description)
                            </strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning fade in">
                            <strong>You have not answered for this question
                            </strong>
                        </div>
                    }
                </div>
                   
                    
                    
                    
                <div class="col-lg-12">
                    @foreach (var timeReport in Model.CurrentQuestion.TimeReports)
                    {
                        <div class="col-md-3">
                            <div class="mini-stat clearfix">

                                <div class="mini-stat-info">
                                    <span><i class="fa fa-clock-o"></i>@timeReport.StudentTime    s  </span>
                                    My Time 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mini-stat clearfix">


                                <div class="mini-stat-info">
                                    <span><i class="fa fa-clock-o"></i>@timeReport.BestTime     s          
                                        @if (timeReport.BestStatus == -1)
                                        {
                                            <i data-original-title="Performance" data-content="@timeReport.BestMessage" data-placement="top" data-trigger="hover" class="fa fa-arrow-down popovers text-right" ></i>
                                            
                                        }
                                        else if (timeReport.BestStatus == 1)
                                        {
                                            <i data-original-title="Performance" data-content="@timeReport.BestMessage" data-placement="top" data-trigger="hover" class="fa fa-trophy popovers text-right" ></i>
                                        }
                                        else
                                        {
                                            <i data-original-title="Performance" data-content="@timeReport.BestMessage" data-placement="top" data-trigger="hover" class="fa fa-exclamation-circle popovers text-right" ></i>
                                            
                                        }

                                    </span>


                                    Best Time  
                                </div>

                            </div>
                        </div>
             
                        <div class="col-md-3">
                            <div class="mini-stat clearfix">
                                <div class="mini-stat-info">
                                    <span><i class="fa fa-clock-o"></i>@timeReport.AverageTime     s 
                                          @if (timeReport.AverageStatus == -1)
                                          {
                                              <i data-original-title="Performance" data-content="@timeReport.AverageMessage" data-placement="top" data-trigger="hover" class="fa fa-arrow-down popovers text-right" ></i>
                                            
                                          }
                                          else if (timeReport.AverageStatus == 1)
                                          {
                                              <i data-original-title="Performance" data-content="@timeReport.AverageMessage" data-placement="top" data-trigger="hover" class="fa fa-arrow-up popovers text-right" ></i>
                                          }
                                          else
                                          {
                                              <i data-original-title="Performance" data-content="@timeReport.AverageMessage" data-placement="top" data-trigger="hover" class="fa fa-arrows-h popovers text-right" ></i>

                                            
                                          }
                                    </span>
                                    Average Time   

                                </div>
                            </div>
                        </div>
                        <br />  
                    }
                </div>
                <div class="col-lg-12">
                    @if (@Model.IsFirst)
                    {
                        <button type="submit" id="btnPrev" disabled="disabled" class="btn btn-info" value="Prev">Prev</button>
                    }
                    else
                    {
                        <button type="submit" id="btnPrev" class="btn btn-info" value="Prev">Prev</button>

                    }
                    @if (@Model.IsLast)
                    {                            
                        <button type="submit" id="btnNext" disabled="disabled" class="btn btn-info" value="Next">Next</button>
                    }
                    else
                    {
                        <button type="submit" id="btnNext" class="btn btn-info" value="Next">Next</button>
                    }
                </div>
                }
            }
        </section>
    </div>












    @* @foreach (var question in Model.QuestionViewModelList)
    {  
          foreach (var time in @question.TimeReports)
        { 
        <div class="col-md-3">
            <div class="clearfix">
                @Html.Raw(@question.Description)
            </div>
        </div>
       
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon orange"><i class="fa fa-th-list"></i></span>
                <div class="mini-stat-info">
                    <span>@time.StudentTime</span>
                    My Time
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon tar"><i class="fa fa-th-list"></i></span>
                <div class="mini-stat-info">
                    <span>@time.BestTime</span>
                    Best Time
                </div>
            </div>
        </div>
             
        <div class="col-md-3">
            <div class="mini-stat clearfix">
                <span class="mini-stat-icon pink"><i class="fa fa-th-list"></i></span>
                <div class="mini-stat-info">
                    <span>@time.AverageTime</span>
                    Average Time
                </div>
            </div>
        </div>
           <br />  
            
        }
    }*@

</div>
