﻿@model OAP.Domain.ViewModel.ReportViewModel
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    i
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Reports</a>
            </li>
            <li>
                <a class="current" href="#">View Student Report</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <div class="panel-body">
        <input type="hidden" class="QuestionIDForReport" value="@ViewBag.QuestionID" />
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue">
                <ul class="nav nav-tabs">
                    <li class="active ">
                        <a data-toggle="tab" style="cursor: pointer;" href="#assessmentReport" onclick="LoadAssessmentReport()">
                            <i class="fa fa-clock-o"> Assessment Report</i>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" style="cursor: pointer;" href="#SectionPieReport"  onclick="LoadSectionPieReport()">
                            <i class="fa fa-bullseye"> Section Pie-Chart</i>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" style="cursor: pointer;" href="#SectionBarReport" onclick="LoadSectionBarReport()">
                            <i class="fa fa-bar-chart-o"> Section Bar-Graph</i>
                            
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" style="cursor: pointer;" href="#QuestionWiseAnalysisReport" onclick="LoadQuestionWiseAnalysisReport()">
                            <i class="fa fa-list"> Question Wise Analysis</i>
                        </a>
                    </li>
                  @*  @if (Model.CanReview)
                    {
                    <li class="">
                        <a data-toggle="tab" style="cursor: pointer;" href="#QuestionPaperReview" onclick="LoadQuestionPaperReview()">
                            <img src="~/images/Images/questionWiseAnalysis.png" /> Question Paper Review
                        </a>
                    </li>
                    
                    <li class="">
                        <a data-toggle="tab" style="cursor: pointer;" href="#AssessmentTimeReport" onclick="LoadAssessmentTimeReport()">
                            <img src="~/images/Images/TimeReport.png" /> Assessment Time Report
                        </a>
                    </li>  
                    }   *@        
                </ul>
            </header>
             <div class="panel-body">
                <div class="tab-content">
                    <div id="assessmentReport" class="tab-pane active assessmentReport">
                 </div>
                    <div id="SectionPieReport" class="tab-pane SectionPieReport">
                   </div>
                    <div id="SectionBarReport" class="tab-pane SectionBarReport" >        
      
                    </div>
                    <div id="QuestionWiseAnalysisReport" class="tab-pane QuestionWiseAnalysisReport">   
                        <div class="adv-table">
         <table class="tagWiseDetailsContainer table   ">
            <thead>
                <tr>
                    <th><i class="fa fa-thumbs-up"></i> Correct</th>
                    <th><i class="fa fa-thumbs-down"></i> Wrong</th>
                    <th><i class="fa fa-arrows-h"></i> Unattempted</th>
                </tr>
            </thead>
        </table>
                </div>
                        <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
            <thead>
                <tr>
                    <th>Q.No</th>
                    <th>Section Name</th>
                    <th>Tags</th>
                    <th>Time Taken(Sec)</th>
                    <th>Status</th>
                </tr>
            </thead>          
        </table>
                    </div>
</div>
</div>
</section>
</div>        
</section>



                 @*@Html.Partial("~/Views/Report/SummaryQuestionWiseAnalysis.cshtml",Model)*@                      

@section childScripts{
   
   <script src="~/Content/bs3/js/bootstrap.min.js"></script>
     <script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.min.js">
    <script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
    @*<script src="~/Scripts/OAP/JsPDF.js"></script>*@
    <script src="~/Scripts/OAP/Report.js"></script>
    <script src="~/Scripts/OAP/Question.js"></script>
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script>
        function ClearTabContent() {
         // $(".tab-pane").html('');
        }
        var Qid = $(".QuestionIDForReport").val();
        function LoadAssessmentReport() {

            OpenModal("loadingModal");
            ClearTabContent();
            $.ajax({
                type: 'POST',
                url: '/Report/StudentAssmentReportsSummary',
                async: true,
                data: {
                    id: Qid
                },
                success: function (response) {
                    $(".SectionBarReport").html('');   //dnt show bar graph
                    $('.assessmentReport').html(response);
                    $(".closeLoadingModal").click();
                },

            });
        }

        function LoadSectionPieReport() {
            OpenModal("loadingModal");
            ClearTabContent();
            $.ajax({
                type: 'POST',
                url: '/Report/PerformancePieReportSummary',
                async: true,
                data: {
                    id: Qid
                },
                success: function (response) {
                   // $(".SectionBarReport").html('');
                    $('.SectionPieReport').html(response);
                    $(".closeLoadingModal").click();
                },
            });
        }

        function LoadSectionBarReport() {
            OpenModal("loadingModal");
            ClearTabContent();
           // $('.SectionBarReport').show();
            $.ajax({
                type: 'POST',
                url: '/Report/SectionBarGraphSummary',
                async: true,
                data: {
                    id: Qid
                },
                success: function (response) {
                    $('.SectionBarReport').html(response);
                    $(".closeLoadingModal").click();
                }
            });
        }
     
        function LoadQuestionWiseAnalysisReport() {
            OpenModal("loadingModal");
            $(".SectionBarReport").html('');

           // ClearTabContent();
            //$.ajax({
            //    type: 'post',
            //    url: '/Report/QuestionWiseAnalysisSummary',
            //    async: true,
            //    data: {
            //        id: Qid
            //    },
            //    success: function (response) {
            //        $('.QuestionWiseAnalysisReport').html(response);
            //        $(".closeLoadingModal").click();
            //    },
            //});
            
           //BindDataTable();
            $(".closeLoadingModal").click();
        }
       
        $(document).ready(function () {
            LoadAssessmentReport();
            BindDataTable();
          
        });

        //Binding Datatable for QuestionWiseAnalysis
 
        function BindDataTable() {
            $(".chkAll").prop("checked", false);
            var id = $(".QuestionIDForReport").val();
            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Report/QuestionWiseAnalysisList?id=' + id,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Q.No" }, 
                { "data": "SectionName" },
                { "data": "TagNames" },
                { "data": "TimeTaken" },
                { "data": "Status" },
                ],
                "columnDefs": [{
                    
                    "targets": [0],

                    "data": "Q.No",
                   
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + full.Sno + '</a>';
                    }
                },
                {
                    "targets": [4],
                    "data": "Status",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        var status = full.StudentAnsweredViewModelList;
                        
                        if (full.Status == true) {
                            return '<i class="fa fa-thumbs-up"></i>';
                        }

                        else if (full.Status == false) {
                            return '<i class="fa fa-thumbs-down"></i>';
                        }

                        else {
                            return '<i class="fa fa-arrows-h"></i> ';
                        }

                    }
                }]

            });

        }

        //End Binding Datatable for QuestionWiseAnalysis
       
    </script> 
}