﻿@model OAP.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<head> <meta charset="utf-8"> <title>TOP FRESHERS</title> <link rel="stylesheet" type="text/css" href="style.css" /> </head>*@

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

    <h2 class="form-signin-heading">ONLINE ASSESSMENT PORTAL</h2>
    <div class="login-wrap">

        <div class="user-login-info">
            <label for="Username" class="col-lg-5 col-sm-2 control-label">Username</label>

            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

            <label for="Password" class="col-lg-5 col-sm-2 control-label">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @*<input type="text" class="form-control" placeholder="User ID" autofocus>
                <input type="password" class="form-control" placeholder="Password">*@
        </div>
        <label class="checkbox">
            @* <input type="checkbox" value="remember-me"> Remember me*@
            <span class="pull-right">
                <a data-toggle="modal" href="#forgotPasswordModal">Forgot Password?</a>

            </span>
        </label>
        <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
        @Html.ValidationSummary(true)

        @*  <div class="registration">
                Don't have an account yet?
                    <a class="/Account/" href="registration.html">Create an account
                    </a>
            </div>*@

    </div>
}

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgotPasswordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-toggle="modal" aria-hidden="true" class="close btn btn-close closeForgotPasswordModal" type="button" data-dismiss="modal">×</a>
                <h4 class="modal-title">Forgot password</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-5 col-sm-2 control-label">User name</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control txtForgotUserName" id="txtUserName" placeholder="User name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-5 col-lg-5">
                            <button type="button" class="btn btn-success" onclick="GenerateToken()">Submit</button>
                            <a data-toggle="modal" href="#passwordResetModal" data-dismiss="modal" class="btn btn-success">Have Reset token</a>

                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<a data-toggle="modal" href="#passwordResetModal" class="showPasswordResetModal"></a>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="passwordResetModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-toggle="modal" href="#forgotPasswordModal" aria-hidden="true" class="close btn btn-close" type="button" data-dismiss="modal">×</a>
                <a aria-hidden="true" data-toggle="modal" class="close closePasswordResetModal btn btn-close" type="button" style="display: none;" data-dismiss="modal">×</a>
                @*<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>*@
                <h4 class="modal-title">Forgot password</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-5 col-sm-2 control-label">User Name</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control txtPasswordTokenUserName" id="txtPasswordTokenUserName" placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-5 col-sm-2 control-label">New Password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control txtPassword" id="txtPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-5 col-sm-2 control-label">Password Token</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control txtPasswordToken" id="txtPasswordToken" placeholder="Password Token">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-5 col-lg-5">
                            <button type="button" class="btn btn-success" onclick="ResetPassword()">Submit</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        $(".close").click(function () {

            ClearTexts();
        })
    })
    function GenerateToken() {
        var userName = $(".txtForgotUserName").val();
        if (userName != "") {
            $.ajax({
                url: "/Account/ForgotPassword",
                type: "POST",
                data: {
                    userName: userName,
                },
                success: TokenGenereatedSuccessfully,
            });
        }
    }

    function TokenGenereatedSuccessfully(response) {

        $(".closeForgotPasswordModal").click();
        $(".closePasswordResetModal").click();

        $(".alertModalTitle").html("Alert");
        $(".alertModalContent").html(response);
        $(".showAlertModal").click();
    }

    function ResetPassword() {
        var password = $(".txtPassword").val();
        var passwordToken = $(".txtPasswordToken").val();
        var userName = $(".txtPasswordTokenUserName").val();
        if (password != "" && passwordToken != "" && userName!="") {
            $.ajax({
                url: "/Account/ResetPasswordByProvidingToken",
                type: "POST",
                data: {
                    NewPassword: password,
                    PasswordResetToken: passwordToken,
                    userName:userName,
                },
                success: PasswordResetSuccessful,
            });
        }
    }

    function PasswordResetSuccessful(response) {

        if (response.split(',')[0] == '1') {                                                           //Success
            $(".closeForgotPasswordModal").click();
            $(".closePasswordResetModal").click();
            $(".alertModalTitle").html("Alert");
            $(".alertModalContent").html(response.split(',')[1]);
            $(".showAlertModal").click();
        }
        else {                                                                                          //Failed
            $(".closeForgotPasswordModal").click();
            $(".alertModalTitle").html("Alert");
            $(".alertModalContent").html(response.split(',')[1]);
            $(".showAlertModal").click();
        }



    }

    function ClearTexts() {
        $(".txtForgotUserName").val("");
        $(".txtPasswordTokenUserName").val("");
        $(".txtPassword").val("");
        $(".txtPasswordToken").val("");
    }
</script>

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>*@

@*<section id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>

            </ol>
            <input type="submit" value="Log in" />

        }
    </section>*@
@*<form ReturnUrl = ViewBag.ReturnUrl class="form-signin">*@
@*</form>*@
@*<section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@*<a data-toggle="modal" href="#alertModal" class="showAlertModal">Show alert</a>
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title alertModalTitle"></h4>
                </div>
                <div class="modal-body alertModalContent">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>*@

