﻿@model OAP.Domain.ViewModel.PassageViewModel
@{
    ViewBag.Title = "Delete";
}
<div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                      Delete
                    </header>
                    <div class="panel-body">
                        Are you sure you want to delete this record?  
                        @if (ViewBag.QuestionsCount > 0)
                        { 
                            <div>There are @ViewBag.QuestionsCount questions mapped with this passage.</div>
                        }
                        <p>@Html.Raw(Model.Description)</p>
                         @using (Html.BeginForm("Delete", "Passage", FormMethod.Post, new {  @class = "form-horizontal", role = "form" }))
                         {
                             @Html.HiddenFor(m=>m.ID)
                              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-danger">Delete</button>
                     <button type="button" class="btn btn-danger" onclick="window.location='/Passage/Index'">Cancel</button>
                </div>
            </div>
                         }
                    </div>
                </section>
            </div>
        </div>
@section childScripts{
  
}