﻿@model OAP.Domain.ViewModel.PassageViewModel
@{
    ViewBag.Title = "Edit Passage";
    int i = 0;
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>
         
            <li>
                <a   href='/Passage/Index' >Passage</a>
            </li>
             <li>
                <a class="current"  href='#' >Edit</a>
            </li>
        </ul>
    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <div class="form">
            @using (Html.BeginForm("Edit", "Passage", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="modal fade">
                    <div class="col-lg-12">
                        <div class="border-head">
                            @*<h3>Serialised Output (per list)</h3>*@
                        </div>

                        <div class="row" aria-hidden="true">
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.AnswerOrder, new { @class = "col-lg-12 form-control", id = "nestable_list_1_output" })
                                @*<input type="text" id="nestable_list_1_output" class=" col-lg-12 form-control" />*@
                            </div>
                            <div class="col-lg-6">
                                <textarea id="nestable_list_2_output" class=" col-lg-12 form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.ID)
                <div class="form-group">
                    @Html.LabelFor(m => m.Description,"Description *", new { @class = "col-sm-2 control-label col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control ckeditor", name = "editor1", rows = "6" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CanShuffle, "Can Shuffle", new { @class = "col-sm-2 control-label col-sm-2" })
                    <div class="col-sm-10" style="margin-top: 8px;">
                        @Html.CheckBoxFor(m => m.CanShuffle)
                    </div>
                </div>
           if (Model.QuestionViewModelList.Count()>0)
           {
                <div class="questionContainer">
                    <div class="form-group" style="margin-top: 40px;">
                        @Html.Label("Questions", new { @class = "col-sm-2 control-label col-sm-2" })
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-lg-10">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            @*<span class="tools pull-right">
                                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                            </span>*@
                                        </header>
                                        <div class="panel-body">
                                            <div class="dd col-lg-10" id="nestable_list_1">
                                                <ol class="dd-list">
                                                    @foreach (var question in Model.QuestionViewModelList)
                                                    {
                                                        string description = Html.Raw(question.Description).ToString();
                                                        <li class="dd-item" data-id="@question.ID">
                                                            <div class="dd-handle" style="height: auto">
                                                                @Html.Raw(question.Description)
                                                            </div>
                                                        </li>
                                                    }

                                                </ol>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           }
                <div class="form-group" style="clear:both;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-info" name="Save" id="submit" value="Save">Save</button>
                        <button type="submit" class="btn btn-success" name="Save" id="submit" value="SaveAddNewQuestion">Add New Question</button>
                        <button type="submit" class="btn btn-success" name="Save" id="submit" value="SaveAddQuestion">Add Existing Question</button>
                <button type="button" class="btn btn-warning" onclick="window.location='/Passage/Index'">Cancel</button>

                    </div>
                </div>
                
           
            }
            <div class="form-group">
                @*<button type="button" class="btn btn-danger" onclick="window.location='/Passage/Delete/@Model.ID'">Delete</button>*@
            </div>
        </div>
    </div>

</section>

@section childScripts{
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/js/gritter.js" type="text/javascript"></script>
    <script src="/Scripts/js/nestable.js"></script>
    <script>
        //$(function () {
        //    $(".fa-chevron-down").click();
        //})
    </script>

}
