﻿@{
    ViewBag.Title = "Passage List";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>
         
            <li>
                <a class="current"  href='/Passage/Index' >Passage</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Passage List
    </header>
    <div class="panel-body ">
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th style="width: 50px;"><input type="checkbox" class="chkAll" style="margin-left: 33%;" /></th>
                    </tr>
                </thead>
            </table>
        </div>

        @*<div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Answer/Create'"><i class="fa fa-plus"></i> Add New </button>
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/College/MassUpload'"><i class="fa fa-upload"></i> Upload </button>
        </div>*@

    </div><div class="btnContainer">
    <button type="button" class="btn btn-success" onclick="window.location.href = '/Passage/Create'"><i class="fa fa-plus"></i> Add New</button>
    <button type="button" class="btn btn-danger" onclick="OpenDeleteModal()"><i class="fa fa-minus"></i> Delete</button>
</div>
</section>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these records.

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeletePassage()" type="button">Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>*@

@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/OAP/Passage.js"></script>
    <script>

        function BindPassageTable()
        {
            $('#dynamic-table').dataTable({
                "destroy":true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Passage/List',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Description" },
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                    }
                },
                {
                    "targets": [1],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<input type="checkbox" style="margin-left: 33%;" class="chkSeperate" value="' + full.ID + '"/>';
                    }
                }
                ]
            });
        }

        $(document).ready(function () {
            BindPassageTable();
        });

    </script>
}