﻿@{
    ViewBag.Title = "Branch List";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Institutes</a>
            </li>
            <li>
                <a class="current" href="/Branch/Index">Branches</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
       @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th><input type="checkbox" class="chkAll" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>

        <div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Branch/Create'"><i class="fa fa-plus"></i> Add New </button>
            <button type="button" class="btn btn-danger" onclick="OpenBranchDeleteModal()"><i class="fa fa-minus"></i> Delete</button>
        </div>
    </div>
</section>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these records.
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeleteBranch()" type="button">Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/OAP/Branch.js"></script>
    <script>

        function BindBranchDataTable()
        {
            $(".ckhAll").prop("checked",false);
            $('#dynamic-table').dataTable({
                "destroy":true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Branch/List',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Name" },
                { "data": "" },
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                    }
                },
                {
                    "targets": [1],
                    "bSortable": false,
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<input type="checkbox" class="chkSeperate" value="' + full.ID + '"/>';
                    }
                },
                ]
            });
        }

        $(document).ready(function () {
            BindBranchDataTable();
            $(".chkAll").change(function () {
                if ($(this).prop("checked")) {
                    $(".chkSeperate").prop("checked", true);
                }
                else {
                    $(".chkSeperate").prop("checked", false);
                }
            });
        });

    </script>
}


