﻿@model OAP.Domain.ViewModel.QuestionPaperViewModel

@{
    ViewBag.Title = "Create Question Paper";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Question Bank </a>
            </li>
         
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Question Paper</a>
            </li>
            <li>
                <a class="current" href="#">Add New</a>
            </li>
           
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Create
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "QuestionPaper", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {                          
                    @Html.HiddenFor(m => m.DisplayMarks, new { @class = "displayMarks" })                      
                    @Html.HiddenFor(m => m.DisplayResult, new { @class = "displayResult" })
                    @Html.HiddenFor(m => m.ShowReport, new { @class = "showReport" })
                    @Html.HiddenFor(m => m.ShowInstructions, new { @class = "showInstructions" })
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name *</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Code</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Code" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Has Instructions</label>
                        <div class="col-lg-1">
                            <input type="checkbox" name="ShowInstructions" data-on-label="Yes" data-off-label="No" class="switch-small ckhHasInstructionsCheckBox">

                            @*@Html.CheckBoxFor(m => m.ShowInstructions, new { @class = "switch-small ckhHasInstructions" })*@
                        </div>
                    </div>
                    <div class="form-group instructionsContainer" style="display: none;">
                        <label class="col-lg-2 control-label">Instructions</label>
                        <div class="col-lg-8">

                            @Html.TextAreaFor(m => m.Instructions, new { @class = "form-control ckeditor", placeholder = "Instructions" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Marks *</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.Marks, new { @class = "form-control", placeholder = "Marks" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Cut Off Mark *</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.CutOffMark, new { @class = "form-control", placeholder = "Cut Off Mark" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Time Limit *</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.TimeLimit, new { @class = "form-control", placeholder = "Time Limit" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Display Marks</label>
                        <div class="col-lg-1">
                            @*@Html.CheckBoxFor(m => m.DisplayMarks, new { @class = "switch-small" })*@
                            <input type="checkbox" name="DisplayMarks" data-on-label="Yes" data-off-label="No" class="switch-small displayMarksCheckBox">
                        </div>
                    </div>
                               
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Display Result</label>
                        <div class="col-lg-1">
                            @*@Html.CheckBoxFor(m => m.DisplayResult, new { @class = "switch-small" })*@
                            <input type="checkbox" name="DisplayResult" data-on-label="Yes" data-off-label="No" class="switch-small displayResultCheckBox">
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Show Report</label>
                        <div class="col-lg-1">
                            @*@Html.CheckBoxFor(m => m.ShowReport, new { @class = "switch-small" })*@
                            <input type="checkbox" name="ShowReport" data-on-label="Yes" data-off-label="No" class="switch-small showReportCheckBox">
                        </div>
                    </div>
            
                   
                                    
                    <div class="form-group">
                        <label class="control-label col-lg-2">No.of.Sections</label>
                        <div class="col-md-4">
                            <div id="spinner1">
                                <div class="input-group input-small">
                                    @*<input type="text" class="spinner-input form-control" maxlength="3" readonly>*@
                                    @Html.TextBoxFor(m => m.SectionCount, new { @class = "spinner-input form-control", maxlength = "3", @readonly = "readonly" })
                                    <div class="spinner-buttons input-group-btn btn-group-vertical">
                                        <button type="button" class="btn spinner-up btn-xs btn-default">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                        <button type="button" class="btn spinner-down btn-xs btn-default">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            
            
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-info">Save</button>
                            <button type="button" class="btn btn-warning" onclick="window.location='/QuestionPaper/QuestionPaperList'">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </section>

    </div>
</div>
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div id="column" style="padding-left: 20px;" class="alertDetailContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btnCloseAlert" type="button">OK</button>
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/OAPSmart/QuestionPaper.js"></script>
    <script src="/Scripts/js/bootstrap-switch.js"></script>
    <script src="/Scripts/js/toggle-init.js"></script>
    
    @* <script>
          $(".default-date-picker").datepicker({
              dateFormat: 'dd-mm-yy',
              //dateFormat: 'dd-mm-yy',
              //monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
              //dayNamesShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
              //closeText: 'Done',
              //prevText: 'Prev',
              //nextText: 'Next',
              //currentText: true,
              //closeText: 'Done',
              changeYear: true,
              changeMonth: true,

              changeMonth: true,
              numberOfMonths: 1,
              //minDate: 0,
              yearRange: "-1:+100",
              onClose: function (selectedDate) {
                  $j10(".default-date-picker").datepicker("option", "dateFormat", "dd-mm-yy", selectedDate + 1);
              }

          });
        </script>*@



    <script>
        $(document).submit(function (e) {
            if ($(".displayMarksCheckBox").prop("checked")) {
                $(".displayMarks").val(true);
            }
            else {
                $(".displayMarks").val(false);
            }

            if ($(".displayResultCheckBox").prop("checked")) {
                $(".displayResult").val(true);
            }
            else {
                $(".displayResult").val(false);
            }

            if ($(".showReportCheckBox").prop("checked")) {
                $(".showReport").val(true);
            }
            else {
                $(".showReport").val(false);
            }

            if ($(".ckhHasInstructionsCheckBox").prop("checked")) {
                $(".showInstructions").val(true);
            }
            else {
                $(".showInstructions").val(false);
            }

        });


    </script>
    @*<script src="/Scripts/js/jquery-steps/jquery.steps.js"></script>*@




}

@*   @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>QuestionPaper</legend>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.AdminID)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.AdminID)
                            @Html.ValidationMessageFor(model => model.AdminID)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Code)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Code)
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.CutOffMark)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.CutOffMark)
                            @Html.ValidationMessageFor(model => model.CutOffMark)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.DisplayResult)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DisplayResult)
                            @Html.ValidationMessageFor(model => model.DisplayResult)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.DisplayMarks)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DisplayMarks)
                            @Html.ValidationMessageFor(model => model.DisplayMarks)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.TimeLimit)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TimeLimit)
                            @Html.ValidationMessageFor(model => model.TimeLimit)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Marks)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Marks)
                            @Html.ValidationMessageFor(model => model.Marks)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.NegativeMarks)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NegativeMarks)
                            @Html.ValidationMessageFor(model => model.NegativeMarks)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.IsNegativePercentage)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.IsNegativePercentage)
                            @Html.ValidationMessageFor(model => model.IsNegativePercentage)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ReleaseKey)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ReleaseKey)
                            @Html.ValidationMessageFor(model => model.ReleaseKey)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.StatDateTime)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.StatDateTime)
                            @Html.ValidationMessageFor(model => model.StatDateTime)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.EndDateTime)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EndDateTime)
                            @Html.ValidationMessageFor(model => model.EndDateTime)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Instructions)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Instructions)
                            @Html.ValidationMessageFor(model => model.Instructions)
                        </div>

                        <p>
                            <input type="submit" value="Create" />
                        </p>
                    </fieldset>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>*@

