﻿@model OAP.Domain.QuestionPaper

@{
    ViewBag.Title = "Delete";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>QuestionPaper</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CutOffMark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CutOffMark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayResult)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayResult)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayMarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayMarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Marks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Marks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NegativeMarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NegativeMarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsNegativePercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsNegativePercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instructions)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
