﻿@*@model OAP.Domain.QuestionPaper*@

@model OAP.Domain.ViewModel.TestPackageQuestionPaperViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_StudentLayout.cshtml"; //31082015    
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
<h2>Details</h2>
<fieldset>
    <legend>QuestionPaper</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)         
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)        
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)        
    </div>
    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.AdminID)*@         
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.AdminID)*@        
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)        
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CutOffMark)         
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CutOffMark)        
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayResult)         
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayResult)        
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayMarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayMarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Marks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Marks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NegativeMarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NegativeMarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsNegativePercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsNegativePercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instructions)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
