﻿@*@model System.Web.Mvc.JsonResult*@
@{
    ViewBag.Title = "Question Paper List";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Repository</a>
            </li>

            <li>
                <a class="current" href="#">Question Paper</a>

            </li>

        </ul>
    </div>
</div>


<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
       @* @using (Html.BeginForm("QuestionPaperList", "QuestionPaper", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            <div class="filterContainer form-horizontal position-center">
                <div class="form-group">
                    @Html.Label("College", new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-5">
                        @Html.DropDownList("College", new SelectList(ViewBag.College, "ID", "Name"), "Select", new { @class = "ddlCollage form-control m-bot15", @onchange = "FilterChanged() " })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Batch", new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-5">
                        @Html.DropDownList("Batches", new SelectList(ViewBag.Batches, "ID", "Name"), "Select", new { @class = "ddlBatch form-control m-bot15", @onchange = "FilterData()" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Question Paper", new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-5">
                        @Html.DropDownList("Question Paper", new SelectList(ViewBag.Question, "ID", "Name"), "Select", new { @class = "ddlQuestion form-control m-bot15", @onchange = "FilterQuestionPaper()" })
                    </div>
                </div>
            </div>
        }*@
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Created Date</th>
                        <th style="width: 50px;">
                            <input type="checkbox" style="margin-left: 20%;" class="chkAll" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>

        <div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/QuestionPaperWizard/Wizard'"><i class="fa fa-plus"></i> Add New </button>
            <button type="button" class="btn btn-danger" onclick="OpenQuestionPaperDeleteModal()"><i class="fa fa-minus"></i> Delete</button>
        </div>
    </div>
</section>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content position-center">
            <div class="modal-header">
                <h4 class="modal-title"style="text-align: center;">Deleting Please Wait!....</h4>
                <div class="modal-body "style="text-align: center;">
                    <img src="~/images/Loading.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these records.
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeleteQuestionPaper()" type="button">Delete</button>
                 <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Type</h4>
            </div>
            <div class="modal-body">
                 <div class="filterContainer form-horizontal position-center">
                 <div class="form-group">
                    <input type="hidden" class="questionPaperDownloadID" />
                        @Html.Label("Question Series", new {@class = "col-lg-5 col-sm-2 control-label" })
                        <div class="col-lg-5">
                            @Html.DropDownList("Question Series", new SelectList(ViewBag.QuestionSeries, "ID", "Description"), "Select", new { @class = "QuestionSeries form-control m-bot15" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Answer Series", new { @class = "col-lg-5 col-sm-2 control-label" })
                        <div class="col-lg-5">
                            @Html.DropDownList("Answer Series", new SelectList(ViewBag.AnswerSeries, "ID", "Description"), "Select", new { @class = "AnswerSeries form-control m-bot15"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Upload List", new { @class = "col-lg-5 col-sm-2 control-label" })
                        <div class="col-lg-5">
                            @Html.DropDownList("Upload List", new SelectList(ViewBag.Upload, "ID", "Title"), "Select", new { @class = "UploadList form-control m-bot15"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender">Format: </label>
                        <input type="radio" name="Format" value="Word" checked="checked" />Word
                        <input type="radio" name="Format" value="PDF" />PDF
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="OpenDownloadModal()" type="button">Download</button>
                 <button data-dismiss="modal" class="btn btn-default btn-Series" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    @*<script src="~/Scripts/OAP/QuestionPaper.js"></script>*@
    @*<script src="~/Scripts/OAP/QuestionPaperSectionPopup.js"></script>*@
    <script>
        var selectedCollage=0;
        var selectedBatch=0;
        var selectedQuestion=0;
        function FilterChanged() {
            //alert("Before filter    selectedBranch   =" + selectedBranch + "  selectedSection=   " + selectedSection);

            selectedCollage = $(".ddlCollage").val();
            BindQuestionPaperDataTable();
            //selectedBatch = $(".ddlBatch").val();
            //selectedQuestion = $(".ddlQuestion").val();
            $.ajax({
                type: 'POST',
                url: '/QuestionPaper/GetfilterBatch',
                data: {
                    selectedCollage: selectedCollage,
                    //selectedBatch: selectedBatch,
                    //selectedQuestion: selectedQuestion,
                    //InstituteID: InstituteID,
                },
                success: assignStudenDropDown
            });
            //alert("After filter   selectedBranch   =" + selectedBranch + "  selectedSection=   " + selectedSection);

        }
        function FilterData() {
            //alert("Before filter    selectedBranch   =" + selectedBranch + "  selectedSection=   " + selectedSection);

            //selectedCollage = $(".ddlCollage").val();
            selectedBatch = $(".ddlBatch").val();
            BindQuestionPaperDataTable();
            //selectedQuestion = $(".ddlQuestion").val();
            $.ajax({
                type: 'POST',
                url: '/QuestionPaper/GetfilterQuestionPaper',
                data: {
                    //  selectedCollage: selectedCollage,
                    selectedBatch: selectedBatch,
                    // selectedQuestion: selectedQuestion,
                    //InstituteID: InstituteID,
                },
                success: assignQuestionPaperDropDown
            });
            //alert("After filter   selectedBranch   =" + selectedBranch + "  selectedSection=   " + selectedSection);

        }

        function FilterQuestionPaper() {
            selectedQuestion = $(".ddlQuestion").val();
            BindQuestionPaperDataTable();

        }
        function assignStudenDropDown(response) {
            $('.ddlBatch').html('');
            var data = JSON.parse(response);
            var assessmentOptions = "<option  value=0>Select</option>";
            var batchoptions = "<option  value=0>Select</option>";
            if (data.batchList != null) {
                $.each(data.batchList, function (i, item) {
                    if (item.IsSelected == true) {
                        batchoptions += "<option selected value=" + item.ID + ">" + item.Name + "</option>";
                    }
                    else if (item.IsSelected == false) {
                        batchoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    }
                    else {
                        batchoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    }
                });
                $(".ddlBatch").html(batchoptions);
            }
            //if (data.BatchQuestionPaperList != null) {
            //    $.each(data.BatchQuestionPaperList, function (i, item) {
            //        if (item.IsSelected == true) {
            //            assessmentOptions += "<option selected value=" + item.ID + ">" + item.Name + "</option>";
            //        }
            //        else if (item.IsSelected == false) {
            //            assessmentOptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            //        }
            //        else {
            //            assessmentOptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
            //        }
            //    });
            //    $(".ddlQuestion").html(batchoptions);
            //}
        }

        function assignQuestionPaperDropDown(response) {
            $('.ddlQuestion').html('');
            var data = JSON.parse(response);
            var assessmentOptions = "<option  value=0>Select</option>";
            var Questionoptions = "<option  value=0>Select</option>";
            if (data.batchList != null) {
                $.each(data.batchList, function (i, item) {
                    if (item.IsSelected == true) {
                        Questionoptions += "<option selected value=" + item.ID + ">" + item.Name + "</option>";
                    }
                    else if (item.IsSelected == false) {
                        Questionoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    }
                    else {
                        Questionoptions += "<option  value=" + item.ID + ">" + item.Name + "</option>";
                    }
                });
                $(".ddlQuestion").html(Questionoptions);
            }

        }

        function BindQuestionPaperDataTable() {
            $(".ckhAll").prop("checked", false);
            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/QuestionPaper/List?college=' + selectedCollage + '&Batch=' + selectedBatch + '&Question=' + selectedQuestion,
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Name" },
                { "data": "Code" },
                { "data": "CreatedDateString" },
                { "data": "" }
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                    }
                },
                {
                    "targets": [3],
                    "bSortable": false,
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<input type="checkbox" style="margin-left: 20%;" class="chkSeperate" value="' + full.ID + '"/>';
                    }
                },
                //{
                //    "targets": [3],
                //    "bSortable": false,
                //    "data": "download_link",
                //    "render": function (data, type, full) {
                //        return "<button type='button' class='btn btn-success' onclick='OpenPopupModal(" + full.ID + ")'><i class='fa fa-download'></i> Download</button>";
                //    }
                //    //<a href='/QuestionPaper/OpenDownloadModal/"+full.ID+"' style='color: white;'>
                //},
                 
                ]
            });
        }
        function DownloadQuestion()
        {
            var QuestionPaperID = $(".questionPaperDownloadID").val();
            var AnswerSeries = $(".AnswerSeries").val();
            var QuestionSeries = $(".QuestionSeries").val();
            var Format = $(".Format").val();
            //$.ajax({
            //    type: 'POST',
            //    url: '/QuestionPaper/OpenDownloadModal',
            //    success: function ()
            //    { alert(response) }
            //});
        }
        function OpenDownloadModal() {
            var QuestionPaperID = $(".questionPaperDownloadID").val();
            var AnswerSeries = $(".AnswerSeries").val();
            var QuestionSeries = $(".QuestionSeries").val();
            var Format = $('input[name="Format"]:checked').val();
            //alert(Format);
            //if ($(".Word").selected) {
            //    Format = "Word";
            //}
            //else {
            //    Format = "PDF";
            //}            
            var Uploadtemplate=$(".UploadList").val();
            window.location.href = "/QuestionPaper/OpenDownloadModal?ID=" + QuestionPaperID + "&AnswerSeries=" + AnswerSeries + "&QuestionSeries=" + QuestionSeries + "&UploadTemplate=" + Uploadtemplate + "&Format=" + Format;
            $(".btn-Series").click();
            //$.ajax({
            //    type: 'POST',
            //    url: '/QuestionPaper/OpenDownloadModal',
            //    data: {
            //        id: QuestionPaperID,
            //        NumberSeries: NumberSeries,
            //        QuestionSeries: QuestionSeries

            //    },
            //    success: function ()
            //    { alert(response)}
            //});
        }
        $(document).ready(function () {
            BindQuestionPaperDataTable();
            $(".chkAll").change(function () {
                if ($(this).prop("checked")) {
                    $(".chkSeperate").prop("checked", true);
                }
                else {
                    $(".chkSeperate").prop("checked", false);
                }
            });
          
        });

        function OpenQuestionPaperDeleteModal() {

            if ($(".chkSeperate:checked").length > 0) {                                           //Sections selected
                OpenModal("deleteModal");
            }
            else {                                                                                  //No Sections selected
                ShowAlert("Please select atleast one record to delete");
            }
        }

        function DeleteQuestionPaper() {

            var selectedQuestionPapers = $(".chkSeperate:checked").map(function () {
                return $(this).val();
            }).get();
            if (selectedQuestionPapers != "") {                                                       //Sections selected
                OpenModal("loadingModal");
                $.ajax({
                    url: "/QuestionPaper/DeleteQuestionPapers",
                    type: "POST",
                    data: {
                        assessmentIDString: selectedQuestionPapers.toString(),
                    },
                    success: DeleteQuestionPaperSuccess
                });
            }
            else {                                                                              //No branches selected
                ShowAlert("Please select atleast one record to delete");
            }
        }

        function DeleteQuestionPaperSuccess(response) {
            if (response.toLowerCase() == "true") {
                ShowAlert("Question paper deleted successfully");
            }
            else {
                ShowAlert("Question paper not deleted. Please try again later.");
            }
            BindQuestionPaperDataTable();
        }


    </script>
}


