﻿@model  OAP.Models.ViewModels.QuestionPaperViewModel
@using OAP.Domain.ViewModel;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Take QuestionPaper";
    //Layout = "~/Views/Shared/_ExamLayout.cshtml";
    //Layout = "~/Views/Shared/_StudentLayout.cshtml";
    Layout = null;
    int index = 1;
    int sectionIndex = 1;
    int space = 8;
}
<script type="text/javascript">

</script>
<script src="~/Scripts/ace-builds-master/src/ace.js"></script>
<script src="~/Scripts/ace-builds-master/src/ext-modelist.js"></script>

<!--Core CSS -->
<link href="/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
<link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
<link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

<script src="/Scripts/js/jquery.js"></script>
<script src="/Scripts/js/jquery-1.8.3.min.js"></script>
<script src="/Content/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/Scripts/js/jquery.scrollTo.min.js"></script>
<script src="/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="/Scripts/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/Scripts/js/gritter/js/jquery.gritter.js"></script>
<!--common script init for all pages-->
<script src="/Scripts/js/scripts.js"></script>
<script src="/Scripts/js/gritter/js/jquery.gritter.js"></script>
@*<script src="/Scripts/js/gritter.js" type="text/javascript"></script>*@

<script src="/Scripts/OAP/ChangeClassesOnLoad.js"></script>

<!-- Custom styles for this template -->
<link href="/Content/css/style.css" rel="stylesheet">
<link href="/Content/css/style-responsive.css" rel="stylesheet" />
<link href="/Content/TakeQuestionPaper.css" rel="stylesheet" />
<link href="/Content/jquery.countdown.css" rel="stylesheet" />
<script src="/Scripts/jquery.countdown.min.js"></script>
<script src="/Scripts/TakeQuestionPaper.js"></script>
<style>
    .Active {
        background-color:@ViewBag.Active !important;
    border: 1px solid #6fe033;
    }
    .NotVisited{
    background-color:@ViewBag.NotVisited;
    border: 1px solid #6fe033;

    }
    .VisitedUnAnswer{
    background-color:@ViewBag.VisitedUnanswer;
    border: 1px solid #6fe033;

    }
    .VisitedAnswered{
    background-color:@ViewBag.VisitedAnswered;
    border: 1px solid #6fe033;

    }
    .Marked{
    background-color:@ViewBag.Marked;
    border: 1px solid #6fe033;

    }
</style>
<script>
    var TimeLimit = @Model.RemainingSeconds;
    var SavedAnswers = @Html.Raw(Model.SavedAnswers);
    var QuestionCount=@Model.SectionList.SelectMany(x => x.QuestionList).Count();
    var questionTimings=new Array(QuestionCount);
    var startDate=new Date();
    var endDate;

    function jumpSections(id)
    {
        $.ajax({
            url: '/QuestionPaper/JumpSections',
            data: { index: id },
            type: 'POST',
            success: function (data) {
                $("#loadingModal").modal('hide');
                if (data.result == "1") {                //Test Fully submitted successful
                    //OpenModal('testSubmissionSuccessAlertModal');
                    //alert("Test submitted successfully");
                    //window.location = "/DashBoard/Index";
                }
                else if (data.result == "2") { // Section submit successful
                    window.location = window.location;
                }
                else if (data.result == "-2") { //Not authenticated

                    //alert("You've been logged out");
                    //window.location = "/Account/LogOff";

                    OpenModal('loggedOutAlertModal');
                }
                else if (data.result == "-1") { //failed
                    //alert("Unable to submit test. Please try again or contact your supervisor if problem persists");
                    OpenModal("submitTestErrorAlertModal");
                }
            }
        });
    }

    $(document).ready(function () {
        $(".test-case").hide();
        var editor = ace.edit("inputCode");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
        editor.setShowPrintMargin(false);
        editor.setOptions({
            fontSize: "12pt"
        });
    });


     var jresult = [];
        var isCompleted = false;
        @*var answerViewModelList = @Html.Raw(Json.Encode(Model.AnswerViewModelList));
        var practiceSchoolLevelQuestionId = @Model.PracticeSchoolLevelQuestionId;

        $('#execute').click(function () {
            $(".test-case").hide();
            answerViewModelList.forEach(function (answer) {
                var requestData = {
                    "source_code": $("div#inputCode").val(),
                    "language_id": $('#languageDropdown :selected').val(),
                    "number_of_runs": "1",
                    "stdin": answer.InputParam,
                    "expected_output": answer.OutputParam,
                    "cpu_time_limit": "2",
                    "cpu_extra_time": "0.5",
                    "wall_time_limit": "5",
                    "memory_limit": "128000",
                    "stack_limit": "64000",
                    "max_processes_and_or_threads": "30",
                    "enable_per_process_and_thread_time_limit": false,
                    "enable_per_process_and_thread_memory_limit": true,
                    "max_file_size": "1024"
                };
                CallJudgeApi(requestData);
            });
            isCompleted = (jresult.every(result => result != null) || jresult.length == 0) ? false : true;
            debugger;
            if (jresult.length == 0) {
                return;
            }
            answerViewModelList.forEach(function (r,i) {
                var idPass = "#pass" + r.ID;
                var idFail = "#fail" + r.ID;

                if (jresult[i] == null) {
                    $(idPass).show();
                } else {
                    $(idPass).show();
                }
            });

            var url = "markComplete?isCompleted=" + isCompleted + "&practiceSchoolLevelQuestionId=" + practiceSchoolLevelQuestionId;
            $.get(url, function (data) {
                alert("Question Completed!!");
            });
        });

        function CallJudgeApi(requestData) {
            $.ajax({
                url: 'https://api.judge0.com/submissions?wait=true',
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    jresult.push('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#TestCase1").empty();
                    $("#TestCase2").empty();
                    $("#TestCase3").empty();

                    if (result.time == null) {
                        result.time = "Compile Error";
                    }
                    var compileTime = result.time;

                    if (result.time == "Compiler Error") {
                        $("#compilerTime").text(compileTime)
                    }
                    else {
                        $("#compilerTime").text("Compile Time : " + compileTime + " secs")
                    }
                    jresult.push(result.compile_output);
                },
                async: true,
                processData: false
            });
        }*@

</script>

<section>
    <header class="header fixed-top clearfix" style="position: initial;">
        <div class="brand">
            <a class="logo">
                <img src="/images/companylogo.png" alt="">
            </a>

        </div>

        <div class="top-nav clearfix">
            <ul class="pull-right" style="list-style-type: none;">

                <li>
                    <div class="pull-left" style="padding: 8px;">
                        @Html.HiddenFor(m => Model.IsSectionJump, new { @class = "isSectionJump" })
                        @Html.HiddenFor(m => Model.CurrentQuestionNumber, new { @class = "QuestionNumberInfo" })
                        @if (Model.IsSectionJump)
                        {
                            <a class="btn btn-success btnSubmitTest" data-toggle="modal" href="#SubmitConfirm">
                                Submit Test
                            </a>
                        }
                        else
                        {
                            if (!Model.TestComplete)
                            {
                                if ((Model.CurrentSectionIndex + 1) == Model.SectionList.Count)
                                {
                                    <a class="btn btn-success btnSubmitTest" data-toggle="modal" href="#SubmitConfirm">
                                        Submit Test
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success btnSubmitTest" data-toggle="modal" href="#SubmitConfirm">
                                        Submit Section
                                    </a>
                                }
                            }
                        }
                        @if (Model.IsShowQuestionNumber)
                        {
                            <button type="button" id="btnQuestionNumberToggle" class="btn btn-info QuestionNumberToggle" @*style="display:none"*@>Show Question Numbers</button>
                        }
                        @if (Model.IsShowSection)
                        {
                            if (Model.IsSectionJump)
                            {
                                <button type="button" id="btnSectionToggle1" class="btn btn-info SectionToggle" @*style="display:none"*@>Show Sections</button>
                            }
                            else
                            {
                                <button type="button" id="btnSectionToggle" disabled class="btn btn-info SectionToggle" @*style="display:none"*@>Show Sections</button>
                            }
                        }


                    </div>
                    <div class="TimerContainer " style="width: 202px; overflow: hidden;" runat="server">
                        <div class="TimerOverlay"></div>
                        <div id="defaultCountdown">
                        </div>
                    </div>


                </li>
                <li>
                    @*<div class="toggle-right-box">*@

                    @*</div>*@
                </li>
            </ul>

        </div>
    </header>

</section>






@if (Request.IsAuthenticated)
{
    if (Model.NoPermission)
    {
        <div class="LoginMessage">
            You cannot access this test!
        </div>
    }
    else if (Model.TestComplete)
    {
        <div class="LoginMessage">
            You have already completed this test.
        </div>
    }
    else
    {

        <div class="ExamContainer">
            @if (Model.IsSectionJump)
            {
                <div class="SectionList">
                    @foreach (var qpSection in Model.SectionList)
                    {
                        index = 1;
                        string secClass = "section" + sectionIndex;
                        string SectionContainerName = "divSection" + sectionIndex; //questionAnswerViewModel.ID.ToString();
                        <div id="@SectionContainerName" class="SectionContainer" SectionID="@qpSection.ID">
                            <input type="hidden" class="@secClass" value="@qpSection.QuestionList.Count()" />
                            <div class="QuestionList" style="height: 468px">

                                @foreach (var questionAnswerViewModel in qpSection.QuestionList)
                                {
                                    string QuestionIdintifier;
                                    string s = sectionIndex.ToString();
                                    string q = index.ToString();
                                    QuestionIdintifier = string.Concat(sectionIndex, index);

                                    string rdoAnswerName = "";
                                    string chkAnswerName = "";
                                    string ContainerName = "";
                                    string hdnQuestionType = "";
                                    string txtAnswerName = "";
                                    string questionID = "";
                                    string questionType = "";
                                    string questionDescription = "";

                                    if (questionAnswerViewModel.TechnicalQuestion != null)
                                    {
                                        rdoAnswerName = "rdo" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                                        chkAnswerName = "chk" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                                        ContainerName = "divQuestion" + index; //questionAnswerViewModel.ID.ToString();
                                        hdnQuestionType = "hdn" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                                        txtAnswerName = "txt" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                                        questionID = questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                                        questionDescription = questionAnswerViewModel.TechnicalQuestion.Description;

                                    }
                                    else
                                    {
                                        rdoAnswerName = "rdo" + questionAnswerViewModel.Question.ID.ToString();
                                        chkAnswerName = "chk" + questionAnswerViewModel.Question.ID.ToString();
                                        ContainerName = "divQuestion" + index; //questionAnswerViewModel.ID.ToString();
                                        hdnQuestionType = "hdn" + questionAnswerViewModel.Question.ID.ToString();
                                        txtAnswerName = "txt" + questionAnswerViewModel.Question.ID.ToString();
                                        questionID = questionAnswerViewModel.Question.ID.ToString();
                                        questionType = questionAnswerViewModel.Question.QuestionType;
                                        questionDescription = questionAnswerViewModel.Question.Description;
                                    }

                                    <div id="@ContainerName" class="QuestionContainer @QuestionIdintifier" QuestionID="@questionID">

                                        <div class="QuestionDescription">
                                            @if (questionAnswerViewModel.TechnicalQuestion == null && questionAnswerViewModel.Question != null && questionAnswerViewModel.Question.PassageViewModel != null)
                                            {
                                                <input type="hidden" class="@hdnQuestionType" id="@hdnQuestionType" value="@questionAnswerViewModel.Question.QuestionType" />
                                                <div class="passageContainer">
                                                    <section class="panelQuestion">
                                                        <header class="panelQuestion-heading">
                                                            Passage
                                                            <span class="tools pull-right">
                                                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                                            </span>
                                                        </header>
                                                        <div class="panelQuestion-body">
                                                            @Html.Raw(questionAnswerViewModel.Question.PassageViewModel.Description)
                                                        </div>
                                                    </section>
                                                </div>
                                            }

                                            @Html.Raw(@questionDescription)
                                        </div>
                                        <div class="Answers">

                                            @if (questionAnswerViewModel.TechnicalQuestion == null)
                                            {
                                                if (questionAnswerViewModel.Question.QuestionType.ToLower().Contains("single select"))
                                                {                                                                       //Question type is single select
                                                    foreach (var answer in questionAnswerViewModel.Question.AnswerList)
                                                    {
                                                        string rdoAnswerId = "rdo" + answer.ID.ToString();
                                                        <input id="@rdoAnswerId" name="@rdoAnswerName" type="radio" value="@answer.ID" QuestionID="@questionAnswerViewModel.Question.ID" /><div>@Html.Raw(@answer.Description)</div>
                                                        <br />
                                                    }
                                                }
                                                else if (questionAnswerViewModel.Question.QuestionType.ToLower().Contains("multi select"))
                                                {                                                                           //Question type is multiselect
                                                    foreach (var answer in questionAnswerViewModel.Question.AnswerList)
                                                    {
                                                        string chkAnswerId = "chk" + answer.ID.ToString();
                                                        <label for="@chkAnswerId " class="lblAnswer">
                                                            <input id="@chkAnswerId " name="@chkAnswerName" type="checkbox" value="@answer.ID" QuestionID="@questionAnswerViewModel.Question.ID" />@Html.Raw(@answer.Description)
                                                        </label>
                                                        <br />
                                                    }
                                                }
                                                else if (questionAnswerViewModel.Question.QuestionType.ToLower().Contains("open ended"))
                                                {                                   //Question is open ended question
                                                    <textarea style="width: 600px; height: 300px" class="" name="@txtAnswerName" id="@txtAnswerName"></textarea>
                                                }

                                            }
                                            else
                                            {
                                                <div id="inputCode" style="height: 500px; width: 85%"></div>
                                                <div>
                                                    <br />
                                                    <br />
                                                    <div id="compilerTime"></div>
                                                    <br />
                                                    <br />
                                                    <div class="info-text result">TestCase Results Below : </div>
                                                    @for (var i = 0; i < questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList.Count(); i++)
                                                    {
                                                        <div>
                                                            Test Case Senario @(i + 1)
                                                            @*<div id="textCase:@Model.AnswerViewModelList[i].ID" value="@Model.AnswerViewModelList[i].InputParam">
                                                                    @Model.AnswerViewModelList[i].InputParam
                                                                </div>*@
                                                            <div id="@("pass" + questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList[i].ID)" class="test-case"><i class="fa fa-check" style="color:green" aria-hidden="true"></i></div>
                                                            <div id="@("fail" + questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList[i].ID)" class="test-case"><i class="fa fa-times" style="color:red" aria-hidden="true"></i></div>
                                                        </div>
                                                    }

                                                </div>

                                                <script>

                                                    @*var actualModel = @questionAnswerViewModel.TechnicalQuestion.AnswerList;

                                                    var technicalAnswerViewModels = [];

                                                        actualModel.forEach(function (actual) {
                                                            var obj = {};
                                                            obj['ID'] = actual.ID;
                                                            obj['InputParam'] = actual.InputParam;
                                                            obj['OutputParam'] = actual.OutputParam;
                                                            obj['Question'] = actual.Question;
                                                            obj['QuestionId'] = actual.QuestionId;

                                                            technicalAnswerViewModels.push(obj);
                                                        });*@

                                                        var answerViewModelList =  @Html.Raw(Json.Encode(questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList));;
                                                        var practiceSchoolLevelQuestionId = @questionAnswerViewModel.TechnicalQuestion.ID;

                                                     $('.btnExecute').click(function () {
                                                            debugger;
                                                         $(".test-case").hide();
                                                            answerViewModelList.forEach(function (answer) {
                                                                var requestData = {
                                                                 "source_code": $("div#inputCode").val(),
                                                                 "language_id": $('#languageDropdown :selected').val(),
                                                                 "number_of_runs": "1",
                                                                 "stdin": answer.InputParam,
                                                                 "expected_output": answer.OutputParam,
                                                                 "cpu_time_limit": "2",
                                                                 "cpu_extra_time": "0.5",
                                                                 "wall_time_limit": "5",
                                                                 "memory_limit": "128000",
                                                                 "stack_limit": "64000",
                                                                 "max_processes_and_or_threads": "30",
                                                                 "enable_per_process_and_thread_time_limit": false,
                                                                 "enable_per_process_and_thread_memory_limit": true,
                                                                 "max_file_size": "1024"
                                                             };
                                                             CallJudgeApi(requestData);
                                                         });
                                                         isCompleted = (jresult.every(result => result != null) || jresult.length == 0) ? false : true;
                                                         debugger;
                                                         if (jresult.length == 0) {
                                                             return;
                                                         }
                                                         answerViewModelList.forEach(function (r, i) {
                                                             var idPass = "#pass" + r.ID;
                                                             var idFail = "#fail" + r.ID;

                                                             if (jresult[i] == null) {
                                                                 $(idPass).show();
                                                             } else {
                                                                 $(idPass).show();
                                                             }
                                                         });

                                                         var url = "markComplete?isCompleted=" + isCompleted + "&practiceSchoolLevelQuestionId=" + practiceSchoolLevelQuestionId;
                                                         $.get(url, function (data) {
                                                             alert("Question Completed!!");
                                                         });
                                                     });

                                                     function CallJudgeApi(requestData) {
                                                         $.ajax({
                                                             url: 'https://api.judge0.com/submissions?wait=true',
                                                             type: 'POST',
                                                             data: JSON.stringify(requestData),
                                                             dataType: 'json',
                                                             contentType: 'application/json; charset=utf-8',
                                                             error: function (xhr) {
                                                                 jresult.push('Error: ' + xhr.statusText);
                                                             },
                                                             success: function (result) {
                                                                 $("#TestCase1").empty();
                                                                 $("#TestCase2").empty();
                                                                 $("#TestCase3").empty();

                                                                 if (result.time == null) {
                                                                     result.time = "Compile Error";
                                                                 }
                                                                 var compileTime = result.time;

                                                                 if (result.time == "Compiler Error") {
                                                                     $("#compilerTime").text(compileTime)
                                                                 }
                                                                 else {
                                                                     $("#compilerTime").text("Compile Time : " + compileTime + " secs")
                                                                 }
                                                                 jresult.push(result.compile_output);
                                                             },
                                                             async: true,
                                                             processData: false
                                                         });
                                                     }

                                                </script>

                                            }
                                        </div>
                                    </div>
                                    index++;
                                }
                            </div>
                        </div>
                        sectionIndex++;
                    }
                </div>
            }
            else
            {
                <div class="QuestionList">

                    @foreach (var questionAnswerViewModel in Model.CurrentSection.QuestionList)
                    {
                        string questionID = "";
                        string questionType = "";
                        string questionDescription = "";
                        string rdoAnswerName = "";
                        string chkAnswerName = "";
                        string ContainerName = "";
                        string hdnQuestionType = "";
                        string txtAnswerName = "";


                        if (questionAnswerViewModel.TechnicalQuestion != null)
                        {
                            rdoAnswerName = "rdo" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                            chkAnswerName = "chk" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                            ContainerName = "div" + index; //questionAnswerViewModel.ID.ToString();
                            hdnQuestionType = "hdn" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                            txtAnswerName = "txt" + questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                            questionID = questionAnswerViewModel.TechnicalQuestion.ID.ToString();
                            questionDescription = questionAnswerViewModel.TechnicalQuestion.Description;

                        }
                        else
                        {
                            rdoAnswerName = "rdo" + questionAnswerViewModel.Question.ID.ToString();
                            chkAnswerName = "chk" + questionAnswerViewModel.Question.ID.ToString();
                            ContainerName = "div" + index; //questionAnswerViewModel.ID.ToString();
                            hdnQuestionType = "hdn" + questionAnswerViewModel.Question.ID.ToString();
                            txtAnswerName = "txt" + questionAnswerViewModel.Question.ID.ToString();
                            questionID = questionAnswerViewModel.Question.ID.ToString();
                            questionType = questionAnswerViewModel.Question.QuestionType;
                            questionDescription = questionAnswerViewModel.Question.Description;
                        }


                        <div id="@ContainerName" class="QuestionContainer" QuestionID="@questionID">
                            <input type="hidden" class="@hdnQuestionType" id="@hdnQuestionType" value="@questionType" />
                            <div class="Question">
                                @if (questionAnswerViewModel.TechnicalQuestion == null && questionAnswerViewModel.Question != null && questionAnswerViewModel.Question.PassageViewModel != null)
                                {
                                    <div class="passageContainer">
                                        <section class="panel">
                                            <header class="panel-heading">
                                                Passage
                                                <span class="tools pull-right">
                                                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                                                </span>
                                            </header>
                                            <div class="panel-body">
                                                @Html.Raw(questionAnswerViewModel.Question.PassageViewModel.Description)
                                            </div>
                                        </section>
                                    </div>
                                }
                                @Html.Raw(questionDescription)
                            </div>
                            <div class="Answers">
                                @if (questionAnswerViewModel.TechnicalQuestion == null)
                                {
                                    if (questionAnswerViewModel.Question.QuestionType.ToLower().Contains("single select"))
                                    {                                                                       //Question type is single select
                                        foreach (var answer in questionAnswerViewModel.Question.AnswerList)
                                        {
                                            string rdoAnswerId = "rdo" + answer.ID.ToString();
                                            <label>
                                                <input id="@rdoAnswerId" name="@rdoAnswerName" type="radio" value="@answer.ID" QuestionID="@questionAnswerViewModel.Question.ID" style="float:left;" /><div style="float: left;">@Html.Raw(@answer.Description)</div>
                                            </label>
                                            <br />
                                        }
                                    }
                                    else if (questionAnswerViewModel.Question.QuestionType.ToLower().Contains("multi select"))
                                    {                                                                           //Question type is multiselect
                                        foreach (var answer in questionAnswerViewModel.Question.AnswerList)
                                        {
                                            string chkAnswerId = "chk" + answer.ID.ToString();
                                            <label for="@chkAnswerId " class="lblAnswer">
                                                <input id="@chkAnswerId " name="@chkAnswerName" type="checkbox" value="@answer.ID" QuestionID="@questionAnswerViewModel.Question.ID" style="float:left;" />@Html.Raw(@answer.Description)
                                            </label>
                                            <br />
                                        }
                                    }
                                    else if (questionAnswerViewModel.Question.QuestionType.ToLower().Contains("open ended"))
                                    {                                   //Question is open ended question
                                        <textarea style="width: 600px; height: 300px" class="" name="@txtAnswerName" id="@txtAnswerName"></textarea>
                                    }
                                }
                                else
                                {
                                    <div id="inputCode" style="height: 500px; width: 85%"></div>
                                    <div>
                                        <br />
                                        <br />
                                        <div id="compilerTime"></div>
                                        <br />
                                        <br />
                                        <div class="info-text result">TestCase Results Below : </div>
                                        @for (var i = 0; i < questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList.Count(); i++)
                                        {
                                            <div>
                                                Test Case Senario @(i + 1)
                                                @*<div id="textCase:@Model.AnswerViewModelList[i].ID" value="@Model.AnswerViewModelList[i].InputParam">
                                                        @Model.AnswerViewModelList[i].InputParam
                                                    </div>*@
                                                <div id="@("pass" + questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList[i].ID)" class="test-case"><i class="fa fa-check" style="color:green" aria-hidden="true"></i></div>
                                                <div id="@("fail" + questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList[i].ID)" class="test-case"><i class="fa fa-times" style="color:red" aria-hidden="true"></i></div>
                                            </div>
                                        }

                                    </div>

                                    <script>
                                                    var answerViewModelList =  @Html.Raw(Json.Encode(questionAnswerViewModel.TechnicalQuestion.AnswerViewModelList));;
                                                    var practiceSchoolLevelQuestionId = @questionAnswerViewModel.TechnicalQuestion.ID;

                                                     $('.btnExecute').click(function () {
                                                         debugger;
                                                         $(".test-case").hide();
                                                            answerViewModelList.forEach(function (answer) {
                                                                var requestData = {
                                                                 "source_code": $("div#inputCode").val(),
                                                                 "language_id": $('#languageDropdown :selected').val(),
                                                                 "number_of_runs": "1",
                                                                 "stdin": answer.InputParam,
                                                                 "expected_output": answer.OutputParam,
                                                                 "cpu_time_limit": "2",
                                                                 "cpu_extra_time": "0.5",
                                                                 "wall_time_limit": "5",
                                                                 "memory_limit": "128000",
                                                                 "stack_limit": "64000",
                                                                 "max_processes_and_or_threads": "30",
                                                                 "enable_per_process_and_thread_time_limit": false,
                                                                 "enable_per_process_and_thread_memory_limit": true,
                                                                 "max_file_size": "1024"
                                                             };
                                                             CallJudgeApi(requestData);
                                                         });
                                                         isCompleted = (jresult.every(result => result != null) || jresult.length == 0) ? false : true;
                                                         debugger;
                                                         if (jresult.length == 0) {
                                                             return;
                                                         }
                                                         answerViewModelList.forEach(function (r, i) {
                                                             var idPass = "#pass" + r.ID;
                                                             var idFail = "#fail" + r.ID;

                                                             if (jresult[i] == null) {
                                                                 $(idPass).show();
                                                             } else {
                                                                 $(idPass).show();
                                                             }
                                                         });

                                                         var url = "markComplete?isCompleted=" + isCompleted + "&practiceSchoolLevelQuestionId=" + practiceSchoolLevelQuestionId;
                                                         $.get(url, function (data) {
                                                             alert("Question Completed!!");
                                                         });
                                                     });

                                                     function CallJudgeApi(requestData) {
                                                         $.ajax({
                                                             url: 'https://api.judge0.com/submissions?wait=true',
                                                             type: 'POST',
                                                             data: JSON.stringify(requestData),
                                                             dataType: 'json',
                                                             contentType: 'application/json; charset=utf-8',
                                                             error: function (xhr) {
                                                                 jresult.push('Error: ' + xhr.statusText);
                                                             },
                                                             success: function (result) {
                                                                 $("#TestCase1").empty();
                                                                 $("#TestCase2").empty();
                                                                 $("#TestCase3").empty();

                                                                 if (result.time == null) {
                                                                     result.time = "Compile Error";
                                                                 }
                                                                 var compileTime = result.time;

                                                                 if (result.time == "Compiler Error") {
                                                                     $("#compilerTime").text(compileTime)
                                                                 }
                                                                 else {
                                                                     $("#compilerTime").text("Compile Time : " + compileTime + " secs")
                                                                 }
                                                                 jresult.push(result.compile_output);
                                                             },
                                                             async: true,
                                                             processData: false
                                                         });
                                                     }

                                    </script>

                                }

                            </div>
                        </div>
                        index++;
                    }
                </div>
            }


            @if (Model.IsSectionJump)
            {
                int increment = 1;

                <div class="QuestionNumbersContainer lengthFinder">
                    @foreach (var SectionQuestionNumber in Model.SectionList)
                    {
                        string ContainerNameIndex = "SectionQuestionNumbers" + increment;

                        string SectionName = "Section" + increment;

                        <div class="@ContainerNameIndex">
                            @for (int i = 1; i <= SectionQuestionNumber.QuestionList.Count; i++)
                            {
                                if (SectionQuestionNumber.Name != "Tech")
                                {
                                    <input type="button" class="btn QuestionNumber NotVisited @SectionName" id="@i" status="NotVisited" style="margin-top: 3px;color:black;background-color:none" value="@i" QuestionId="@SectionQuestionNumber.QuestionList[i - 1].Question.ID" />
                                }
                                else
                                {
                                    <input type="button" class="btn QuestionNumber NotVisited @SectionName" id="@i" status="NotVisited" style="margin-top: 3px;color:black;background-color:none" value="@i" QuestionId="@SectionQuestionNumber.QuestionList[i - 1].TechnicalQuestion.ID" />
                                }
                                // string questionNumber="QuestionNumber"+i+SectionName;

                            }
                        </div>
                        increment++;
                    }
                </div>
            }
            else
            {
                int increment = 1;

                string ContainerNameIndex = "SectionQuestionNumbers" + increment;
                <div class="QuestionNumbersContainer">
                    <div class="@ContainerNameIndex">
                        @for (int i = 1; i <= Model.CurrentSection.QuestionList.Count; i++)
                        {
                            if (Model.CurrentSection.Name != "Tech")
                            {
                                <input type="button" class="btn QuestionNumber NotVisited" id="@i" status="NotVisited" style="margin-top: 3px; color:black" value="@i" QuestionId="@Model.CurrentSection.QuestionList[i - 1].Question.ID" />
                            }

                            else
                            {
                                <input type="button" class="btn QuestionNumber NotVisited" id="@i" status="NotVisited" style="margin-top: 3px; color:black" value="@i" QuestionId="@Model.CurrentSection.QuestionList[i - 1].TechnicalQuestion.ID" />
                            }
                        }
                    </div>

                </div>
            }

            <div class="SectionContainers" style="display: none;">
                @for (int i = 1; i <= Model.SectionList.Count(); i++)
                {
                    if (i == 1)
                    {
                        if (Model.SectionList[i - 1].ID == Model.CurrentSection.ID)
                        {
                            <input type="button" class="btn SectionName SectionSelected" @*onclick="jumpSections(@i)"*@ id="@i" style="margin-top: 3px;color:black;width:auto" value="@Model.SectionList[i - 1].Name" />
                        }
                        else
                        {
                            <input type="button" class="btn SectionName " @*onclick="jumpSections(@i)"*@ id="@i" style="margin-top: 3px;color:black;width:auto" value="@Model.SectionList[i - 1].Name" />

                        }
                    }
                    else
                    {
                        if (Model.SectionList[i - 1].ID == Model.CurrentSection.ID)
                        {
                            <input type="button" class="btn SectionName SectionSelected" @*onclick="jumpSections(@i)"*@ id="@i" style="margin-top: 3px;color:black;width:auto" value="@Model.SectionList[i - 1].Name" />
                        }
                        else
                        {
                            <input type="button" class="btn SectionName " @*onclick="jumpSections(@i)"*@ id="@i" style="margin-top: 3px;color:black;width:auto" value="@Model.SectionList[i - 1].Name" />

                        }

                    }

                }
            </div>
        </div>



        <div style="clear: both;"></div>

    }
    <div class="bottomContainer">
        <table class="containerTbl">
            <tbody style="width: 100%">
                <tr style="width: 100%">
                    <td style="width: 33%">
                        <div class="BtnContainer " style="width: 86%">
                            <button type="submit" id="btnPrev" class="btn btn-info">Prev</button>
                            @if (Model.CurrentSection.Name == "Tech")
                            {
                                <button type="submit" class="btn btn-success btnExecute">Execute</button>
                            }
                            else
                            {
                                <button type="submit" id="btnConfirm" class="btn btn-success btnConfirm">Confirm</button>
                            }

                            <button type="submit" id="btnNext" class="btn btn-info">Next</button>

                            <button type="button" id="btnMark1" class="btn sample" style="height: 35px; cursor: none">
                                <label class="col-lg-1 col-sm-1 control-label" id="QuestionNumberInfo" style="width: 3%"></label>
                                <label class="col-lg-1 col-sm-1 control-label QuestionNumberInfo" style="width: 3%">/</label>
                                @if (Model.IsSectionJump)
                                {
                                    <label class="col-lg-1 col-sm-1 control-label QuestionNumberInfo " id="TotalSectionQuestions" style="width: 3%"></label>
                                }
                                else
                                {
                                    <label class="col-lg-1 col-sm-1 control-label QuestionNumberInfo" style="width: 3%">@Model.CurrentSection.QuestionList.Count</label>
                                }
                            </button>

                            <button type="button" id="btnMark" class="btn btn-warning">Mark</button>

                        </div>
                    </td>
                    <td style="width: 49%">
                        <div class="LegentContainer">
                            <table class="legent">
                                <tbody>
                                    <tr>

                                        @for (int a = 1; a <= Model.ColorCodeViewModelList.Count(); a++)
                                        {
                                            <td>
                                                <input type=hidden class="ActionColor" @a value="@Model.ColorCodeViewModelList[a - 1].HexCode">
                                                <label class="form-control testActionColor" style="margin-left: @space">
                                                    @Model.ColorCodeViewModelList[a - 1].Name
                                                    <span class=" input-group-btn add-on" style="margin-top: 8px; margin-right: 9%;">
                                                        <i style="padding: 8px;background-color: @Model.ColorCodeViewModelList[a - 1].HexCode"></i>
                                                    </span>
                                                </label>
                                            </td>
                                            space = space + 3;
                                            //i++;
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <div class="LoginMessage">
        You must be logged in to take the test
        <br />
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="modal fade" id="SubmitConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Alert</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to submit the test?
                    </div>
                    <div class="modal-footer">
                        <button class="btn  btn-success" type="button" onclick="SubmitTest()" id="btnSubmit" style="margin-left: 5px;">Confirm</button>
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content position-center">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">Submitting your test.</h4>
                <div class="modal-body " style="text-align: center;">
                    <img src="~/images/Loading.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Instruction</h4>
            </div>
            <div class="modal-body instructionContents">
                @Html.Raw(Model.Instructions)
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="testSubmissionSuccessAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Instruction</h4>
            </div>
            <div class="modal-body instructionContents">
                Test submitted successfully..
            </div>
            <div class="modal-footer">
                <button onclick="CloseModal();window.location='/DashBoard/Index';" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loggedOutAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Instruction</h4>
            </div>
            <div class="modal-body instructionContents">
                You've been logged out
            </div>
            <div class="modal-footer">
                <button onclick="CloseModal();window.location='/Account/LogOff';" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submitTestErrorAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Instruction</h4>
            </div>
            <div class="modal-body instructionContents">
                You've been logged out
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div style="clear: both;"></div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<a data-toggle="modal" href="#instructionModal" class="instructionModalClick"></a>
