﻿@model OAP.Domain.ViewModel.QuestionPaperViewModel
@{
    ViewBag.Title = "Upload Questions";
    if (User.IsInRole("CollegeAdmin"))
    {

    }
    else if (User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/QuestionPaper/QuestionPaperList">Test</a>
            </li>
            <li>
                <a class="current" href="#">Upload Questions</a>
            </li>
           
        </ul>
    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
       
        @using (Html.BeginForm("UploadQuestion", "QuestionPaper", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
           
            <div class="form-group">
                <label class="col-lg-2 control-label">QuestionPaper *</label>
                <div class="col-lg-8">
                    @Html.DropDownListFor(m => m.ID, new SelectList(ViewBag.QuestionPapers, "Value", "Text"), "Select", new { @class="form-control m-bot15"})
                    @*@Html.TextBoxFor(m => m.ID, new { @class = "form-control", placeholder = "Code" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <input type="file" name="file" id="file" class="default doc" />
                         <p class="help-block uploadFileSizeError ImageError"></p>  
                </div>
                
            </div>
             <div class="form-group">
                   <div class="col-lg-2"></div>
                <div class="col-lg-8">
                 <a href="~/DownloadTemplate/QuestionPaperUpload.docx"> Download Template</a>
                    </div>
                 </div>
                            
            
            @*<div class="form-group">
                <div class="controls col-lg-offset-2 col-lg-10">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-white btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i>Select file</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                            <input type="file" name="file" id="file" class="default" />
                        </span>
                        <span class="fileupload-preview" style="margin-left: 5px;"></span>
                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left: 5px;"></a>
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Upload </button>
                    <button type="button" class="btn btn-warning" onclick="window.location='/Home/Index'">Cancel</button>
                </div>
            </div>
        }
    </div>
</section>
@section childScripts{
    <script src="~/Scripts/OAPSmart/FileValidator.js"></script>
}

@*@using (Html.BeginForm("UploadQuestions", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <input type="file" name="file" id="file" class="massUploadFile" />

    <input type="submit" class="btn-success" value="Submit" />
}
@section childScripts{

}*@