﻿body {
    overflow-x:hidden;
}
input[type="radio"] {
    width: auto;
    margin-right: 7px;
}

input[type="button"] {
    width: 80px;
    /*background-color: white;*/
    font-size: small;
}

    input[type="button"]:hover:not(:disabled) {
        color: #17aad1;
        border-color: #17aad1;
    }

    input[type="button"]:disabled {
        color: #eee;
        border-color: #ccc;
    }

.Header {
    /*width: 1000px;*/
    /*height: 53px;*/
    border: 1px solid #ccc;
    padding: 5px;
}

.ExamContainer {
    /*position: relative;*/
    padding:6px;
    /*height:100%;*/

}

.bottomContainer {
   /*margin-top:500px;*/
   /*margin-top:200px;*/
   /*position:relative;*/
   /*padding-top:15px;*/
}


.QuestionList {
    /*position: absolute;*/
    width: 100%;
    /*min-height: 300px;*/
    min-height:70%;
    overflow:auto;
    border: 1px solid #ccc;
    /*padding: 5px;*/
    padding: 14px;
    float:left;
    background-color:white;

}

.Question {
    background-color:white;
}



.QuestionContainer {
    min-height: 400px;
    display: none;
}
.SectionContainer {
    display: none;
}

.SectionsContainer {
    min-height: 400px;
    display: none;
}

.QuestionNumbersContainer {
    /*float:left;*/
    background-color: white;
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    right: 0px;
    height: 430px;
    display: none;
}

    .QuestionNumbersContainer input {
        width: 40px;
    }

    .SectionContainers {
    /*float:left;*/
    background-color: white;
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    right: 0px;
    height: 430px;
    display: none;
}

    .SectionContainers input {
        width: 40px;
    }
.QuestionNumberToggle {
    /*position: absolute;*/
    /*background: #eee;*/
    /*border: 1px solid #ccc;*/
    /*top: 540px;*/
    /*width: 230px;*/
    /*height: 20px;*/
    /*line-height: 20px;
    right: 0px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding-right: 10px;*/
   
}

.TimerOverlay {
    opacity: 0.01;
    position: absolute;
    width: 100%;
    height: 100%;
}

.TimerContainer {
    position: relative;
    float: right;
}

input.CurrentQuestion {
    border: 1px solid #17aad1;
    /*background-color: #d1f2fb;*/
}

input.CurrentSection {
    border: 1px solid #17aad1;
    /*background-color: #d1f2fb;*/
}

input.QuestionAnswered {
    border: 1px solid #6fe033;
    background-color: #afff78 ;
}

input.QuestionMarked {
    border: 1px solid #6fe033;
    background-color: #f2f3a5 !important;
}

input.SectionSelected {
    border: 1px solid #6fe033;
    background-color: #f2f3a5 !important;
}

#btnSubmit {
    float:right;
    width:auto;
}


.lblAnswer {
    width:100%;
}
.MsoNormal {
    /*float:left;*/
    /*width:100%;*/
}
/*html {
    width:99% ! important;
}*/
