﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>@ViewBag.Title</title>
    <!--Core CSS -->
    <link href="/Content/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Scripts/js/advanced-datatable/css/jquery.dataTables.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="/Scripts/js/data-tables/DT_bootstrap.css" />*@
    <link href="/Scripts/js/nestable/jquery.nestable.css" rel="stylesheet" />
    @*<script src="~/Scripts/js/validation-init.js"></script>*@
    <link rel="stylesheet" href="/Content/css/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-timepicker/css/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/bootstrap-datetimepicker/css/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/jquery-multi-select/css/multi-select.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/js/select2/select2.css" />
    <link href="~/Content/css/jquery.steps.css?1" rel="stylesheet" />
    <link href="/Scripts/js/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Scripts/js/jvector-map/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/Content/css/clndr.css" rel="stylesheet">

    <link href="/Scripts/js/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/style-responsive.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <script>
        function ShowAlert(alertContent) {
            $(".modal").modal('hide');
            $(".alertContent").html(alertContent);
            $("#alertModal").modal({
                show: true,
                backdrop: 'static',
            });
        }

        function OpenModal(modalName) {
            $(".modal").modal('hide');
            $("#" + modalName).modal({
                show: true,
                backdrop: 'static',
            });
        }
        function isMatch(password1, password2, pass1color, pass2color, evt) {
            var Str1 = $("." + password1).val();
            var Str2 = $("." + password2).val();
            var passwordcolor = document.getElementById(pass1color).style.color;
            var Passwordlen = Str1.length;
            var CPasswordlen = Str2.length;
            var substring = Str1.substr(0, CPasswordlen);
            if (CPasswordlen <= Passwordlen) {
                if (Str2 == substring) {
                    document.getElementById(pass2color).style.color = passwordcolor;
                    return true;
                }
                else {
                    document.getElementById(pass2color).style.color = "Red";
                    return false;
                }
            }
            else {
                document.getElementById(pass2color).style.color = "Red";
                return false;
            }
        }
    </script>
</head>

<body>
    @{
        int answerEvaluationCount = ViewBag.AnswerEvaluationCount != null ? ViewBag.AnswerEvaluationCount : 0;
        int retestRequestCount = ViewBag.RetestRequestCount != null ? ViewBag.RetestRequestCount : 0;
    }
    @if (!string.IsNullOrEmpty(ViewBag.Theme))
    {
        <style>
                 .brand {
                     background-color:@ViewBag.Theme !important;
                 }
                .sidebar-toggle-box
                 {
                     background-color:@ViewBag.Theme !important;
                 }
                .sidebar-toggle-box:hover
                 {
                    background-color:white !important;
                 }
                 ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus
                 {
                    color: @ViewBag.Theme !important;
                 }
                ul.top-menu > li > a:hover, ul.top-menu > li > a:focus
                {
                     background:  @ViewBag.Theme !important;
                }

                .toggle-right-box:hover
                 {
                    background:  @ViewBag.Theme !important;
                 }
                ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i
                {
                    color: @ViewBag.Theme !important;
                }
                ul.sidebar-menu li a.active i
                {
                    color: @ViewBag.Theme !important;
                }
                .full-width .dropdown-menu.extended.logout > li > a:hover
                {
                    background: @ViewBag.Theme !important;
                }
                .dropdown-menu.extended.logout > li > a:hover i
                {
                    color: @ViewBag.Theme !important;
                }
            .breadcrumbs-alt a:hover:before, .breadcrumbs-alt a.current:before {
                    border-color:@ViewBag.Theme @ViewBag.Theme @ViewBag.Theme rgba(0,0,0,0) !important;
            }
            .breadcrumbs-alt a:hover:after, .breadcrumbs-alt a.current:after {
                     border-left:1em solid @ViewBag.Theme !important;
            }
            .breadcrumbs-alt a:hover, .breadcrumbs-alt a.current {
                     background: @ViewBag.Theme !important;
            }

            .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
                     background: @ViewBag.Theme !important;
            }
            .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
                     background: @ViewBag.Theme !important;
            }
            .wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
            @ViewBag.Theme rgba(0,0,0,0.4) !important;
            }
        </style>

    }
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="javascript:;" class="logo">
                    @if (!string.IsNullOrEmpty(ViewBag.Logo))
                    {
                        <img src="/Uploaded/OrganisationLogo/@ViewBag.Logo" alt="" />
                    }
                    else
                    {
                        <img src="/Images/SuperLogo.png" alt="" />
                    }
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                  
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
             
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-bell-o"></i>
                            @if (ViewBag.NotificationCount != null && ViewBag.NotificationCount > 0)
                            {
                                <span class="badge bg-warning">@ViewBag.NotificationCount</span>
                            }
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <li>
                                <p>Notifications</p>
                            </li>
                            @if (ViewBag.Notifications != null && ViewBag.NotificationCount != null && ViewBag.NotificationCount > 0)
                            {
                                foreach (var notification in ViewBag.Notifications)
                                {
                                <li>
                                    <div class="alert alert-info clearfix" onclick="UpdateNotificationVisitedDate()">
                                        <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                        <div class="noti-info">
                                            <a href="/@notification.Url">@notification.Name @notification.Count</a>
                                        </div>
                                    </div>
                                </li>
                                }
                            }

                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        @*<input type="text" class="form-control search" placeholder=" Search">*@
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            @if (!string.IsNullOrEmpty(ViewBag.ProfileImage))
                            {
                                <img alt="" src="@ViewBag.ProfileImage">
                            }
                            else
                            {
                                <img src="~/images/avatar1_small.jpg" />
                            }
                            <span class="username">@User.Identity.Name</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">                            
                            <li><a href="/Profile/MyProfile"><i class=" fa fa-suitcase"></i>My Profile</a></li>
                            <li><a href="/Account/LogOff"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                    <li>
                       @* <div class="toggle-right-box">
                            <div class="fa fa-bars"></div>
                        </div>*@
                    </li>
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">

                        <li class="sub-menu">
                            <a class="active" href="/Dashboard/Index">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a href="/Batch/BatchQuestionPaper">
                                <i class="fa fa-book"></i>
                                <span>Test Management</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            @*<a href="/Student/Index">*@
                            <a href="/Student/Index">
                                <i class="fa fa-users"></i>
                                <span>Student Management</span>
                            </a>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa  fa-inbox"></i>
                                <span>Question Management</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Question/Index">Question Bank</a></li>
                                <li><a href="/QuestionPaper/QuestionPaperList">Question Paper</a></li>
                                <li><a href="/Tag/Index">Tags</a></li>
                                <li><a href="/Batch/Index">Batches</a></li>
                                <li><a href="/Branch/Index">Departments</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-folder"></i>
                                <span>Member Management</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Member/Index">Add College Admin</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Reports</span>
                            </a>
                            <ul class="sub">

                                <li><a href="/Report/BatchAssessmentReportFilter">Batch QuestionPaper Report</a></li>
                                <li><a href="/Report/BatchPassPercentageReportFilter">Batch Pass Percentage Report</a></li>
                                <li><a href="/Report/AssessmentPassPercentageReportFilter">QuestionPaper Pass Percentage Report</a></li>
                                <li><a href="/Report/ScoreCardIndex">Score Card</a></li>

                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="/Practice/Index">
                                <i class="fa fa-users"></i>
                                <span>Practice School</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <!--mini statistics start-->

                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content position-center">
                                <div class="modal-header">
                                    <h4 class="modal-title">Please wait...</h4>
                                    <div class="modal-body ">
                                        <img src="/images/Loading.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Alert</h4>
                                </div>
                                <div class="modal-body alertContent">
                                </div>
                                <div style="clear: both;"></div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>


    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script>
        var leftSelectedIDArray = new Array();
        var rightSelectedIDArray = new Array();
    </script>
    <script src="/Scripts/js/jquery.js"></script>
    @*<script src="/Scripts/js/jquery-1.8.3.min.js"></script>*@
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Content/bs3/js/bootstrap.min.js"></script>
    <script src="/Scripts/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script class="include" type="text/javascript" src="/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Scripts/js/jquery.scrollTo.min.js"></script>
    <script src="/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
    <script src="/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="/Scripts/js/jquery.nicescroll.js"></script>

    <script src="/Scripts/js/skycons/skycons.js"></script>
    <script src="/Scripts/js/jquery.scrollTo/jquery.scrollTo.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    @*<script src="/Scripts/js/calendar/clndr.js"></script>*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    @*<script src="/Scripts/js/calendar/moment-2.2.1.js"></script>*@
    @*<script src="/Scripts/js/evnt.calendar.init.js"></script>*@
    <script src="/Scripts/js/fullcalendar/fullcalendar.min.js"></script>

    <script src="/Scripts/js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/Scripts/js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="/Scripts/js/gauge/gauge.js"></script>

    <!-- For normal checkbox -->

    <script type="text/javascript" src="/Scripts/js/fuelux/js/spinner.min.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="/Scripts/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery-multi-select/js/jquery.quicksearch.js"></script>

    <script type="text/javascript" src="/Scripts/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="/Scripts/js/jquery-tags-input/jquery.tagsinput.js"></script>

    <script src="/Scripts/js/select2/select2.js"></script>
    <script src="/Scripts/js/select-init.js"></script>

    <script src="/Scripts/js/nestable/jquery.nestable.js"></script>

    <!--common script init for all pages-->
    <script src="/Scripts/js/scripts.js"></script>

    <!-- For normal checkbox -->

    <script src="/Scripts/js/advanced-form.js"></script>
    <!--Easy Pie Chart-->
    <script src="/Scripts/js/easypiechart/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="/Scripts/js/sparkline/jquery.sparkline.js"></script>
    <!--jQuery Flot Chart-->
    @*<script src="/Scripts/js/flot-chart/jquery.flot.js"></script>
        <script src="/Scripts/js/flot-chart/jquery.flot.tooltip.min.js"></script>
        <script src="/Scripts/js/flot-chart/jquery.flot.resize.js"></script>
        <script src="/Scripts/js/flot-chart/jquery.flot.pie.resize.js"></script>
        <script src="/Scripts/js/flot-chart/jquery.flot.animator.min.js"></script>
        <script src="/Scripts/js/flot-chart/jquery.flot.growraf.js"></script>
        <script src="/Scripts/js/dashboard.js"></script>
        <script src="/Scripts/js/jquery.customSelect.min.js"></script>*@

    @*<script src="/Scripts/OAPSmart/ChangeClassesOnLoad.js"></script>*@
    @*<script src="/Scripts/js/nestable.js"></script>*@
    <script src="/Scripts/OAP/Validate.js"></script>

    <script src="/Scripts/js/external-dragging-calendar.js"></script>
    <script type="text/javascript">
        function UpdateNotificationVisitedDate() {
            $.ajax({
                type: 'POST',
                url: "Base/UpdateNotificationVisitedDate",
                success: function (response) {
                },
            });
        }
    </script>
    @RenderSection("childScripts", required: true)
</body>
</html>
