﻿@model List<OAP.Domain.ViewModel.MashUploadResultViewModel>
@{
    ViewBag.Title = "UploadedResult";
    string returnUrl = ViewBag.ReturnUrl;
    int i = 0;
}
@section childScripts{
}

<section class="panel">
    <header class="panel-heading">
        Uploaded Result
    </header>
    <div class="panel-body">
        <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.Message</td>
                            <td>@item.Reason</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
    <div class="panel-body">
    <div class="col-lg-offset-2 col-lg-30">
        <input type="button" class="btn btn-info" value="Back" onclick="window.location='/@returnUrl ';" />
    </div>
</div>
</section>


@*<div class="btnHolder">
    <input type="button" value="Ok" onclick="window.location='/@returnUrl';" />
</div>*@
