﻿@model OAP.Domain.ViewModel.MemberViewModel
@{
    ViewBag.Title = "Edit Member";
    
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/Member/Index">Member Management</a>
            </li>

            <li>
                <a class="current" >  @ViewBag.Title</a>
            </li>
        </ul>
    </div>
</div>


<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">

        @using (Html.BeginForm("Edit", "Member", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m=>m.ID)
            if (Model.UserOrganisationViewModel != null)
            {
                @Html.HiddenFor(m=>m.UserOrganisationViewModel.ID)
                @Html.HiddenFor(m=>m.UserOrganisationViewModel.UserId)
               

                    

             
            }
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control",@readonly="@readonly" })
                </div>
                
            </div>

           
            <div class="form-group">
                @Html.LabelFor(m => m.EmailID, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
   
                    @Html.LabelFor(m => m.UserOrganisationViewModel.OrganisationName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserOrganisationViewModel.OrganisationName, new { @class = "form-control" })
                    </div>
                </div>
            
                 <div class="form-group ">
                      <label class="control-label col-md-2">Logo</label>
                                <div class="controls col-md-6">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <span class="btn btn-white btn-file">
                                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select file</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                <input type="file" class="default" name="file"  />
                                                </span>
                                        <span class="fileupload-preview" style="margin-left:5px;"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                    </div>
                                </div>  

                      <div class="col-md-3">
                         <img src="/Uploaded/OrganisationLogo/@Model.UserOrganisationViewModel.OrgLogo "  height="100"/>
                     </div>
                 </div> 
            
             <div class="form-group">
                    @Html.LabelFor(m => m.UserOrganisationViewModel.OrganisationAddress1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserOrganisationViewModel.OrganisationAddress1, new { @class = "form-control" })
                    </div>
                </div>
            
             <div class="form-group">
                    @Html.LabelFor(m => m.UserOrganisationViewModel.OrganisationAddress2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserOrganisationViewModel.OrganisationAddress2, new { @class = "form-control" })
                    </div>
                </div>
            
             <div class="form-group">
                    @Html.LabelFor(m => m.UserOrganisationViewModel.ContactNumber1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserOrganisationViewModel.ContactNumber1, new { @class = "form-control" })
                    </div>
                </div>
            
             <div class="form-group">
                    @Html.LabelFor(m => m.UserOrganisationViewModel.ContactNumber2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserOrganisationViewModel.ContactNumber2, new { @class = "form-control" })
                    </div>
                </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Save" />
                     <button type="button" class="btn btn-warning" onclick="window.location='/Member/Index'">Cancel</button>
                </div>
            </div>
        }
        </div>

    </section>




      

        @section childScripts{

        }
