﻿@model OAP.Domain.ViewModel.UploadQuestionViewModel
@{
    ViewBag.Title = "Modify questions";
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>
            <li>
                <a href='/Upload/Index'>Uploads</a>
            </li>
            <li>
                <a class="current" href='#'>Upload Question Complexity</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        @using (Html.BeginForm("ChangeUploadedQuestions", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m=>m.ID)
            @*@Html.HiddenFor(m=>m.UploadID)*@
             <div class="pull-right"><a href="~/DownloadTemplate/QuestionUpdate.xlsx"> Download Template</a></div>
            <div class="form-group">
                <div class="controls col-lg-offset-2 col-lg-10">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-white btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i>Choose file</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i>Change</span>
                            <input type="file" name="file" id="file" class="default" />
                        </span>
                        <span class="fileupload-preview" style="margin-left: 5px;"></span>
                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left: 5px;"></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i>Upload </button>
                    <button type="button" class="btn btn-warning" onclick="window.location='/Upload/Index'">Cancel</button>
                </div>
            </div>
            
        }
    </div>
</section>







@section childScripts{
    <script src="~/Scripts/OAPSmart/FileValidator.js"></script>
    <script>
        $(document).ready(function () {
            //$("#myModal").click();
            $(".showModal").click();

        });
    </script>
}










@*@using (Html.BeginForm("UploadQuestions", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <input type="file" name="file" id="file" class="massUploadFile" />

    <input type="submit" class="btn-success" value="Submit" />
}
@section childScripts{

}*@
