﻿@model System.Web.Mvc.JsonResult
@{
    ViewBag.Title = "Upload List";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>
            <li>
                <a href='/Question/Index'>Question Bank</a>
            </li>
            <li>
                <a class="current" href='/Upload/IndexTemp'>Uploads</a>
            </li>
        </ul>
    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Uploaded Date/Time</th>
                        <th>No.of Questions Uploaded</th>
                        <th>Upload Complexity</th>
                        <th style="width: 50px;"><input type="checkbox" class="chkAll" style="margin-left: 15%;" /></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>

        <div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Upload/UploadQuestionsTemp'"><i class="fa fa-plus "></i> Upload Questions</button>
            <button type="button" class="btn btn-danger" onclick="OpenDeleteModal()"><i class="fa fa-minus "></i> Delete</button>
            <button type="button" class="btn btn-info" onclick="OpenSaveModal()"><i class="fa fa-plus "></i> Save</button>
        </div>
    </div>
</section>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these records.

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeleteQuestion()" type="button">Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Move Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to Move these records on QuestionBank.

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="MoveTempQuestionToActualQuestion()" type="button">Yes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">NO</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div style="clear: both;"></div>
            <div class="modal-footer">
                <button class="btn btn-default btnOk" type="button" onclick="window.location.href = '/Upload/IndexTemp'">OK</button>
                @*<button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button" style="display:none">Close</button>*@
            </div>
        </div>
    </div>
</div>

@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script>

       // $(document).ready(function ()
            function BindStudentDataTable(){
            $('#dynamic-table').dataTable({
                "processing": true,
                "serverSide": true,
                'ajax': '/Upload/TempList',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Title" },
                { "data": "UploadedDateTimeString" },
                 { "data": "QuestionCount" },
                { "data": "UploadComplexity" },
{ "data": "" }
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {                        
                        //return '<a href="PreviewQuestions/' + full.ID + '">' + data + '</a>';
                        return '<a href="PreviewUploadedQuestionsTemp/' + full.ID + '">' + data + '</a>';
                    }
                },
                {
                    "targets": [3],
                    "data": "Upload Question Complexity",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        return '<a href="/UploadedQuestions/' + full.ID + '">Upload</a>';
                    }
                },
                {
                    "targets": [4],
                    //"data": "download_link",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        return '<input type="checkbox" style="margin-left: 15%;" class="chkSeperate" value="' + full.ID + '">';
                    }
                }
                ]
            });
            //});
        }
        


        $(document).ready(function () {
            BindStudentDataTable();
            $(".chkAll").change(function () {
                if ($(this).prop("checked")) {
                    $(".chkSeperate").prop("checked", true);
                }
                else {
                    $(".chkSeperate").prop("checked", false);
                }
            });
        });
        function OpenDeleteModal() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            if (selectedQuestions == "") {
                ShowAlert("Please select ateast one question to delete");
            }
            else {
                OpenModal("deleteModal");
            }
        }
        function OpenSaveModal() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            if (selectedQuestions == "") {
                ShowAlert("Please select ateast one question to Move");
            }
            else {
                OpenModal("SaveModal");
            }
        }

        function MoveTempQuestionToActualQuestion() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            if (selectedQuestions == "") {
                ShowAlert("Please select ateast one question to delete");
            }
            else {
                OpenModal("loadingModal");
                $.ajax({
                    url: "/Upload/MoveTempQuestionToActualQuestion",
                    type: "POST",
                    data: {
                        uploadID: selectedQuestions,
                    },
                    success: QuestionsMoved
                });
            }
        }

        function DeleteQuestion() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            if (selectedQuestions == "") {
                ShowAlert("Please select ateast one question to delete");
            }
            else {
                OpenModal("loadingModal");
                $.ajax({
                    url: "/Upload/DeleteTemp",
                    type: "POST",
                    data: {
                        uploadIDString: selectedQuestions,
                    },
                    success: QuestionsDeleted
                });
            }
        }

        function QuestionsDeleted(response) {
            var responseResult = response.split('');

            if (response.split('/')[0] == response.split('/')[1]) {
                ShowAlertThis(response + ' All the questions under these uploads are deleted succesffully');
            }
            else {
                ShowAlertThis(response + ' some of the questions under these uploads are used in tests.');
            }
        }

        function QuestionsMoved(response) {  
            //  ShowAlertThis(response + ' All the questions under these uploads are Moved succesffully');
            ShowAlertThis(' All the questions under these uploads are Moved succesffully');
        }


        function ShowAlertThis(alertContent) {
            $(".modal").modal('hide');
            $(".alertContent").html(alertContent);
            $("#alertModal").modal({
                show: true,
                backdrop: 'static',
            });
        }
       

    </script>
}
