﻿    @model System.Web.Mvc.JsonResult
@{
    ViewBag.Title = "Upload List";
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Repository</a>
            </li>
            <li>
                <a href='/Question/Index'>Question Bank</a>
            </li>
            <li>
                <a class="current" href='/Upload/Index'>Uploads</a>
            </li>
        </ul>
    </div>
</div>


<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Uploaded Date/Time</th>
                        <th>No.of Questions Uploaded</th>
                        <th style="width: 50px;">Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>

        <div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Upload/UploadQuestions'"><i class="fa fa-plus"></i> Upload Questions</button>
            <button type="button" class="btn btn-danger" onclick="OpenDeleteModal()"><i class="fa fa-minus"></i> Delete</button>
        </div>
    </div>
</section>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete these records.

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="DeleteQuestion()" type="button">Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div style="clear: both;"></div>
            <div class="modal-footer">
                <button class="btn btn-default btnOk" type="button" onclick="window.location.href = '/Upload/Index'">OK</button>
                @*<button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button" style="display:none">Close</button>*@
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script>

        $(document).ready(function () {
            $('#dynamic-table').dataTable({
                "processing": true,
                "serverSide": true,
                'ajax': '/Upload/List',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "Title" },
                { "data": "UploadedDateTimeString" },
                 { "data": "QuestionCount" },
{ "data": "" }
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="PreviewUploadedQuestions/' + full.ID + '">' + data + '</a>';
                    }
                },
                {
                    "targets": [3],
                    //"data": "download_link",
                    "bSortable": false,
                    "render": function (data, type, full) {
                        return '<input type="checkbox"  class="chkSeperate" value="' + full.ID + '">';
                    }
                }
                ]
            });
        });

        function OpenDeleteModal() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            if (selectedQuestions == "") {
                ShowAlert("Please select ateast one question to delete");
            }
            else {
                OpenModal("deleteModal");
            }
        }

        function DeleteQuestion() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            if (selectedQuestions == "") {
                ShowAlert("Please select ateast one question to delete");
            }
            else {
                OpenModal("loadingModal");
                $.ajax({
                    url: "/Upload/Delete",
                    type: "POST",
                    data: {
                        uploadIDString: selectedQuestions,
                    },
                    success: QuestionsDeleted
                });
            }
        }

        function QuestionsDeleted(response) {
            var responseResult = response.split('');

            if (response.split('/')[0] == response.split('/')[1]) {
                ShowAlertThis(response + ' All the questions under these uploads are deleted succesffully');
            }
            else {
                ShowAlertThis(response + ' some of the questions under these uploads are used in tests.');
            }


            //if (response.toLowerCase(responseResult[0]) == "true") {               

            //    var deleteratio = responseResult[1];
            //    var alertmsg = " Uploaded Questions deleted successfully";
            //    ShowAlertThis(deleteratio + alertmsg);
            //    $(".chkAll").prop("checked", false);
            //      //  window.location.href = "/Upload/Index";
            //   // BindDataTable();
            //}
            //else {
            //    ShowAlert("Some error occured while deleting the questions. Please try again");
            //}

        }


        function ShowAlertThis(alertContent) {
            $(".modal").modal('hide');
            $(".alertContent").html(alertContent);
            $("#alertModal").modal({
                show: true,
                backdrop: 'static',
            });
        }
    </script>
}
