﻿@model OAP.Domain.ViewModel.UploadQuestionViewModel
@{
    ViewBag.Title = "Uploaded Questions";
    int next = @Model.SelectedIndex + 1;
    int prev = @Model.SelectedIndex - 1;
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li> <a href="#">Repository</a> </li>
            <li> <a href='/Question/Index'>Question Bank</a> </li>
            <li> <a class="current" href='/Upload/IndexTemp'>Uploads</a> </li>
        </ul>
    </div>
</div>
@using (Html.BeginForm("PreviewUploadedQuestionsTemp", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    if (Model.QuestionViewModel != null)    {
    @Html.HiddenFor(m => m.ID, new { @class="id"})
    @Html.HiddenFor(m => m.QuestionViewModel.ID)
    @Html.HiddenFor(m => m.SelectedIndex)
    @Html.HiddenFor(m => m.CurrentIndex)    
    @Html.HiddenFor(m => m.QuestionViewModel.QuestionTypeID)
    @Html.HiddenFor(m => m.QuestionViewModel.QuestionType)
    <div class="row">
        <div class="col-sm-9">
            <section class="panel">
                <header class="panel-heading">
                    Question  @next
                </header>
                <div class="panel-body">
                    <div id="editor-container">
                        @if (@Model.QuestionViewModel.QuestionPassage != null && @Model.QuestionViewModel.QuestionPassage.ID != 0)
                        {
                            @Html.HiddenFor(m => m.QuestionViewModel.QuestionPassage.ID)
                            <div id="header-editor">
                                <div id="headerLeft">
                                    <div editorfor="QuestionViewModel_QuestionPassage_Description" class="editable" contenteditable="true">
                                        @Html.Raw(@Model.QuestionViewModel.QuestionPassage.Description)
                                    </div>
                                    @Html.HiddenFor(m => m.QuestionViewModel.QuestionPassage.Description)
                                </div>
                            </div>
                        }
                            @*<div id="columns">*@
                            @*<div id="column1">*@
                        <div class="col-lg-12">
                            <div editorfor="QuestionViewModel_Description" class="editable col-lg-12" contenteditable="true">
                                @Html.Raw(Model.QuestionViewModel.Description)
                            </div>
                            @Html.HiddenFor(m => m.QuestionViewModel.Description)
                        </div>
                        <div style="clear: both;"></div>
                        @*</div>*@
                        @for (int i = 0; i < @Model.QuestionViewModel.AnswerViewModelList.Count(); i++)
                        {
                            string controlId = "QuestionViewModel_AnswerViewModelList_" + i + "__Description";                       
                            <div class="form-group">
                                @if (string.IsNullOrEmpty(Model.QuestionViewModel.QuestionType) || Model.QuestionViewModel.QuestionType.ToLower().Equals("single select"))
                                {   //Question type is single select
                                    @Html.RadioButtonFor(m => m.QuestionViewModel.CorrectAnswerID, @Model.QuestionViewModel.AnswerViewModelList[i].ID)
                                    @Html.HiddenFor(m => m.QuestionViewModel.AnswerViewModelList[i].Description)
                                    @Html.HiddenFor(m => m.QuestionViewModel.AnswerViewModelList[i].ID)
                                    <div  editorFor="@controlId"  class="col-lg-5 editable" contenteditable="true">
                                        @Html.Raw(Model.QuestionViewModel.AnswerViewModelList[i].Description)
                                    </div>
                                }
                                else if (Model.QuestionViewModel.QuestionType.ToLower().Equals("multi select"))
                                {
                                    @Html.CheckBoxFor(m => m.QuestionViewModel.AnswerViewModelList[i].isCorrect)
                                    @Html.HiddenFor(m => m.QuestionViewModel.AnswerViewModelList[i].Description)
                                    @Html.HiddenFor(m => m.QuestionViewModel.AnswerViewModelList[i].ID)
                                    <div  editorFor="@controlId"  class="col-lg-5 editable" contenteditable="true">
                                        @Html.Raw(Model.QuestionViewModel.AnswerViewModelList[i].Description)
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.QuestionViewModel.QuestionType.ToLower().Equals("open ended"))
                        {
                            @Html.HiddenFor(m => m.QuestionViewModel.Solution)
                            <div class="form-group">
                                @Html.LabelFor(m => m.QuestionViewModel.Solution, "Solution", new { @class = "col-lg-2 col-sm-2 control-label" })
                                <div class="col-lg-6 ">
                                    <div editorfor="QuestionViewModel_Solution" class="col-lg-5 editable form-control" contenteditable="true" style="min-height: 50px;">
                                        @Html.Raw(Model.QuestionViewModel.Solution)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="marksContainer">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Marks, "Marks", new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-1">
                                @Html.TextBoxFor(m => m.Marks, new { @class = "form-control txtMarks", onkeypress = "return IsValidMark(event,this)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 10px;">
                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/Upload/IndexTemp'">Back to list</button>
                        @if (@Model.SelectedIndex == 0)
                        {
                            <button type="submit" id="btnPrev" disabled="disabled" class="btn btn-info" name="selIndex" value="@prev">Prev</button>
                        }
                        else
                        {
                            <button type="submit" id="btnPrev" class="btn btn-info" name="selIndex" value="@prev">Prev</button>

                        }
                        @if (@Model.SelectedIndex == @Model.TotalQuestions - 1)
                        {
                            <button type="submit" id="btnFinish" class="btn btn-info" value="finish" name="selIndex">Finish</button>
                            <button type="submit" id="btnNext" disabled="disabled" class="btn btn-info" name="selIndex" value="@next">Next</button>
                        }
                        else
                        {
                            <button type="submit" id="btnFinish" disabled="disabled" class="btn btn-info" value="finish" name="selIndex">Finish</button>
                            <button type="submit" id="btnNext" class="btn btn-info" name="selIndex" value="@next">Next</button>
                        }
                        Jump to Question 
                        <select name="selIndex" onchange="this.form.submit();">
                            @for (int i = 0; i < @Model.TotalQuestions; i++)
                            {
                                int index = i + 1;
                                if (@Model.SelectedIndex == i)
                                {
                                <option selected="selected" value="@i">@index</option>
                                }
                                else
                                {
                                <option value="@i">@index</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                 <button type="button" class="btn btn-info" onclick="OpenSaveModal()"><i class="fa fa-plus "></i> Save</button>
            </section>
        </div>         
        <div class="col-sm-3 " style="min-height:621px;overflow-y:scroll;">
             <section class="panel">
                <header class="panel-heading"> Questions </header>
                 <div class="panel-body">        
                    @for (int q = 1; q <= Model.UploadedQuestions.Count(); q++)
                    {
                        string titleClass = "title" + @q;
                        string htmlClass = "raw" + @q;
                        string qDescription=Model.UploadedQuestions[q-1].QuestionPassage!=null? Model.UploadedQuestions[q-1].QuestionPassage.Description:"" ;
                        qDescription+=Model.UploadedQuestions[q - 1].Description;
                        int qIndex = q;
                        string qvalue = (q - 1).ToString();
                        
                        <div class="col-lg-1" style="padding-right: 30px;padding-top:4px;">
                            <input type="hidden" value="@qDescription" class="@htmlClass" />  
                            @*<button type="submit" class="btn btn-info @titleClass" onclick="myFunction()"/>*@                                 
                            <input type="submit" class="btn btn-info @titleClass" id="selIndex"  style="width:40px" name="selIndex" value="@q" title="" />
                            @*<button type="submit" id="btnNext" disabled="disabled" class="btn btn-info" name="selIndex" value="@next">Next</button>*@
                            @*@Html.Raw(Model.UploadedQuestions[q-1].Description.Substring(0,150))*@
                        </div>                
                    }
                 </div>
                 </section>
        </div>
    </div>
    }
    else
    {        
    <div class="alert alert-block alert-danger fade in">
        <strong>
            <center>There are no questions under this upload.</center>
        </strong>
    </div>
    <button type="button" class="btn btn-success" onclick="window.location.href = '/Upload/IndexTemp'">Back</button>
    }
}
<div class="modal fade" id="SaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Move Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to Move these records on QuestionBank.

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="MoveTempQuestionToActualQuestion()" type="button">Yes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">NO</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body alertContent">
            </div>
            <div style="clear: both;"></div>
            <div class="modal-footer">
                <button class="btn btn-default btnOk" type="button" onclick="window.location.href = '/Upload/IndexTemp'">OK</button>
                @*<button data-dismiss="modal" class="btn btn-default btnCloseTag" type="button" style="display:none">Close</button>*@
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="/Scripts/js/ckeditor/ckeditor.js"></script>
    <script>
        function IsValidMark(evt, obj) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            else {
                var enteredValue = parseInt(0);
                enteredValue = parseInt(String.fromCharCode(evt.which));
                if (enteredValue <= 9 && ($(obj).val().length < 1)) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }
        $(".editable").blur(function () {
            $("#" + $(this).attr("editorFor")).val($(this).html());
        });
        $(function () {
            for (var i = 1; i <=@Model.UploadedQuestions.Count(); i++) {
                var raw=$(".raw"+i).val();
                $(".title" + i)
                .tooltip({ content:raw });
            }
            //$(".text")
            //     .tooltip({ content: '<b style="color: red">Tooltip</b> <i>text</i>' });
        });       
        function myFunction()
        {
            document.getElementById("editor-container").html(data);
        }
//anu
        function OpenSaveModal() {
            var selectedQuestions = "";
            $(".chkSeperate:checked").each(function () {
                if (selectedQuestions == "") {
                    selectedQuestions = $(this).val();
                }
                else {
                    selectedQuestions = selectedQuestions + "," + $(this).val();
                }
            });
            //if (selectedQuestions == "") {
            //    ShowAlert("Please select ateast one question to Move");
            //}
            //else {
               OpenModal("SaveModal");
            //}
        }

        function MoveTempQuestionToActualQuestion() {
            var selectedQuestions = "";
            //$(".chkSeperate:checked").each(function () {
            //    if (selectedQuestions == "") {
            //        selectedQuestions = $(this).val();
            //    }
            //    else {
            //        selectedQuestions = selectedQuestions + "," + $(this).val();
            //    }
            //});
            if(selectedQuestions=="")
            {
                selectedQuestions=$(".id").val();
            }
                if (selectedQuestions == "") {
                    ShowAlert("Please select ateast one question to delete");
                }
                else {
                    OpenModal("loadingModal");
                    $.ajax({
                        url: "/Upload/MoveTempQuestionToActualQuestion",
                        type: "POST", 
                        data: {
                            uploadID: selectedQuestions,
                        },
                        success: QuestionsMoved
                    });
                }
        }
        function QuestionsMoved(response) {  
            //  ShowAlertThis(response + ' All the questions under these uploads are Moved succesffully');
            ShowAlertThis(' All the questions under these uploads are Moved succesffully');
        }
        function ShowAlertThis(alertContent) {
            $(".modal").modal('hide');
            $(".alertContent").html(alertContent);
            $("#alertModal").modal({
                show: true,
                backdrop: 'static',
            });
        }
    </script>
}