﻿@model OAP.Domain.ViewModel.PracticeSchoolViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

@*<h2>Create New Session</h2>*@

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="/Practice/Index">Sessions</a>
            </li>
            <li>
                <a class="current" href="#">Add New Session</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Create New Session
    </header>
    <div class="panel-body">
        <div class="position-center">
            @using (Html.BeginForm("Create", "Practice", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.SessionName, "Session Name", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.SessionName, new { @class = "txt form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Section1, "Section 1", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Section1, new { @class = "txt form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Section2, "Section 2", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Section2, new { @class = "txt form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Section3, "Section 3", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Section3, new { @class = "txt form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Section4, "Section 4", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Section4, new { @class = "txt form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => m.IsTechnicalSession, "Technical", new { @class = "col-lg-3 col-sm-3 control-label" })
                        @Html.RadioButtonFor(m => m.IsTechnicalSession, true,new {@class="col-sm-2"})

                        @Html.LabelFor(m => m.IsTechnicalSession, "Non-Technical", new { @class = "col-lg-3 col-sm-3 control-label" })
                        @Html.RadioButtonFor(m => m.IsTechnicalSession, false, new { @class = "col-sm-2" })
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-10">
                        <button type="submit" class="btn btn-info" name="save" id="submit" value="Save">Save</button>
                        <button type="button" class="btn btn-warning" onclick="window.location='/Practice/Index'">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" style="padding-left: 20px;" class="alertDetailContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btnCloseAlert" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section childScripts{
}
