﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a class="current" href="#">Practice School</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Session List
    </header>
    <div class="panel-body">
        <div style="clear: both;"></div>
        <div class="adv-table">
            <table class="display table table-bordered table-striped" id="dynamic-table" aria-describedby="editable-sample_info">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Add Levels</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="clear: both;"></div>

        <div class="uploadHolder">
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Practice/Create'"><i class="fa fa-plus"></i>Add Session </button>
        </div>
    </div>
</section>



<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div id="column" style="padding-left: 20px;" class="alertDetailContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btnCloseAlert" type="button">OK</button>
            </div>
        </div>
    </div>
</div>

@section childScripts{
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script>
        var popup = '@ViewBag.Saved';


        function BindSessionDataTable() {
            $(".chkAll").prop("checked", false);
            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Practice/List',
                "pagingType": "full_numbers",
                "columns": [
                    {
                        "data": "SessionName",
                    },
                ],
                "columnDefs": [{
                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        return '<a href="Edit/' + full.ID + '">' + data + '</a>';
                    }
                },
                    {
                        "targets": [1],
                        //"data": "download_link",
                        "bSortable": false,
                        "render": function (data, type, full) {
                            if (full.IsTechnicalSession)
                                return '<a href="Level/' + full.ID + '">' + "Add Levels" + '</a>';
                        }
                    }
                ]
            });
        }

        function OpenAlertModal(message) {
            $("#AlertModal").modal({
                show: true,
            });
            $(".alertDetailContainer").html('');
            $(".alertDetailContainer").html(message);
        }

        $(document).ready(function () {
            BindSessionDataTable();
            if (popup != "") {
                OpenAlertModal(popup);
            }
        });
    </script>
}
