﻿@model List<OAP.Domain.ViewModel.TechnicalQuestionViewModel>
@{
    ViewBag.Title = "Practice Level";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>


    <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
</head>

<body>

    @foreach (var question in Model)
    {
        <div class="col-md-12  ">
            <div class="panel panel-default active">
                <div class="panel-heading">
                    @question.Title
                    <span class="tools pull-right">
                        <button type="button" onclick="CallSolveQuestion(@question.ID,@question.PracticeSchoolLevelQuestionId)" class="btn btn-success">Solve Challange</button>
                    </span>
                </div>

                <div class="panel-body">
                    @question.Description
                </div>
            </div>
        </div>
    }


</body>

</html>
@section childScripts{
    <script>
        function CallSolveQuestion(id, practiceSchoolLevelQuestionId) {
            window.location.href = window.location.origin + "/PracticeSchool/SolveQuestion?questionID=" + id + "&practiceSchoolLevelQuestionId=" + practiceSchoolLevelQuestionId;
        }
    </script>>
}