﻿@using System.Collections.Generic;
@model  List<OAP.Domain.ViewModel.PracticeSchoolLevelModel>
@{
    ViewBag.Title = "Practice Level";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Technical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <section id="timeline">

        @foreach (var level in Model)
        {
            <article>
                <div class="inner active">
                    <span class="date">
                        <span style="cursor:pointer" align="center" onclick="CallQuestionDisplay(@level.ID)" class="month">Level @level.ID</span>
                    </span>
                    <h2>@level.LevelName</h2>
                    <p>
                        @level.LevelDescription
                    </p>
                </div>
            </article>
        }

        @*<article>
                <div class="inner">
                    <span class="date">

                        <span class="month">level 45</span>
                    </span>
                    <h2>Title</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
                        faucibus felis nec augue adipiscing, eget commodo libero mattis.
                    </p>
                </div>
            </article>
            <article>
                <div class="inner">
                    <span class="date">

                        <span class="month">Level 2</span>
                    </span>
                    <h2>Title</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
                        faucibus felis nec augue adipiscing, eget commodo libero mattis.
                    </p>
                </div>
                </div>
            </article>
            <article>
                <div class="inner">
                    <span class="date">

                        <span class="month">level 33</span>
                    </span>
                    <h2>Level 2</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
                        faucibus felis nec augue adipiscing, eget commodo libero mattis.
                    </p>
                </div>
            </article>
            <article>
                <div class="inner">
                    <span class="date">

                        <span class="month">level 343</span>
                    </span>
                    <h2>Level 2</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
                        faucibus felis nec augue adipiscing, eget commodo libero mattis.
                    </p>
                </div>
            </article>*@
    </section>



</body>

</html>


@section childScripts{
    <script>
        function CallQuestionDisplay(id) {
            window.location.href = window.location.origin + "/PracticeSchool/PracticeQuestionDisplay?levelId=" + id;
        }
    </script>
}
