﻿@model OAP.Domain.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Create";
    if (!string.IsNullOrEmpty(ViewBag.Layout))
    {
        Layout = ViewBag.Layout;
    }
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a  href="/Student/Index">Students</a>
            </li>
             <li>
                <a class="current" href="#">Add New</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="position-center">
            @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityRegistryNumber, "Register Number", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.UniversityRegistryNumber, new { @class = "txt form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.PasswordFor(m => m.Password, new { @class = "txt form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "txt form-control" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.FullName, "Full Name", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "txt form-control" })
                    </div>
                </div>
                
                  <div class="form-group">
                    @Html.LabelFor(m => m.EmailId, "Email Address", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "txt form-control" })
                        @Html.ValidationMessageFor(m => m.EmailId)
                    </div>
                </div>
              
               
                <div class="form-group">
                    @Html.LabelFor(m => m.BranchID, "Department", new { @class = "col-lg-3 col-sm-3 control-label" })
                    <div class="col-lg-5">
                        @Html.DropDownListFor(m => m.BranchID, new SelectList(ViewBag.Branches, "ID", "Name"), "Select", new { @class = "ddlBranch form-control m-bot15", onchange = "GetEndYear()" })
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-10">
                        <button type="submit" class="btn btn-info" name="save" id="submit" value="Save">Save</button>
                        <button type="button" class="btn btn-warning" onclick="window.location='/Student/Index'">Cancel</button>
                    </div>
                </div>     
            }
        </div>
    </div>
</section>
<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div id="column3" style="padding-left: 20px;" class="alertDetailContainer">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btnCloseAlert" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section childScripts{
    <script src="~/Scripts/OAPSmart/Student.js"></script>

}