﻿@model OAP.Domain.ViewModel.StudentViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
    string controller = ViewBag.Controller;
    string action = ViewBag.Action;
    string title = ViewBag.PageTitle;
    string returnUrl = ViewBag.ReturnUrl;
}


<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumbs-alt">
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="/Student/Index">Students</a>
            </li>
            <li>
                <a class="current" href="#">Mass Upload</a>
            </li>
        </ul>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div class="position-center">
            @using (Html.BeginForm(action, controller, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
            
                
                <div class="form-group">
                    @Html.LabelFor(m => m.BranchID, "Department", new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-5">
                        @Html.DropDownListFor(m => m.BranchID, new SelectList(ViewBag.Branches, "ID", "Name"), "Select", new { @class = "ddlBranch form-control m-bot15", onchange = "AllowMassUpload()" })
                    </div>
                </div>
            
               <div class="form-group">
                <div class="controls col-lg-offset-2 col-lg-10">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-white btn-file">
                            <span class="fileupload-new"><i class="fa fa-paper-clip"></i>Choose file</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i>Change</span>
                            <input type="file" name="file" id="file" class="default massUploadFile  xl" />
                        </span>
                        <span class="fileupload-preview" style="margin-left: 5px;"></span>
                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left: 5px;"></a>
                        <p class="help-block uploadFileSizeError ImageError"></p>
                    </div>
                </div>
            </div>
                <div class="form-group ">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-5"><a href="~/DownloadTemplate/StudentUpload.xlsx">Download Template</a></div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Upload </button>
                        <button type="button" class="btn btn-warning" onclick="window.location='/@returnUrl'">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section childScripts{
    <script>
        $(document).ready(function () {
            $("#file").prop('disabled', true);
        });
    </script>
    <script src="~/Scripts/OAP/FileValidator.js"></script>
    <script src="~/Scripts/OAP/Student.js"></script>

}