﻿@model OAP.Domain.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    int i = 1;
}

@*<div class="row">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="gauge-canvas">
                        <h4 class="widget-h">Monthly Expense</h4>
                        <canvas width="160" height="100" id="gauge"></canvas>
                    </div>
                    <ul class="gauge-meta clearfix">
                        <li id="gauge-textfield" class="pull-left gauge-value"></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>*@
@if (Model.AssessmentViewModelList != null)
{
    <input type="hidden" class="hdnTotalExamMark" value="@string.Join(",", Model.AssessmentViewModelList.Select(x => x.Marks).ToArray())" />
    <input type="hidden" class="hdnFinishTime" value="@string.Join(",", Model.AssessmentViewModelList.Select(x => x.FinishTime).ToArray())" />
    <input type="hidden" class="hdnStartTime" value="@string.Join(",", Model.AssessmentViewModelList.Select(x => x.StartTime).ToArray())" />
    <input type="hidden" class="hdnTime" value="@string.Join(",", Model.AssessmentViewModelList.Select(x => x.TimeTaken).ToArray())" />
    <input type="hidden" class="hdnName" value="@string.Join(",", Model.AssessmentViewModelList.Select(x => x.Name).ToArray())" />
}
<div class="row">
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <a href="/Dashboard/TestList" target="_blank">            
            @*<a href="/Test/List" target="_blank">*@            
            <span class="mini-stat-icon orange"><i class="fa fa-th-list"></i></span>
                <div class="mini-stat-info">
                    <span>@Model.ScheduledTestCount</span>
                    Scheduled Tests
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <a href="/Dashboard/TestList" target="_blank">            
            <span class="mini-stat-icon tar"><i class="fa fa-th-list"></i></span>
            @*<a href="/Dashboard/TestList" target="_blank">*@
                <div class="mini-stat-info">
                    <span>@Model.TakenTestCount</span>
                    Attended Test Count
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <a href="/Dashboard/TestList" target="_blank">            
            <span class="mini-stat-icon pink"><i class="fa fa-th-list"></i></span>
                <div class="mini-stat-info">
                    <span>@Model.RemainingTestCount</span>
                    No of Test yet to be taken
                </div>
            </a>
        </div>
    </div>
</div>


@*<div class="row">
    @foreach (var assessment in Model.AssessmentViewModelList)
    {
        string uniqueGuageID = "assessmentGuage" + assessment.ID;
        string uniqueGuageTextID = "txtGuage" + assessment.ID;
        <div class="col-md-3">
            <section class="panel">
                <div class="panel-body">
                    <div class="top-stats-panel">
                        <div class="gauge-canvas">
                            <h4 class="widget-h">@assessment.Name</h4>

                            <canvas width="160" height="100" id="@uniqueGuageID" style="cursor:pointer;" onclick="OpenAssessmentReport(@assessment.ID)"></canvas>
                        </div>
                        <ul class="gauge-meta clearfix">
                            <li id="@uniqueGuageTextID" class="pull-left gauge-value"></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    }
</div>*@

@*<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="gauge-canvas">
                        <h4 class="widget-h">Monthly Expense</h4>
                        <canvas width="160" height="100" id="gauge1"></canvas>
                    </div>
                    <ul class="gauge-meta clearfix">
                        <li id="gauge-textfield1" class="pull-left gauge-value"></li>
                        <li class="pull-right gauge-title">Safe</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>*@
<div class="row">
    <div class="col-sm-12">
        <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
            <header class="panel-heading">
                Performance Report (Based On Marks)
            </header>
            <div class="panel-body">
                <div class="legend">
                    <div style="position: absolute; width: 70px; height: 54px; top: 5px; right: 5px; opacity: 0.85;">
                    </div>
                    @*<table style="position: absolute; top: 5px; right: 25px; font-size: smaller; color: #545454">
                        <tbody>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border: 1px solid #ccc; padding: 1px">
                                        <div style="width: 4px; height: 0; border: 5px solid rgb(230,122,119); overflow: hidden"></div>
                                    </div>
                                </td>
                                <td class="legendLabel">Attended</td>
                            </tr>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border: 1px solid #ccc; padding: 1px">
                                        <div style="width: 4px; height: 0; border: 5px solid rgb(217,221,129); overflow: hidden">
                                        </div>
                                    </div>
                                </td>
                                <td class="legendLabel">Correct</td>
                            </tr>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border: 1px solid #ccc; padding: 1px">
                                        <div style="width: 4px; height: 0; border: 5px solid rgb(121,209,207); overflow: hidden">
                                        </div>
                                    </div>
                                </td>
                                <td class="legendLabel">Unattended</td>
                            </tr>

                        </tbody>
                    </table>*@
                </div>
                <div id="graph-bar"></div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel" style="font-size: 16px; padding: 15px; display: inline-block; font-weight: normal; background: white; width: 100%; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px;">
            <header class="panel-heading">
                Performance Report (Based On Time)
            </header>
            <div class="panel-body">
                <div class="legend">
                    <div style="position: absolute; width: 70px; height: 54px; top: 5px; right: 5px; opacity: 0.85;">
                    </div>
                    @*<table style="position: absolute; top: 5px; right: 25px; font-size: smaller; color: #545454">
                        <tbody>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border: 1px solid #ccc; padding: 1px">
                                        <div style="width: 4px; height: 0; border: 5px solid rgb(230,122,119); overflow: hidden"></div>
                                    </div>
                                </td>
                                <td class="legendLabel">Attended</td>
                            </tr>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border: 1px solid #ccc; padding: 1px">
                                        <div style="width: 4px; height: 0; border: 5px solid rgb(217,221,129); overflow: hidden">
                                        </div>
                                    </div>
                                </td>
                                <td class="legendLabel">Correct</td>
                            </tr>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border: 1px solid #ccc; padding: 1px">
                                        <div style="width: 4px; height: 0; border: 5px solid rgb(121,209,207); overflow: hidden">
                                        </div>
                                    </div>
                                </td>
                                <td class="legendLabel">Unattended</td>
                            </tr>

                        </tbody>
                    </table>*@
                </div>
                <div id="graph-bar1"></div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="sectionPerformanceReportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 class="modal-title">Section-Performance</h4>
            </div>
            <div class="modal-body sectionPerformanceReportModalBody" style="height: 500px; overflow: scroll;">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default btnSectionPerformanceReportModal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section childScripts{
    
    @* <--Commented by anu--> 
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Content/bs3/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/js/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Scripts/js/jquery.nicescroll.js"></script>*@
    @*<script src="~/Scripts/OAPSmart/JsPDF.js"></script>*@
    @*<script src="~/Scripts/OAPSmart/Report.js"></script>*@
    <script src="~/Scripts/js/advanced-datatable/js/jquery.dataTables.js"></script>
    @*<script src="~/Scripts/js/easypiechart/jquery.easypiechart.js"></script>*@
    <script src="~/Scripts/js/sparkline/jquery.sparkline.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/morris-chart/morris.js"></script>
    <script src="~/Scripts/js/morris-chart/raphael-min.js"></script>
    @*<script src="~/Scripts/js/morris.init.js"></script>*@
   
    <script>
        //...Anu
        //function FillGuageMeter() {
        //    var opts = {
        //        lines: 12, // The number of lines to draw
        //        angle: 0, // The length of each line
        //        lineWidth: 0.48, // The line thickness
        //        pointer: {
        //            length: 0.6, // The radius of the inner circle
        //            strokeWidth: 0.03, // The rotation offset
        //            color: '#464646' // Fill color
        //        },
        //        limitMax: 'true', // If true, the pointer will not go past the end of the gauge
        //        colorStart: '#fa8564', // Colors
        //        colorStop: '#fa8564', // just experiment with them
        //        strokeColor: '#F1F1F1', // to see which ones work best for you
        //        generateGradient: true
        //    };

        //    var target = document.getElementById('gauge1'); // your canvas element
        //    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        //    gauge.maxValue = 3000; // set max gauge value
        //    gauge.animationSpeed = 32; // set animation speed (32 is default value)
        //    gauge.set(2500); // set actual value
        //    gauge.setTextField(document.getElementById("gauge-textfield1"));
        //}

        //function FillGuage(assessmentID, averageScore, scored) {

        //    //alert("assessmentID   =" + assessmentID + "  averageScored=  " + average + "   scored= " + score);

        //    var opts = {
        //        lines: 12, // The number of lines to draw
        //        angle: 0, // The length of each line
        //        lineWidth: 0.48, // The line thickness
        //        pointer: {
        //            length: 0.6, // The radius of the inner circle
        //            strokeWidth: 0.03, // The rotation offset
        //            color: '#464646' // Fill color
        //        },
        //        limitMax: 'false', // If true, the pointer will not go past the end of the gauge
        //        colorStart: '#fa8564', // Colors
        //        colorStop: '#fa8564', // just experiment with them
        //        strokeColor: '#F1F1F1', // to see which ones work best for you
        //        generateGradient: true
        //    };

        //    var target = document.getElementById('assessmentGuage' + assessmentID); // your canvas element
        //    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        //    gauge.maxValue = averageScore; // set max gauge value
        //    gauge.animationSpeed = 32; // set animation speed (32 is default value)

        //    if (scored == 0 || scored == 0.0) {
        //        gauge.set("0");
        //    }
        //    else {
        //        gauge.set(scored); // set actual value
        //    }
        //    gauge.setTextField(document.getElementById("txtGuage" + assessmentID));
        //}

        //function ProcessAssessmentGuages() {
        //    $.ajax({
        //        url: "/Dashboard/GetAssessmentScores",
        //        type: "POST",
        //        success: function (data) {
        //            data = $.parseJSON(data);
        //            $.each(data, function (i, item) {
        //                FillGuage(item.AssessmentID, item.AveragePercentile, item.ScoredPercentile);
        //                RankStatusLoader(data);
        //            });
        //        }
        //    });
        //}

        function RankStatusLoader(data) { }

        function UpdateRank() {
            $.ajax({
                type: 'POST',
                url: '/Dashboard/UpdateRankDetails',
                success: function (data) {
                    var result = data;
                    //$.each(data, function (i, item) {
                    //    FillGuage(item.JobID, item.Completed, item.Total);
                    //    FillEmployeeStatusProgressBars(item.JobID);
                    //});
                    alert(result);
                    if (result = "True") {
                        window.location.reload();
                    }
                }
            });
        }
        function BindColleteDataTable() {
            $('#dynamic-table').dataTable({
                "destroy": true,
                "processing": true,
                "serverSide": true,
                'ajax': '/Dashboard/StudentList',
                "pagingType": "full_numbers",
                "columns": [
                { "data": "AssessmentName" },
                { "data": "DateString" },
                { "data": "Mark" },
                { "data": "BatchRank" },
                //{ "data": "DepartmentRank" },
                { "data": "CollegeRank" },
                { "data": "NationalRank" },
                //{ "data": "InternationalRank" },
                { "data": "LastUpdatedDateString" }
                ],
                "columnDefs": [{

                    "targets": [0],
                    "data": "download_link",
                    "render": function (data, type, full) {
                        //  return '<a href="/Report/SectionPerformancePieReport/' + full.AssessmentID + '">' + data + '</a>';
                        return '<a href="#" onclick="OpenSectionPerformanceReport(' + full.AssessmentID + ')">' + data + '</a>';
                    }
                    //},
                    //{
                    //    "targets": [2],
                    //    "bSortable": false,
                    //    "data": "download_link",
                    //    "render": function (data, type, full) {
                    //        return '<input type="checkbox" class="chkSeperate" value="' + full.ID + '" />';
                    //    }
                }
                ]
            });
        }

        var Assessment = new Array();
        var AssessmentTimeArray = new Array();
        var AttendedAnswerPercentage = new Array();

        var label = new Array();
        function GetChartLabels() {
            label.push("Marks");
          

            return label;
        }
        function GetChartLabels2() {
            label = new Array();
            label.push("Time(in Minutes)");


            return label;
        }
        function GetAttendedExamMarks() {
            var AttendedAnswerPercentageString = $(".hdnTotalExamMark").val().split(',');

            //AttendedAnswerPercentage.push(parseInt(100));
            for (var i = 0; i < AttendedAnswerPercentageString.length; i++) {
                AttendedAnswerPercentage.push(parseInt(AttendedAnswerPercentageString[i]));
            }
            return AttendedAnswerPercentage;
        }
        function GetAttendedTime() {
            var Timetaken = $(".hdnTime").val().split(',');

            //AttendedAnswerPercentage.push(parseInt(100));
            for (var i = 0; i < Timetaken.length; i++) {
                //var timeTaken= diff(FinishTime[i], StartTime[i]);
                var Time = Timetaken[i].split(":");
                var TimeValue = parseInt((Time[0] * 60) + (Time[1]) + parseInt(Time[2] / 60));
                //var timeTaken = (TimeValue.getTime());
                AssessmentTimeArray.push(TimeValue);
            }
            return AssessmentTimeArray;
        }


        function GetAssessments() {
            Assessment = new Array();
            var SectionString = $(".hdnName").val().split(',');

            for (var i = 0; i < SectionString.length; i++) {
                Assessment.push(SectionString[i]);
            }

            return Assessment;
        }

        var Value = new Array();
        function BindingValues() {
            Value = new Array();
            GetAssessments();
            GetAttendedExamMarks();
            for (var i = 0; i < Assessment.length ; i++) {
                Value.push({ x: Assessment[i], y: AttendedAnswerPercentage[i]});
                //Value.push({ x: Assessment[i], y: AttendedAnswerPercentage[i], z: correctAnswerPercentage[i], a: UnattendedAnswerPercentage[i] });
            }
            return Value;
        }
        function BindingTimeValues() {
            Value = new Array();
            Assessment = new Array();
            GetAssessments();
            GetAttendedTime();
            for (var i = 0; i < Assessment.length ; i++) {
                Value.push({ x: Assessment[i], y: AssessmentTimeArray[i] });
                //Value.push({ x: Assessment[i], y: AttendedAnswerPercentage[i], z: correctAnswerPercentage[i], a: UnattendedAnswerPercentage[i] });
            }
            return Value;
        }


        //legend: {
        //        show: true
        //},



        Morris.Bar({

            element: 'graph-bar',
            data: BindingValues(),
            xkey: 'x',
            ykeys: ['y'],
            labels: GetChartLabels(),
           // barColors: ['#E67A77', '#D9DD81', '#79D1CF']
            barColors: ['#79D1CF', '#009966', '#E26561']

        });

        Morris.Bar({

            element: 'graph-bar1',
            data: BindingTimeValues(),
            xkey: 'x',
            ykeys: ['y'],
            labels: GetChartLabels2(),
           // barColors: ['#D9DD81', '#E67A77', '#79D1CF']
            barColors: ['#79D1CF', '#009966', '#E26561']

        });

        $(document).ready(function () {


            $('.modal').modal('hide');
            var student = $(".hdnregisterUser").val();
            if (student != "True") {
                BindColleteDataTable();
            }
            $(".btnModalClose").click();
            /*Knob*/
          //  FillGuageMeter();
            //ProcessAssessmentGuages();

        });


        function OpenSectionPerformanceReport(AssessmentID) {
            $(".sectionPerformanceReportModalBody").html('Loading Please Wait.....');
            $("#sectionPerformanceReportModal").modal({
                show: true,
                backdrop: 'static',
            });
            $.ajax({
                type: 'POST',
                url: '/Report/SectionPerformancePieReport',
                data: {
                    ID: AssessmentID,
                },
                success: function (response) {
                    $(".sectionPerformanceReportModalBody").html('');
                    $(".sectionPerformanceReportModalBody").html(response);
                },

            });
        }
        $(".btnSectionPerformanceReportModal").click(function () {
            $(".sectionPerformanceReportModalBody").html('');
        });
        function diff(start, end) {
            start = start.split(":");
            end = end.split(":");
            var startDate = new Date(0, 0, 0, start[0], start[1], 0);
            var endDate = new Date(0, 0, 0, end[0], end[1], 0);
            var diff = endDate.getTime() - startDate.getTime();
            var hours = Math.floor(diff / 1000 / 60 / 60);
            diff -= hours * 1000 * 60 * 60;
            var minutes = Math.floor(diff / 1000 / 60);

            // If using time pickers with 24 hours format, add the below line get exact hours
            if (hours < 0)
                hours = hours + 24;

            return (hours <= 9 ? "0" : "") + hours + ":" + (minutes <= 9 ? "0" : "") + minutes;
        }
    </script>
}


